.artalk {
  margin-top: 20px;

  // 全局变量定义
  --at-color-main: #666 !important;
  --at-color-pink: var(--text-highlight-color) !important;
  --at-color-light: var(--text-highlight-color) !important;
  --at-color-meta: #999 !important;
  --at-color-border: #ddd !important;

  @include dark {
    --at-color-gradient: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      #242021
    ) !important;
    --at-color-bg: var(--background-card-dark-color) !important;
    --at-color-border: #332d2f !important;
    --at-color-meta: #666 !important;
    --at-color-font: #bbb !important;
    --at-color-bg-grey: #332d2e !important;
  }

  &.atk-dark-mode {
    @include dark {
      --at-color-grey: var(--text-info-dark-color) !important;
    }
  }

  &.hidden {
    display: none;
  }

  // 隐藏部分原生元素
  > .atk-list > .atk-list-header {
    display: none !important;
  }
  > .atk-list > .atk-list-footer {
    bottom: auto !important;
  }
}

.atk-list-read-more .atk-list-read-more-inner {
  padding: 0 !important;
  font-size: 0.95rem !important;
  border-radius: 99px !important;
  display: flex;
  height: 35px !important;
  width: 120px;
  margin: 0 auto !important;
  background: transparent !important;
  border-color: transparent !important;
  border: 1px solid var(--text-highlight-color) !important;

  &:hover {
    opacity: 0.8;
  }
  .atk-text {
    color: var(--text-highlight-color) !important;
  }

  @include dark {
    border: 1px solid var(--text-highlight-dark-color) !important;
    .atk-text {
      color: var(--text-highlight-dark-color) !important;
    }
  }
}

.atk-list-read-more {
  border-top: none !important;
  margin-top: 20px !important;
  padding-bottom: 20px !important;
}

.atk-comment > .atk-main > .atk-header .atk-item {
  color: var(--text-info-color);
  @include dark {
    color: var(--text-info-dark-color) !important;
  }
}
.atk-comment {
  padding: 10px 0 !important;

  > .atk-main {
    margin-left: 34px !important;

    > .atk-header {
      margin-bottom: 0px !important;
      @include dark {
        color: var(--text-content-dark-color) !important;
      }
    }

    > .atk-body > .atk-content img {
      width: 1.1rem !important;
    }

    > .atk-footer .atk-actions > span {
      @include dark {
        color: var(--text-info-dark-color) !important;
      }
      &:hover {
        color: #999 !important;
      }
    }
  }

  .atk-height-limit:after {
    margin-bottom: 20px;
  }
}

.atk-content {
  line-height: 1.5 !important;
  color: var(--text-content-color) !important;
  @include dark {
    color: var(--text-content-dark-color) !important;
  }

  p {
    font-size: 1rem !important;
    color: var(--text-content-color) !important;
    @include dark {
      color: var(--text-content-dark-color) !important;
    }
  }

  img {
    max-height: 1.1rem !important;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -4px !important;
  }

  @include dark {
    color: var(--text-content-dark-color) !important;
  }
}

.atk-comment-children > .atk-comment-wrap {
  margin-top: 6px !important;

  > .atk-comment {
    padding: 0px !important;
    margin: auto;
  }
}

.atk-avatar img {
  border-radius: 50% !important;
}

.atk-comment > .atk-avatar img {
  width: 24px !important;
  height: 24px !important;
  margin-top: 8px;
}

.atk-textarea {
  min-height: 100px !important;
  padding: 10px !important;

  @include dark {
    color: var(--text-content-dark-color) !important;
    font-size: 1.1rem;
    background: transparent !important;
    &::placeholder {
      color: var(--text-info-dark-color) !important;
    }
  }
}

.atk-item.atk-nick {
  color: var(--text-content-color) !important;
  font-weight: bold;

  @include dark {
    color: var(--text-content-dark-color) !important;
  }

  a {
    color: #999 !important;
    @include dark {
      color: var(--text-info-dark-color) !important;
    }
  }
}

.atk-item.atk-reply-at > .atk-nick {
  @include dark {
    color: var(--text-info-dark-color) !important;
  }
}

.atk-ua {
  color: #999 !important;
  background: var(--frame-color) !important;

  @include dark {
    color: #666 !important;
    background: var(--background-card-dark-color) !important;
  }
}

.atk-ua-wrap {
  font-size: 0.85rem;
}

.atk-list-no-comment,
.atk-copyright,
.atk-copyright a {
  color: var(--text-info-color) !important;
  @include dark {
    color: var(--text-info-dark-color) !important;
  }
}

.atk-badge {
  display: none !important;
}

.atk-send-btn {
  padding: 4px 12px !important;
  min-width: 5em !important;
  background: transparent !important;
  border: 1px solid var(--text-highlight-color) !important;
  border-radius: 99px !important;
  color: var(--text-highlight-color) !important;

  &:hover {
    opacity: 0.6;
  }

  @include dark {
    border: 1px solid var(--text-highlight-dark-color) !important;
    color: var(--text-highlight-dark-color) !important;
  }
}

.atk-list-header .atk-dropdown-wrap .atk-dropdown-item.active span,
.atk-list-header .atk-dropdown-wrap .atk-dropdown-item span:hover {
  color: var(--text-highlight-color) !important;
}

.atk-editor-plug-emoticons
  > .atk-grp-wrap
  > .atk-grp[data-type="image"]
  > .atk-item {
  height: 32px !important;
  width: 32px !important;
}

.atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp > .atk-item {
  font-size: 24px !important;
  padding: 0 !important;
}

.atk-notify.atk-fade-in {
  background: #666 !important;
  margin-bottom: 6px;
}

.atk-pinned-badge {
  background: #999 !important;
  @include dark {
    color: var(--text-content-dark-color) !important;
    background: #666 !important;
  }
}

.atk-send-reply {
  background: none !important;
}

.atk-reply-to {
  border-left: 3px solid #fff !important;
  @include dark {
    border-left: 3px solid #242021 !important;
  }
}

.atk-plug-panel-wrap {
  height: 110px !important;
}

img[atk-emoticon] {
  max-height: 20px !important;
}

.atk-bottom {
  padding: 5px 10px 10px 5px !important;
}

.atk-main-editor {
  border: 1px solid #eae8e5 !important;
  border-radius: 16px !important;
  background: transparent !important;

  @include dark {
    background: transparent !important;
    border: 1px solid #28282b !important;
  }

  .atk-header {
    padding: 10px 5px 0 !important;
    color: var(--text-content-color) !important;
    @media (max-width: 700px) {
      display: block !important;
    }
    @include dark {
      color: var(--text-content-dark-color) !important;
      input::placeholder {
        color: var(--text-info-dark-color) !important;
      }
    }
  }

  > .atk-plug-panel-wrap {
    border-top: 0.5px solid var(--at-color-border) !important;
  }

  > .atk-textarea-wrap > .atk-textarea {
    background: transparent !important;
    line-height: 1.7 !important;
    font-size: 1.05rem !important;
  }

  > .atk-bottom .atk-state-btn {
    @include dark {
      background: var(--background-card-dark-color) !important;
    }
    .atk-text-wrap {
      color: #999;
      @include dark {
        color: #666;
      }
    }
  }
}
.atk-plug-btn {
  svg {
    color: var(--text-info-color);
    @include dark {
      color: var(--text-info-dark-color);
    }
  }
}
.artalk code {
  border: 1px solid #ffbe98 !important;
  border-radius: 4px !important;
  background: transparent !important;
  margin: 0 4px !important;
}

.pinglun {
  @include dark {
    color: var(--text-content-dark-color);
  }
}
