// 博客列表页
.page-blog-list .wrapper {
  padding: 0 15px;
}
// 1. 文章列表容器
.posts-new {
  display: grid;
  gap: 30px;

  @include breakpoint("medium") {
    gap: 40px;
  }
}

.posts-background {
  position: relative;
  overflow: hidden;
}

// 2. 标题
.posts-title a {
  font-family: var(--font-family-title);
  font-size: 1.4rem;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

// 3. 描述
.posts-description {
  line-height: 1.55;
  font-size: 1.1rem;
  margin: 3px 0;
  color: var(--text-content-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  @include breakpoint("medium") {
    line-height: 1.65;
  }

  // 暗黑模式内聚
  @include dark {
    color: var(--text-content-dark-color);
  }
}

// 4. 下半部列表容器
.posts_list {
  display: grid;
  gap: 10px;
  margin-top: 30px;
  @include breakpoint("medium") {
    grid-template-columns: repeat(2, 1fr);
  }
}

// 文章卡片样式
.posts_list_article {
  border-radius: 16px;
  background: var(--background-card-color);
  padding: 15px;
  border: 1px solid var(--background-card-border-color);
  display: grid;
  gap: 4px;
  @include breakpoint("medium") {
    padding: 12px;
  }
  @include dark {
    background: var(--background-card-dark-color);
    border: 1px solid var(--background-card-border-dark-color);
  }
}

.post-biaoji {
  display: flex;
  gap: 4px;
  font-size: 0.9rem;
  align-items: center;
}
.post-biaoji-xinxi {
  color: var(--text-highlight-color);
  @include dark {
    color: var(--text-highlight-dark-color);
  }
}
// 5. 图片区域
.posts-img {
  margin: 10px 0;
  overflow: hidden;
  aspect-ratio: 5.3 / 3;
  border-radius: 16px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 16px;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.posts-time-new {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  margin-top: 10px;
}

// 时间样式
.archive-time {
  font-size: 0.9rem;
  color: var(--text-info-color);
  font-family: var(--font-family-code);

  // 暗黑模式内聚
  @include dark {
    color: var(--text-info-dark-color);
  }
}

//tag筛选列表页
.tag-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  .index-post-title {
    font-size: 1.1rem;
  }
  @include breakpoint("medium") {
    grid-template-columns: repeat(2, 1fr);
    .index-post {
      grid-column: span 1;
    }
    .laodao-card {
      grid-column: 1 / -1;
    }
  }
}

//tag显示
.single-tag-c,
.single-tag-c a {
  font-size: 0.9rem;
  color: var(--text-info-color);
  display: inline-block;
  @include dark {
    color: var(--text-info-dark-color);
  }
}
