{{ define "body_classes" }}page-blog-list{{ end }}

{{ define "main" }}
{{ $contentTypeName := default "posts" site.Params.contentTypeName }}

{{ $context := . }}
{{ if .IsHome }}
  {{ $context = site }}
{{ end }}
{{ $pages := where $context.RegularPages "Type" $contentTypeName }}

{{ with $pages }}
<div class="posts-new">
  {{ range first 4 . }}
  {{ $p := . }} 
  <div class="posts-background img-hide"> 
      <div class="posts-title">
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      </div>     
      {{ with .Params.image }}
      <div class="posts-img img-hide">
        <a href="{{ $p.RelPermalink }}">
          <img loading="lazy" decoding="async" src="{{ . | relURL }}" alt="{{ $p.Title }}" />
        </a>          
      </div>
      {{ end }}
      <div class="posts-description">{{ .Params.description }}</div>    
      <div class="posts-time-new">
          <time class="archive-time posts-time twitter-time" data-time="{{ .Date.Unix }}"></time>  
          {{ with .GetTerms "tags" }}
            {{ range . }}
              <div class="single-tag-c">#<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
            {{ end }}
          {{ end }}
      </div>
  </div>
  {{ end }}
</div>
<div class="posts_list">
  {{ range after 4 . }}
  <div class="posts_list_article img-hide"> 
      <div class="archive-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      <time class="archive-time twitter-time" data-time="{{ .Date.Unix }}"></time> 
  </div>
  {{ end }}
</div>
{{ end }}

{{ end }}