{{ define "body_classes" }}page-blog-single{{ end }}
{{ define "main" }} 
    <div class="article_details">
      <div class="article_details_title">{{ .Title }}{{ if .Site.Params.addDot }}{{ end }}</div>
      {{ if .Params.image }}
      <img src="{{ .Params.image | relURL }}" class="top-img img-hide" />
      {{ end }}
    </div>
    <div class="content_zhengwen">
    <div class="content">
      {{ .Content }}
    </div>
    <div class="single-biaoq">
 <div class="page-time">更新于 
  <script>
    document.write(formatDate({{ .Date.Unix }})); 
  </script>
 </div>
 <div class="single-tag">
     {{ with .GetTerms "tags" }}
          {{ range . }}
     <div class="single-tag-c">#<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
          {{ end }}
          {{ end }}
 </div>
  </div> 
 </div>
    <div class="archives_nrong" >
      {{ with .PrevInSection }}
        <div class="archives_one">
          <div>
            <div class="archive-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
            <div class="archive-time">
              <script>
                document.write(formatDate({{ .Date.Unix }})); 
              </script>
            </div>
            </div>
            <div class="archive-img">
            <a href="{{ .RelPermalink }}"><img loading="lazy" decoding="async" src="{{ .Params.image | relURL }}" /></a>          
            </div>
        </div>
      {{ end }}
      {{ with .NextInSection }}
      <div class="archives_one">
        <div>
          <div class="archive-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
          <div class="archive-time">
            <script>
              document.write(formatDate({{ .Date.Unix }})); 
            </script>
          </div>
          </div>
          <div class="archive-img">
          <a href="{{ .RelPermalink }}"><img loading="lazy" decoding="async" src="{{ .Params.image | relURL }}" /></a>          
          </div>
      </div>
    {{ end }}
      </div>
      <!----评论加载-->
      <div id="MoreComments" onclick="loadComments()">评论一下 ...</div>
      <div class="article-comments" id="articlecomments" style="display: none;">
        {{- partial "artalk" . -}}
      </div> 
      <script>
        //评论默认隐藏
      function loadComments() {
        var articlecomments = document.getElementById("articlecomments");
        var MoreComments = document.getElementById("MoreComments");      
        articlecomments.style.display = "block";
        MoreComments.style.display = "none";     
        var buttonRect = MoreComments.getBoundingClientRect();
        window.scroll({
          top: window.scrollY + buttonRect.top + 300,
          behavior: 'smooth'
        });
      }
      //评论跳转中间页
      document.body.addEventListener('click', function(e) {
        let target = e.target.closest('.atk-comment-wrap a');
        if (target) {
            e.preventDefault();
            let encodedUrl = btoa(target.href);
            let url = '/tiaozhuan?target=' + encodedUrl;
            window.open(url, '_blank');
        }
      });
      </script>     
{{ end }}