{{ define "body_classes" }}page-blog-single{{ end }}
{{ define "main" }} 
<div class="single-nrong">
<div class="single-zw">
    <div class="article_details">
      <div class="article_details_title">{{ .Title }}{{ if .Site.Params.addDot }}{{ end }}</div>
      {{ if .Params.image }}
      <img src="{{ .Params.image | relURL }}" class="top-img img-hide" />
      {{ end }}
    </div>
    <div class="content_zhengwen">
    <div class="content">
      {{ .Content }}
    </div>
    <div class="single-biaoq">
 <div class="page-time">更新于 
  <script>
    document.write(formatDate({{ .Date.Unix }})); 
  </script>
 </div>
 <div class="single-tag">
     {{ with .GetTerms "tags" }}
          {{ range . }}
     <div class="single-tag-c">#<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
          {{ end }}
          {{ end }}
 </div>
  </div> 
 </div>
 <!-- 上一篇下一篇文章 -->
 <div class="archives_nrong" >
  {{ with .PrevInSection }}
    <div class="archives_one">
      <div>
        <div class="archive-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
        <div class="archive-time">
          <script>
            document.write(formatDate({{ .Date.Unix }})); 
          </script>
        </div>
        </div>
        <div class="archive-img">
        <a href="{{ .RelPermalink }}"><img loading="lazy" decoding="async" src="{{ .Params.image | relURL }}" /></a>          
        </div>
    </div>
  {{ end }}
  {{ with .NextInSection }}
    <div class="archives_one">
      <div>
        <div class="archive-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
        <div class="archive-time">
          <script>
            document.write(formatDate({{ .Date.Unix }})); 
          </script>
        </div>
        </div>
        <div class="archive-img">
        <a href="{{ .RelPermalink }}"><img loading="lazy" decoding="async" src="{{ .Params.image | relURL }}" /></a>          
        </div>
    </div>
  {{ else }}
    <!-- 如果没有下一篇文章，则从所有文章中随机选择一篇作为推荐 -->
    {{ $pages := where site.RegularPages "Type" "posts" }}
    {{ $randomPage := index $pages (add (mod (now.Unix) (len $pages)) 1) }}
    <div class="archives_one">
      <div>
        <div class="archive-title"><a href="{{ $randomPage.RelPermalink }}">{{ $randomPage.Title }}</a></div>
        <div class="archive-time">
          <script>
            document.write(formatDate({{ $randomPage.Date.Unix }})); 
          </script>
        </div>
        </div>
        <div class="archive-img">
        <a href="{{ $randomPage.RelPermalink }}"><img loading="lazy" decoding="async" src="{{ $randomPage.Params.image | relURL }}" /></a>          
        </div>
    </div>
  {{ end }}
  <!--返回上一级-->
  <div href="javascript:void(0)" 
   onclick="const r=document.referrer; r&&r.includes(window.location.host)?history.back():window.location.href='/'" class="fanhui" title="哪来回哪去" data-umami-event="Fanhui">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
    <path d="M2.614 5.426A1.5 1.5 0 0 1 4 4.5h10a7.5 7.5 0 1 1 0 15H5a1.5 1.5 0 0 1 0-3h9a4.5 4.5 0 1 0 0-9H7.621l.94.94a1.5 1.5 0 0 1-2.122 2.12l-3.5-3.5a1.5 1.5 0 0 1-.325-1.634Z" fill="currentColor"/>
  </svg>
  </div>

</div>
      <!----评论加载-->
      <div id="MoreComments" onclick="loadComments()">评论一下 ...</div>
      <div class="article-comments" id="articlecomments" style="display: none;">
        {{- partial "artalk" . -}}
      </div> 
</div>
<div>
    <div class="paragraph-dh">
     {{ .TableOfContents }}
    </div>
</div>

</div>
<script src="/js/single.js"></script>    
{{ end }}