{{ define "body_classes" }}page-home{{ end }}
{{ define "main" }}
<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
<!--博文日历热力图-->  
{{ partial "newretu" . }}
 <!--<div class="sidebar-biaot">最新博文</div>--> 
{{ $posts := first 2 (where .Site.RegularPages "Type" "in" "posts") }}
<div class="sidebar-page">
{{ range $posts }} 
<div class="sidebar-bowen img-hide">
<div class="sidebar-posts-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
<div class="posts-description">{{ .Params.description }}</div>

<div class="posts-time-new">
  <!--7 天内新博文  -->
  {{ if gt .Date (now.AddDate 0 0 -7) }}
  <div class="sidebar_article_new">NEW</div>
  {{ end }}
<!--7 天内新博文结束-->
    <div class="archive-time posts-time">
      <script>
        document.write(formatDate({{ .Date.Unix }})); 
      </script>
    </div>
    {{ with .GetTerms "tags" }}
    {{ range . }}
      <div class="single-tag-c">#<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
    {{ end }}
  {{ end }}
</div>
</div>
{{ end }}
</div>

<div class="sidebar-biaot">最新观影</div>
{{ partial "movies" 3 }}

<div class="index-laodao">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bird"><path d="M16 7h.01"/><path d="M3.4 18H12a8 8 0 0 0 8-8V7a4 4 0 0 0-7.28-2.3L2 20"/><path d="m20 7 2 .5-2 .5"/><path d="M10 18v3"/><path d="M14 17.75V21"/><path d="M7 18a6 6 0 0 0 3.84-10.61"/></svg>
<div class="index-laodao-titile">最新唠叨</div>
</div>
<!--memos--> 
<div id="memos"></div>
<div id="bber"></div>
<!-- 加载 Markdown 语法-->
<script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
<!--memos 内容-->
<script src="/js/memos.js?v=1.4.4"></script>
<script src="/js/coco-message.min.js"></script>
<!--评论加载-->
<link href="https://img.koobai.com/Artalk.css" rel="stylesheet">
<script src="https://img.koobai.com/Artalk.js"></script>
<!--memos结束--> 
<!--侧边栏--> 
<!--<div class="sidebar-biaot">随机瞬间</div>
<div class="photo-quanju photo-index" view-image>
  <script src="/js/photo.js"></script>
  </div>-->
<!--<div class="sidebar-biaot">博文标签</div>
<div class="archives_tags">
  {{- range $name, $taxonomy := .Site.Taxonomies.tags -}}
  <div class="list-tags img-hide"><a href="/tags/{{ $name | urlize }}"> {{ $name }} <span class="archives_tags_f">({{ .Count }})</span></a></div>
  {{- end -}}
</div>-->
<!--侧边栏结束--> 
{{ end }}
{{ define "footer_js" }}
{{ end }}