{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    {{ if .Site.Params.showAuthorOnPosts }}
      {{ partial "author.html" . }}
    {{ end }}
    <div class="intro">
      <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      {{ if .Params.image }}
      <img src="{{ .Params.image | relURL }}" />
      {{ end }}
    </div>
    <div class="content">
      {{ .Content }}
    </div>
 <div class="page-time">{{ .Date.Format "2006-01-02" }}</div>
     {{ with .GetTerms "tags" }}
     <ul id="tags">
    <div class="page-tag">
          {{ range . }}
     <div class="tag">
     <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
             </div>
          {{ end }}
          </div>    
        </ul>
      {{ end }}
      <div class="previousnext">
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}">上一篇: {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}">下一篇: {{.Title}}</a>
        {{ end }}
    </div>
<div class="pinglun">已经浏览到这里了，不留下点什么？</div>
 <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
    init({
      el: '#waline',
      serverURL: 'https://w.koobai.com',
      dark:'auto',
      login:'disable',
      imageUploader:false,
      search:false,
      reaction:false,
      copyright:false,
      lang:'zh-CN',
      reaction: true,
    });
  </script>
{{ end }}