{{ define "body_classes" }}page-home{{ end }}
{{ define "title" }}{{ site.Title }}{{ end }}

{{ define "main" }}

{{ $dataEngine := partialCached "exercise-list-data.html" . "exerciseData" }}
{{ $activities := $dataEngine.activities }}
{{ $themeMap := $dataEngine.themeMap }}
{{ $defaultTheme := $dataEngine.defaultTheme }}
 {{/* 分页，默认 25 条一页 */}}
<div id="index-card-timeline" class="index-card">
  {{ $stream := where site.RegularPages "Type" "in" (slice "posts" "laodao") }}
  {{ $paginator := .Paginate $stream.ByDate.Reverse 25 }}

  {{ range $index, $page := $paginator.Pages }}
    {{/* 博文 */}}
    {{ if eq .Type "posts" }}
      <div class="card-timeline index-post img-hide">
        <div class="posts-index-heard">
          <span class="twitter-time index-post-time" data-time="{{ .Date.Unix }}">{{ .Date.Format "2006-01-02" }}</span>
          <div class="posts-index-info">博文</div>
        </div>
        <div class="index-post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
         <div class="posts-description">{{ .Params.description }}</div>   
         {{ if .Params.image }}
        <a href="{{ .RelPermalink }}" class="index-post-img-wrap img-hide">
          <img loading="lazy" decoding="async" src="{{ .Params.image | relURL }}" alt="{{ .Title }}" />
        </a> 
        {{ end }}
          {{ with .GetTerms "tags" }}
            <div class="post-tags-list"> {{ range . }}
                <a href="{{ .RelPermalink }}" class="single-tag-c">#{{ .LinkTitle }}</a>
              {{ end }}
            </div>
          {{ end }}
      </div>
       {{/* 唠叨 */}}
    {{ else if eq .Type "laodao" }}
      {{ partial "laodao-card.html" . }}
    {{ end }}

    {{/* 锻炼，仅在第一页的第二条数据下方插入 */}}
    {{ if and (eq $paginator.PageNumber 1) (eq $index 1) }}
      <div class="cardList">
        {{ range first 2 $activities }}
          {{ $theme := default $defaultTheme (index $themeMap .type) }}    
          <a href="/exercise" title="动起来">
            <div class="runCard memos-exercise-card img-hide">      
            <div class="iconRing" style="color: {{ $theme.color }}">{{ $theme.icon }}</div>     
            {{ partial "exercise-list-card.html" (dict "run" . "theme" $theme) }}      
          </div></a>
        {{ end }}   
      </div>
    {{ end }}

  {{ end }}
</div>

{{ if $paginator.HasNext }}
  <div class="laodao-more">
    <button id="laoda-more-btn" data-next-url="{{ $paginator.Next.URL }}" class="laodao-more-b">看更多 ...</button>
  </div>
{{ end }}

<script src="/js/laodao.js?v=20260311a" defer></script>
{{ partial "artalk.html" . }}

{{ end }}