.about-img {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: transparent;
  min-height: 250px;
  display: flex;

  img {
    width: 100%;
    display: block;
    border-radius: 16px;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.about-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: var(--font-family-code);
  font-size: 1.8rem;

  @include breakpoint('small') {
    font-size: 55px;
  }
}

.about-text {
  margin: 20px 0 20px 0;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: justify;

  a {
    color: var(--text-highlight-color);
    @include dark {
      color: var(--text-highlight-dark-color);
    }
  }
  @include breakpoint('medium') {
    line-height: 1.75; 
  }
}

.about-img-intro {
  padding: 8px;
  border-radius: 2px;
  font-size: 0.75rem;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  color: #FFF;
  bottom: 0;
  right: 0;
  margin-bottom: 4px;
}