.about-img {
    position: relative;
}
.about-img img{
  width: 100%;
}
.about-img-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: var(--font-family-code);
  font-size: 1.8rem;
  @include breakpoint('small') {
    font-size: 55px;
  }
}
.about-text {
    margin: 20px 0 20px 0;
    line-height: 2;
    font-size: 1.05rem;
    text-align: justify;
}
.about-text a{
  color: var(--text-highlight-color);
}
.about-img-intro{
  padding: 8px;
  border-radius:2px;
  font-size: 0.75rem;
  background: rgba(0, 0, 0, 0.4);
  position:absolute;
  color: #FFF;
  bottom: 0;
  right: 0;
  margin-bottom: 4px;
}