.artalk {
  margin-top: 20px;

  // 全局变量定义
  --at-color-main: #666 !important;
  --at-color-pink: var(--text-highlight-color) !important;
  --at-color-light: var(--text-highlight-color) !important;
  --at-color-meta: #999 !important;
  --at-color-border: #DDD !important;

  @include dark {
    --at-color-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0), #242021) !important;
    --at-color-bg: var(--background-dark-color) !important;
    --at-color-border: #332D2F !important;
    --at-color-meta: #666 !important;
    --at-color-font: #BBB !important;
    --at-color-bg-grey: #332D2E !important;
  }

  &.atk-dark-mode {
    @include dark {
      --at-color-grey: var(--erji-color) !important;
    }
  }

  &.hidden {
    display: none;
  }

  // 隐藏部分原生元素
  > .atk-list > .atk-list-header {
    display: none !important;
  }
  > .atk-list > .atk-list-footer {
    bottom: auto !important;
  }
}

.atk-list-read-more {
  padding-bottom: 0px !important;

  @include dark {
    border-top: 1px dashed #67534c !important;
    .atk-list-read-more-inner {
      background: #67534c !important;
      border-color: transparent !important;
    }
  }
}
.atk-comment>.atk-main>.atk-header .atk-item{
  color: var(--sanji-color);
  @include dark {
    color: var(--erji-color) !important;
    }
}
.atk-comment {
  padding: 10px 0 !important;

  > .atk-main {
    margin-left: 34px !important;

    > .atk-header {
      margin-bottom: 0px !important;
      @include dark {
        color: var(--text-content-dark-color) !important;
      }
    }

    > .atk-body > .atk-content img {
      width: 1.1rem !important;
    }

    > .atk-footer .atk-actions > span {
      @include dark {
        color: var(--erji-color) !important;
      }
      &:hover {
        color: #999 !important;
      }
    }
  }

  .atk-height-limit:after {
    margin-bottom: 20px;
  }
}

.atk-content {
  line-height: 1.5 !important;

  p {
    font-size: 1rem !important;
    color: var(--text-content-color) !important;
    @include dark {
      color: var(--text-content-dark-color) !important;
    }
  }

  img {
    max-height: 1.1rem !important;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -4px !important;
  }

  @include dark {
    color: var(--text-content-dark-color) !important;
  }
}

.atk-comment-children > .atk-comment-wrap {
  margin-top: 6px !important;

  > .atk-comment {
    padding: 0px !important;
    margin: auto;
  }
}

.atk-avatar img {
  border-radius: 50% !important;
}

.atk-comment > .atk-avatar img {
  width: 24px !important;
  height: 24px !important;
  margin-top: 8px;
}

.atk-textarea {
  min-height: 70px !important;
  padding: 10px !important;

  @include dark {
    color: var(--text-content-dark-color) !important;
    font-size: 15px;
    background: transparent !important;
    &::placeholder {
      color: var(--erji-color) !important;
    }
  }
}

.atk-item.atk-nick {
  color: var(--text-content-color) !important;
  font-weight: bold;

  @include dark {
    color: var(--text-content-dark-color) !important;
  }

  a {
    color: #999 !important;
    @include dark {
      color: var(--erji-color) !important;
    }
  }
}

.atk-item.atk-reply-at > .atk-nick {
  @include dark {
    color: var(--erji-color) !important;
  }
}

.atk-ua {
  color: #999 !important;
  background: var(--frame-color) !important;

  @include dark {
    color: #666 !important;
    background: var(--background-dark-color) !important;
  }
}

.atk-ua-wrap {
  font-size: 11px;
}

.atk-text, .atk-list-no-comment, .atk-copyright, .atk-copyright a {
  color: #999 !important;
  @include dark {
    color: var(--erji-color) !important;
  }
}

.atk-badge {
  display: none !important;
}

.atk-send-btn {
  padding: 0 10px !important;
  min-width: 5em !important;
  background: transparent !important;
  border: 0.5px solid var(--text-highlight-color) !important;
  color: var(--text-highlight-color) !important;

  &:hover {
    opacity: 0.7;
  }

  @include dark {
    border: 0.5px solid var(--text-highlight-dark-color) !important;
    color: var(--text-highlight-dark-color) !important;
  }
}

.atk-list-header .atk-dropdown-wrap .atk-dropdown-item.active span,
.atk-list-header .atk-dropdown-wrap .atk-dropdown-item span:hover {
  color: var(--text-highlight-color) !important;
}

.atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp[data-type="image"] > .atk-item {
  height: 32px !important;
  width: 32px !important;
}

.atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp > .atk-item {
  font-size: 24px !important;
  padding: 0 !important;
}

.atk-notify.atk-fade-in {
  background: #666 !important;
  margin-bottom: 6px;
}

.atk-pinned-badge {
  background: #999 !important;
  @include dark {
    color: var(--text-content-dark-color) !important;
    background: #666 !important;
  }
}

.atk-send-reply {
  background: none !important;
}

.atk-reply-to {
  border-left: 3px solid #FFF !important;
  @include dark {
    border-left: 3px solid #242021 !important;
  }
}

.atk-plug-panel-wrap {
  height: 110px !important;
}

img[atk-emoticon] {
  max-height: 20px !important;
}

.atk-bottom {
  padding: 5px 10px 10px 5px !important;
}

.atk-main-editor {
  border: 1px solid #EAE8E5 !important;
  border-radius: 16px !important;
  background: transparent !important;

  @include dark {
    background: transparent !important;
    border: 1px solid #8C847E !important;
  }

  > .atk-header {
    padding: 10px 5px 0 !important;
    @media (max-width: 700px) {
      display: block !important;
    }
    @include dark {
      input::placeholder {
        color: var(--erji-color) !important;
      }
    }
  }

  > .atk-plug-panel-wrap {
    border-top: 0.5px solid var(--at-color-border) !important;
  }

  > .atk-textarea-wrap > .atk-textarea {
    background: transparent !important;
    line-height: 1.6;
  }

  > .atk-bottom .atk-state-btn {
    @include dark {
      background: var(--background-dark-color) !important;
    }
    .atk-text-wrap {
      color: #999;
      @include dark {
        color: #666;
      }
    }
  }
}

.artalk code {
  border: 1px solid #FFBE98 !important;
  border-radius: 4px !important;
  background: transparent !important;
  margin: 0 4px !important;
}

.pinglun {
  @include dark {
    color: var(--text-content-dark-color);
  }
}

// 详情页评论加载按钮
#MoreComments {
  background: transparent;
  cursor: pointer;
  color: var(--text-highlight-color);
  border-radius: 99px;
  padding: 10px 40px;
  font-family: var(--font-family-title);
  font-size: 0.9rem;
  border: 1px solid var(--text-highlight-color);
  display: inline-block;

  &:hover {
    opacity: 0.8;
    transition: opacity .3s ease-in-out;
  }

  @include dark {
    color: var(--text-highlight-dark-color) !important;
    border: 1px solid var(--text-highlight-dark-color) !important;
  }
}