.artalk{
  margin-top: 20px;
}
.atk-list-read-more{
  padding-bottom: 0px !important;
}
.atk-comment {
    padding: 10px 0!important;
}
.artalk>.atk-list>.atk-list-header {
  display: none !important;
}
.atk-content p {
  font-size: 1rem !important;
  color: var(--text-content-color) !important;
}
.atk-comment-children>.atk-comment-wrap{
  margin-top: 6px !important;
}
.atk-content{
  line-height: 1.5 !important;
}
.atk-avatar img {
  border-radius: 50% !important;
}
.atk-comment>.atk-avatar img{
  width: 24px !important;
  height: 24px !important;
  margin-top: 8px;
}
.atk-main{
  margin-left: 34px !important;
}
.atk-comment-children>.atk-comment-wrap>.atk-comment {
  padding: 0px !important; 
  margin: auto;
}
.atk-comment>.atk-main>.atk-header{
  margin-bottom: 0px !important;
}
.atk-textarea {
  min-height: 70px !important;
}
.artalk>.atk-list>.atk-list-footer{
  bottom: auto !important;
}

.atk-item.atk-nick{
  color: var(--text-content-color) !important;
  font-weight: bold;
}
.atk-item.atk-nick a{
  color: #999 !important;
}
.atk-ua {
  color: #999 !important;
  background: var(--frame-color)!important;
}
.atk-ua-wrap{
  font-size: 11px;
}
.atk-text{
  color: #999!important;
}

.atk-badge {
  display: none !important;
}
.atk-list-no-comment,.atk-copyright,.atk-copyright a {
  color: #999!important;
}
.atk-send-btn {
  padding: 0 10px!important;
  min-width: 5em !important;
  background: transparent !important;
  border: 0.5px solid var(--text-highlight-color) !important;
  color: var(--text-highlight-color) !important;
}
.atk-send-btn:hover {
  opacity:0.7
}

.atk-list-header .atk-dropdown-wrap .atk-dropdown-item.active span, .atk-list-header .atk-dropdown-wrap .atk-dropdown-item span:hover {
  color: var(--text-highlight-color)!important;
}
.artalk {
  --at-color-main:#666!important;
  --at-color-pink:var(--text-highlight-color)!important;
  --at-color-light:var(--text-highlight-color)!important;
  --at-color-meta:#999!important;
  --at-color-border: #DDD !important;
}
.atk-content img{
  max-height: 1.1rem!important;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: -4px !important;
}
.atk-comment > .atk-main > .atk-body > .atk-content img{
  width:  1.1rem!important;
}
.atk-comment .atk-height-limit:after{
  margin-bottom: 20px;
}
.atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp[data-type="image"] > .atk-item {
  height: 32px!important;
  width: 32px!important;
}
.atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp > .atk-item{
  font-size: 24px !important;
  padding: 0 !important;
}
.atk-notify.atk-fade-in{
  background: #666 !important;
  margin-bottom: 6px;
}
.atk-pinned-badge {
  background: #999 !important;
}
.atk-send-reply {
  background: none!important;
}
.atk-reply-to {
    border-left: 3px solid #FFF!important;
}
.atk-plug-panel-wrap {
  height: 110px !important;
}
img[atk-emoticon] {
  max-height: 20px!important;
}
.atk-bottom {
  padding: 5px 10px 10px 5px!important;
}
.atk-main-editor > .atk-header{
  padding: 10px 5px 0 !important;
}
.atk-main-editor > .atk-plug-panel-wrap{
  border-top: 0.5px solid var(--at-color-border) !important;
}
.atk-textarea{
  padding: 10px !important;
}
.atk-main-editor {
  border: 1px solid var(--frame-color)!important;
}

.artalk code{
  border: 1px solid #FFBE98 !important;
  border-radius: 4px !important;
  background: transparent !important;
  margin: 0 4px !important;
}
.atk-main-editor>.atk-textarea-wrap>.atk-textarea{
  line-height: 1.6;
}
.atk-main-editor>.atk-bottom .atk-state-btn .atk-text-wrap{
  color: #999;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .atk-content p {
    color: var(--text-content-dark-color) !important;
  }
.pinglun{
  color:var(--text-content-dark-color);
}
.atk-main-editor {
  background:  transparent !important;
  border: 1px solid var(--frame-dark-color)!important;
}
.atk-textarea {
  color: var(--text-content-dark-color)!important;
  font-size: 15px;
  background:  transparent !important;
}
.atk-content, .atk-header {
  color: var(--text-content-dark-color) !important;
}
.atk-ua {
  color: #666 !important;
  background:  var(--background-dark-color)!important;
}
.artalk {
--at-color-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0), #242021)!important;
--at-color-bg: #1A1718 !important;
--at-color-border: #332D2F !important;
--at-color-meta:#666 !important;
--at-color-font:#BBB !important;
--at-color-bg-grey: var(--background-dark-color) !important;
--at-color-bg-grey:#332D2E!important;
}
.artalk.atk-dark-mode{
--at-color-grey:#747474 !important;
}
.atk-text, .atk-list-no-comment,.atk-copyright,.atk-copyright a{
  color: #666!important;
}
.atk-item.atk-nick{
  color: var(--text-content-dark-color)!important;
}
.atk-pinned-badge {
  color: var(--text-content-dark-color)!important;
  background: #666 !important;
}
.atk-reply-to {
    border-left: 3px solid #242021!important;
}
.atk-comment .atk-main .atk-footer .atk-actions span:hover {
  color: #999 !important;
}
.atk-item.atk-nick a{
  color: #666 !important;
}
.atk-main-editor>.atk-bottom .atk-state-btn{
  background: var(--background-dark-color) !important;
}
.atk-main-editor>.atk-bottom .atk-state-btn .atk-text-wrap{
  color: #666;
}
}
//memos首页评论
.artalk.hidden {
  display: none;
}

@media (max-width:700px){
.atk-main-editor > .atk-header{
  display: block !important;
}
}
//详情页评论加载按钮
#MoreComments{
  background: transparent;
  cursor: pointer;
  color: var(--text-highlight-color);
  border-radius: 4px;
  padding: 10px 30px;
  font-family: var(--font-family-title);
  font-size: 0.85rem;
  border: 0.5px solid var(--text-highlight-color);
  display: inline-block;
}
#MoreComments:hover{
  opacity: 0.8;
  transition: opacity .3s ease-in-out;
}