.footer-background{
  margin-top: 40px;
  margin-bottom: 100px;
  @include breakpoint('medium') {
    display: block;
    margin-bottom: 160px;
  }
}
.footer {
    padding-top: 10px; 
    border-top: 0.5px solid #e7e1de;
    text-align: center;
  }
.footer-info, .footer-info a{
  font-size: 0.75rem;
  line-height: 1.6em;
  color: #a7a7a7;
  }
#gotop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
}
.gotop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
	background: #ffffff; 
  position: relative; /* 设置相对定位 */
}
.gotop:hover {
	background: #ededed; 
}
.gotop svg{
  fill: var(--text-highlight-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}
.youpaiyun {
  margin: 0 4px 0 4px;
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.footer-info, .footer-info a{
  color: var(--erji-color);
}
.footer {
  border-top: 0px solid #231e20;
}
.gotop {
    background: var(--background-dark-color);
  }
.gotop:hover {
	background: var(--text-highlight-color); 
}
.gotop svg{
  fill: var(--text-content-dark-color);
}
.footer-background{
  background: var(--background-dark-body-color);
  border-top:solid var(--background-dark-color) 0.5px;
  box-sizing: border-box;
  }
}
// 页面宽度小于1200px样式
@media (max-width:1200px){
  .gotop_hide{
    display:none; 
  }
  }