.footer-background {
  margin-top: 40px;
  margin-bottom: 100px;

  @include breakpoint('medium') {
    display: block;
    margin-bottom: 160px;
  }

  @include dark {
    background: var(--background-dark-body-color);
    border-top: solid var(--background-dark-color) 0.5px;
    box-sizing: border-box;
  }
}

.footer {
  border-top: 1px solid #eee7e4;
  text-align: center;
  max-width: 100%;
  padding: 10px 20px 0 20px;
  @include dark {
    border-top: 1px solid #706d67;
  }
}

.footer-info, .footer-info a {
  font-size: 0.75rem;
  line-height: 1.6em;
  color: #a7a7a7;
  @include dark {
    color: var(--erji-color);
  }
}

#gotop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
}

.gotop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  position: relative; /* 设置相对定位 */

  @include dark {
    background: var(--background-dark-color);
  }

  &:hover {
    background: #ededed;
    @include dark {
      background: var(--text-highlight-color);
    }
  }

  svg {
    fill: var(--text-highlight-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;

    @include dark {
      fill: var(--text-content-dark-color);
    }
  }
}

// 隐藏回到顶部按钮 (小屏幕)
.gotop_hide {
  @media (max-width: 1200px) {
    display: none;
  }
}

.github{
  margin-top: 4px;
  transition: opacity .3s ease-in-out;
  fill: var(--erji-color);
    &:hover {
    opacity: 0.6;
  }
}
.github svg{
  height: 22px;
  width: 22px;
}