.footer-background{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-top: 40px;
  }
.footer {
    padding-top: 10px; 
    border-top: 0.5px solid var(--frame-color);
    text-align: center;
  }
.footer-info, .footer-info a,.footer-rss,.footer-rss a{
  font-size: 0.75rem;
  line-height: 1.6em;
  color: #a7a7a7;
  }
.footer-info{
  padding: 0 20px;
  }

#gotop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
}
.gotop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
	background: #ffffff; 
  position: relative; /* 设置相对定位 */
}
.gotop:hover {
	background: #ededed; 
}
.gotop img{
  width: 1.1rem;
  height: 1.1rem;
  position: absolute; /* 设置绝对定位 */
  top: 50%; /* 将图片的顶部对齐容器的中间位置 */
  left: 50%; /* 将图片的左侧对齐容器的中间位置 */
  transform: translate(-50%, -50%); 
}
.youpaiyun {
  margin: 0 4px 0 4px;
}
/*.footer-rss{
  margin-bottom: 30px;
}*/
.footer-cmdk{
  display: flex;
  gap: 6px;
  font-size: 0.75rem;
  align-items: center;
  color: #a2a2a2;
  margin: 10px 0 30px 0;
  justify-content: center;
}
.footer-cmdk-key{
  background: #e8e8e8;
  padding: 4px;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  border-radius: 4px;
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.footer-info, .footer-info a,.footer-rss a,.footer-rss{
  color: var(--erji-color);
}
.footer {
  border-top: 0.5px solid #231e20;
}
.gotop {
    background: #999;
  }
.footer-background{
  background: #1A1718;
  border-top:solid #3d3d3d 0.5px;
  box-sizing: border-box;
  }
  .footer-cmdk{
    color: #666;
  }
  .footer-cmdk-key{
    background: #292526;
  }
}
// 页面宽度小于1200px样式
@media (max-width:1200px){
  .gotop_hide{
    display:none; 
  }
  }