.footer-background {
  margin-top: 40px;
  margin-bottom: 100px;

  @include breakpoint('medium') {
    display: block;
    margin-bottom: 160px;
  }

  @include dark {
    background: var(--background-dark-body-color);
    border-top: solid var(--background-dark-color) 0.5px;
    box-sizing: border-box;
  }
}

.footer {
  border-top: 1px solid #eee7e4;
  text-align: center;
  max-width: 100%;
  padding: 10px 20px 0 20px;
  @include dark {
    border-top: 1px solid #706d67;
  }
}

.footer-info, .footer-info a {
  font-size: 0.75rem;
  line-height: 1.6em;
  color: #a7a7a7;
  @include dark {
    color: var(--erji-color);
  }
}