.header {
  display: flex;
  padding: 25px 0 25px 0;
  align-items: center;
  @include breakpoint('medium') {
    z-index: 100;
    padding: 40px 0 60px 0;
  }
}
.about-koobai{
  display: none;
  @include breakpoint('medium') {
    display: block;
  }
}
.about-koobai img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: opacity .3s ease-in-out;
}
.about-koobai img:hover{
  opacity: 0.6;
}
.new-heard-menu{
  display: none;
  @include breakpoint('medium') {
    display: flex;
    gap: 30px;
  }
}
.menu-current svg{
  color: var(--text-highlight-color) !important;
}
.menu-current a{
  color: var(--text-highlight-color) !important;
}
.header-logo img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  border-radius: 50%;
  display: block;
  @include breakpoint('medium') {
    display: none;
  }
}
.menu-main {
  display: none;
  @include breakpoint('medium') {
    display: flex;
    grid-gap: 20px; /* 中间空10px间距 */
    align-items: center;
    margin-left: auto;
  }
 }
 .header-menu a {
  color: var(--erji-color);
  font-size: 1rem;
  font-family: var(--font-family-paragraph);
 }
 .header-menu{
  display: flex;
  align-items: center;
 }
.header-menu svg{
  margin-right: 8px;
  color: var(--sanji-color);
  width: 22px;
  height: 22px;
}
.menu-main svg{
  fill: #999;
  width: 20px;
}
.menu-main svg:hover{
  fill: #666;
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .header-menu a{
    color: var(--sanji-color);
  }
  .header-menu svg{
    color: #827478;
  }
  .menu-main svg{
    fill: #6b6063;
  }
  .menu-main svg:hover{
    fill: #999;
  }
}