.new-index-nrong{
  @include breakpoint('medium') {
    display: grid;
    grid-gap: 60px; /* 中间空10px间距 */
    grid-template-columns: 2fr 1fr;
}
}

//侧边栏
.sidebar-biaot{
  margin-bottom: 20px;
  font-size: 1rem;
  color: var(--sanji-color);
}
.sidebar-page{
  margin-bottom: 30px;
}
.sidebar-bowen{
  margin-bottom: 20px;
}
.sidebar-posts-title{
  margin-top: 4px;
  font-family: var(--font-family-title);
  font-size: 1rem;
  line-height: 1.6;
}
.sidebar-posts-title a{
  color: var(--erji-color);
}
.sidebar_article_new{
    background: var(--text-highlight-color);
    color: #fff;
    padding: 2px 4px;
    margin-right: 8px;
    margin-top: 3px;
    font-family: var(--font-family-code);
    border-radius: 4px;
    font-size: 0.75rem;
    display: inline-block;
}

// 页面宽度小于900样式
@media (max-width:900px){
.archives_tags,.sidebar-biaot,.sidebar-page-zt,.sidebar-page,.photo-index{
    display: none;
  }
   } 

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .sidebar-posts-title a{
    color: var(--sanji-color);
  }
  .sidebar-biaot{
    color: var(--erji-color);
  }
    }