.index-laodao {
  font-size: 0.8rem;
  @include breakpoint('medium') {
    font-size: 1.2rem;
    margin-left: 20px;
  }

  @media (prefers-color-scheme: dark) {
    color: var(--erji-color);
  }
}

.sidebar-biaot {
  display: none;
  @include breakpoint('medium') {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--sanji-color);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--erji-color);
  }
}

.sidebar-bowen {
  margin-bottom: 40px;
}

.sidebar-posts-title {
  margin-top: 4px;
  font-family: var(--font-family-title);
  font-size: 1.25rem;
  line-height: 1.6;

  a {
    color: var(--text-content-color);
    @media (prefers-color-scheme: dark) {
      color: var(--text-content-dark-color);
    }
  }
}

.sidebar_article_new {
  background: var(--text-highlight-color);
  color: #fff;
  padding: 1px 4px;
  font-family: var(--font-family-code);
  border-radius: 2px;
  font-size: 0.75rem;
  display: inline-block;
  margin-right: 4px;
}