//博客列表页
.posts-new {
  display: grid;
  gap: 30px;
  @include breakpoint('medium') {
    gap: 40px;
  }
}
.posts-background {
    position: relative;
    overflow: hidden;
    @include breakpoint('medium') {

    }
}
.posts-title a{
  font-family: var(--font-family-title);
  font-size: 1.4rem;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.posts-description {
  line-height: 1.8;
  font-size: 1rem;
  margin: 6px 0;
  color: var(--erji-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.posts_list{
  display: grid;
  gap: 15px;
  margin-top: 30px;
  @include breakpoint('medium') {
    display: flex;
    flex-wrap: wrap;
}
}
.posts_list_article{
  border-radius:4px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 6px 20px 0px;
  padding: 15px;
}
.posts-img{
 margin:10px 0;
 overflow: hidden;
 aspect-ratio: 5.3 / 3;
}
.posts-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.posts-img img:hover{
  transform: scale(1.03);
}
.posts-time-new{
  display: flex;
  align-items: center;
  gap: 8px;
}

//详情页博文推荐
.archives_nrong{
  margin: 30px 0;
  display: grid;
  grid-gap: 15px; /* 中间空10px间距 */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	@include breakpoint('small') {
		grid-gap: 20px; /* 中间空10px间距 */
	  }	
}
.archives_one{
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 6px 20px 0px;
  padding: 15px;
  @include breakpoint('small') {
		grid-gap: 20px; /* 中间空10px间距 */
	  }	
}
.archive-title{
  font-family: var(--font-family-title);
  font-size: 1rem;
  line-height: 1.6;
}
.archive-time{
    font-size: 0.85rem;
    color: var(--sanji-color);
    font-family: var(--font-family-code);
  }
.archive-img {
    margin-left: auto;
  }
.archive-img img{
    width: 120px;
    aspect-ratio: 4.5 / 3;
    object-fit: cover;
    border-radius:6px;
    transition: transform 0.3s ease; 
    margin-left: 10px;
  }
.archives_one:hover .archive-img img{
	  transform: scale(1.05);
  }

  // 夜间模式页面样式
  @media (prefers-color-scheme: dark) {
  .archive-time{
        color: var(--erji-color);
      }
  .posts_list_article,.archives_one{
    background: var(--background-dark-color);
  }
  .posts-description{
    color: var(--sanji-color);
  }
    }