//博客列表页
.posts-new {
  display: grid;
  gap: 30px;
  @include breakpoint('medium') {
    gap: 40px;
  }
}
.posts-background {
    position: relative;
    overflow: hidden;
    @include breakpoint('medium') {

    }
}
.posts-title a{
  font-family: var(--font-family-title);
  font-size: 1.4rem;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.posts-description {
  line-height: 1.6;
  font-size: 1.2rem;
  margin: 3px 0;
  color: var(--text-content-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  @include breakpoint('medium') {
    line-height: 1.8;
    font-size: 1rem;
  }
}
.posts_list{
  display: grid;
  gap: 15px;
  margin-top: 30px;
  @include breakpoint('medium') {
    grid-template-columns: repeat(2, 1fr); 
    flex-wrap: wrap;
}
}
.posts_list_index{
  display: grid;
  gap: 12px;
  margin-bottom: 25px;
  @include breakpoint('medium') {
    grid-template-columns: repeat(2, 1fr); 
    flex-wrap: wrap;
    gap: 15px;
}
}
.posts_list_article{
  border-radius:16px;
  background: #fff;
  box-shadow: var(--touy-color);
  padding: 15px;
  @include breakpoint('medium') {
    padding: 12px;
}
}
.posts_list_article-index {
  position: relative; // 必须：作为角标定位的基准
  border-radius: 16px;
  background: var(--element-background-color);
  box-shadow: var(--touy-color);
  padding: 15px;
  overflow: hidden; // 确保三角形角标不溢出圆角
  margin-bottom: 15px;
    @include breakpoint('medium') {
    margin-bottom: 0;
}
}
.post-badge {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 4px 14px;
  background: #E5CABD;
  color: #fff;
  border-bottom-left-radius: 10px; // 左下角加个圆角更精致
  z-index: 1;
  svg {
    width: 20px;
    height: 20px;
  }
  @include breakpoint('medium') {
    display:none;
  }
}
.post-biaoji{
  display: flex;
  gap: 8px;
  align-items: center;
}
.post-biaoji-xinxi{
  display: none;
  @include breakpoint('medium') {
    font-size: 0.8rem;
    background: var(--erji-color);
    padding: 3px 6px;
    color: var(--element-background-color);
    border-radius: 10px;
    align-items: center;
    display: flex;
    gap: 2px;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}
.posts-img{
 margin:10px 0;
 overflow: hidden;
 aspect-ratio: 5.3 / 3;
}
.posts-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 16px;
}
.posts-img img:hover{
  transform: scale(1.03);
}
.posts-time-new{
  display: flex;
  align-items: center;
  gap: 8px;
}

//详情页博文推荐
.archives_nrong{
  margin: 30px 0;
  display: grid;
  grid-gap: 15px; /* 中间空10px间距 */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	@include breakpoint('small') {
		grid-gap: 20px; /* 中间空10px间距 */
	  }	
}
.archives_one{
  display: flex;
  align-items: center;
  background: var(--element-background-color);
  box-shadow: var(--touy-color);
  border-radius:16px;
  padding: 15px;
  @include breakpoint('small') {
		grid-gap: 20px; /* 中间空10px间距 */
	  }	
}
.archive-title{
  font-family: var(--font-family-title);
  font-size: 1rem;
  line-height: 1.6;
}
.archive-title-index{
  font-family: var(--font-family-title);
  font-size: 1.4rem;
  line-height: 1.6;
  @include breakpoint('medium') {
    font-size: 1.2rem;
}
}
.archive-time-index{
  font-size: 0.75rem;
  color: var(--sanji-color);
  margin-bottom: 5px;
  font-family: var(--font-family-code);
}
.archive-time{
    font-size: 0.85rem;
    color: var(--sanji-color);
    font-family: var(--font-family-code);
  }
.archive-img {
    margin-left: auto;
  }
.archive-img img{
    width: 120px;
    aspect-ratio: 4.5 / 3;
    object-fit: cover;
    border-radius:6px;
    transition: transform 0.3s ease; 
    margin-left: 10px;
  }
.archives_one:hover .archive-img img{
	  transform: scale(1.05);
  }

  // 夜间模式页面样式
  @media (prefers-color-scheme: dark) {
  .archive-time,.archive-time-index{
        color: var(--erji-color);
      }
  .posts_list_article,.archives_one,.posts_list_article-index{
    background: var(--background-dark-color);
  }
  .posts-description{
    color: var(--text-content-dark-color);
  }
  .post-badge {
    background: #9B84A1;
}
.post-biaoji-xinxi{
  @include breakpoint('medium') {
    background: var(--text-highlight-dark-color);
    color: #fff;
  }
}
    }