// 首页调用
.movie-quanju{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px; 
    margin-bottom: 40px;
}

// 影视页面

//顶部视频--
.movies_video {
  position: absolute;
  height: 30rem;
  width: 100%;
  left: 0;
  right: 0;
  top:0;
  z-index: -10;
}
.movies_video:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #FFF 100%);
}
.page-movies .pagetitle,.page-movies .header-menu a{
  color: #FFF;
}
.page-movies .header-menu svg{
  color: #ebebeb;
}
.page-movies .menu-main svg {
  fill: #dfdfdf;
}
//顶部视频结束--

#movies_page{
  display: grid;
  grid-gap: 2px; 
  grid-template-columns: repeat(3, 1fr);
}
.movies_bankuai{
  position:relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3 / 4.4;
}
.movies_bankuai img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.movies-nrong{
  display: none;
  @include breakpoint('small') {
    display: block;
    padding: 60px 20px 20px 20px;
    color: #fff;
    font-size: 0.85rem;
    position:absolute;
    transition: transform 0.3s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
  }
} 
.movies_bankuai:hover .movies-nrong{
  opacity: 1; 
  transform: scale(1.05);
}

.movie-time{
  color: #c7c7c7;
  margin-top: 7px;
}
.movie-title{
  font-family:var(--font-family-title);
  font-weight: bold;
  font-size: 1rem;
  margin: 6px 0 6px 0;
}
.movie-title a{
  color: #FFF;
}
.movie-pfeng{
  color: #c7c7c7;
  margin-bottom: 8px;
  display: flex;
  gap: 4px;
}
.movie-pfeng svg{
  width: 0.85rem;
  height: 0.85rem;
  color: #fcb68d;
}
.movie-info{
  line-height:1.6;
  color: #FFF;
  text-align: justify;
}

//加载更多
.movies_loadMore{
  background: 0 0;
  cursor: pointer;
  color: var(--text-highlight-color);
  border-radius: 4px;
  padding: 10px 30px;
  font-family: var(--font-family-title);
  font-size: .85rem;
  border: 0.5px solid var(--text-highlight-color);
  margin-top: 20px;
  display: inline-block;
}
.movies_loadMore:hover{
  opacity: 0.8;
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.movie-content-right-3,.movie-content-right-2 a{
  color: var(--sanji-color);
}
.movies_video:after {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #1A1718 100%);
}
.page-movies .pagetitle,.page-movies .header-menu a{
  color: var(--sanji-color);
}
.page-movies .header-menu svg{
  color: #827478;
}
.page-movies .pagetitle,.page-movies .header-menu a,.movie-info,.movie-title a{
  color: #dfdfdf;
}
.page-movies .header-menu svg{
  color: #dfdfdf;
}
.page-movies .menu-main svg {
  fill: #c3c3c3;
}
}