.photo-quanju{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    @include breakpoint('small') {
      grid-template-columns: repeat(4, 1fr);  
    }
}
.photo-moment {
    width: 100%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1; //保持比例 1:1
}
.photo-moment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}
.photo-moment img:hover {
    transform: scale(1.1);
}
.photo-star {
    grid-column: auto / span 2; //跨列显示
}
.photo-moment-title{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    font-size:1rem;
    color: #FFF;
    position:absolute;
    bottom: 0;
    padding: 8px 0 8px 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.photo-moment:hover .photo-moment-title {
    opacity: 1;
}

//首页调用
.photo-index{
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
}
.photo-index .photo-moment-title{
    font-size: 0.75rem;
}

//夜间模式
@media (prefers-color-scheme: dark) {
    .photo-moment-title{
        color: #dfdfdf;
    }
    }