//首页相册
.photo-home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px; 
    margin-bottom: 30px;
}
.posts_photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
    margin: 10px 0;
    @include breakpoint('medium') {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        margin: 40px 0;
    }
}
.posts_photo img{
    height: 150px !important;
    @include breakpoint('medium') {
        height: 200px !important;
    }
}
.posts_photo .photo-home-title{
    font-size: 1rem;
}
.photo-home-top{
    position: relative;
    overflow: hidden;
}
.photo-home-top img {
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    transition: transform 0.3s ease;
    height: 90px; 
    display: block; 
    cursor: zoom-in;
}
.photo-home-top img:hover{
    transform: scale(1.1);
}
.photo-home-title{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    font-size:0.75rem;
    color: #FFF;
    position:absolute;
    bottom: 0;
    padding: 8px 0 8px 0;
    text-align: center;
    display:none;
    width: 100%;
} 

// 页面宽度小于700样式
@media (max-width:900px){
    .photo-home{
        display:none;
    }
    }
// 页面宽度大于900样式   
 @media (min-width:900px){
    .photo-home-top:hover span.photo-home-title{
        display:block;
    }
    }
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
    .photo-home-top img:hover{
        filter: brightness(0.7);
      }
      .photo-home-title{
        color: #ebebeb;
    } 
    }




.photo-quanju{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px; 
    @include breakpoint('small') {
      grid-template-columns: repeat(4, 1fr);  
    }
}
.photo-moment {
    width: 100%; 
    overflow: hidden;
    aspect-ratio: 1; //保持比例 1:1
}
.photo-moment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}
.photo-moment img:hover {
    transform: scale(1.1);
}
.photo-star {
    grid-column: auto / span 2; //跨列显示
}
.photo-moment-title{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    font-size:1rem;
    color: #FFF;
    position:absolute;
    bottom: 0;
    padding: 8px 0 8px 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.photo-moment:hover .photo-moment-title {
    opacity: 1;
}