.content-index{
  margin-bottom: 30px;
}
.summary{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
}

.summary-date {
  font-size: 0.85rem;
  color: #999;
  font-family: var(--font-family-code);
  margin-top: 6px;
}
.summary-title{
  font-family:var(--font-family-title);
  font-size: 1.25rem;
  margin-top: 6px;
  line-height: 1.6;
}
.summary-description{
  font-size: 1rem;
  line-height:1.8;
  color: #666;
  margin-top: 10px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

  // 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .summary-description{
    color: #999;
  }
  .summary-date{
    color: #666 !important;
  }
  }