.summary {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 20px;
}

.summary-nrong {
  border-radius: 16px;
  background: var(--element-background-color);
  padding: 15px;

  @include breakpoint('medium') {
    padding: 20px;
  }

  // 暗黑模式内聚
  @include dark {
    background: var(--background-dark-color);
  }
}

.summary-date {
  font-size: 0.85rem;
  color: var(--sanji-color);
  font-family: var(--font-family-code);
  margin-top: 6px;

  // 暗黑模式内聚
  @include dark {
    color: var(--erji-color) !important;
  }
}

.summary-title {
  font-family: var(--font-family-title);
  font-size: 1.2rem;
  margin-top: 6px;
  line-height: 1.6;
  font-weight: bold;
}

.summary-description {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--text-content-color);
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
  @include dark {
    color: var(--text-content-dark-color);
  }
}