/*归档页标签*/
.archives_tags {
  display: flex;
  flex-wrap: wrap;//宽度显示不下自动换行
  grid-gap: 10px;
  }
.list-tags {
  border-radius:20px;
  padding: 10px;
  border: 1px solid var(--frame-color);
  font-size: 0.85rem;
}
.list-tags a{
  color: var(--erji-color);
}
.archives_tags_f{
  color: var(--sanji-color);
  font-size: 0.85rem;
}

/*文章页标签*/
.single-biaoq{
  margin-top: 20px;
}
.single-biaoq,.single-tag{
  display: flex;
  flex-wrap: wrap;//宽度显示不下自动换行
  gap: 10px;
  align-items: center;
}
.page-time,.single-tag-c{
  font-size: 0.85rem; 
  color:#999;
  display: inline-block;
}
.single-tag-c a{
  color: var(--sanji-color);
}

// 夜间模式文章页标签
@media (prefers-color-scheme: dark) {

.page-time,.single-tag-c {
  color:#666;
}
.single-tag-c a{
  color:#666;
}
.archives_tags_f{
  color: var(--erji-color);
}
.list-tags {
  border: 0.5px solid var(--frame-dark-color);
}
.list-tags a{
  color: var(--sanji-color);
}
}