/* 归档页标签 */
.archives_tags {
  display: flex;
  flex-wrap: wrap; // 宽度显示不下自动换行
  grid-gap: 10px;
}

.list-tags {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid var(--frame-color);
  font-size: 0.85rem;

  a {
    color: var(--erji-color);
    
    // 暗黑模式
    @include dark {
      color: var(--sanji-color);
    }
  }
  // 暗黑模式
  @include dark {
    border: 0.5px solid var(--frame-dark-color);
  }
}

.archives_tags_f {
  color: var(--sanji-color);
  font-size: 0.85rem;

  @include dark {
    color: var(--erji-color);
  }
}

/* 文章页标签 */
.single-biaoq {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.single-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.page-time, .single-tag-c {
  font-size: 0.9rem;
  color: var(--sanji-color);
  display: inline-block;

  @include dark {
    color: var(--erji-color);
  }
}

.single-tag-c a {
  color: var(--sanji-color);

  @include dark {
    color: var(--erji-color);
  }
}