.page-tiaozhuan .header,
.page-tiaozhuan .footer-background {
  display: none;
}
.page-tiaozhuan .wrapper {
  margin-top: 0 !important;
  min-height: 100vh;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
.tiaozhuan-all {
  color: var(--sanji-color);
  text-align: center;
  font-size: 0.85rem;
}
.tiaozhuan-title {
  font-size: 1.3rem;
  font-family: var(--font-family-title);
  color: var(--text-content-color);
  line-height: 1.4;
  margin-bottom: 4px;
  @include dark {
    color: var(--text-content-dark-color);
  }
}

.tiaozhuan-info {
  margin-top: 6px;
}

.tiaozhuan-button {
  margin-top: 20px;
  a {
    color: var(--text-highlight-color);
    border-radius: 99px;
    padding: 10px 30px;
    font-size: 0.9rem;
    border: 1px solid var(--text-highlight-color);
    display: inline-block;
    @include dark {
   border: 1px solid var(--text-highlight-dark-color);
  }
  }
}