<div class="card-timeline laodao-card">
  
  <div class="laodao-time">
    <a href="{{ .Permalink }}">
      <span class="twitter-time" data-time="{{ .Date.Unix }}" data-exact="true">{{ .Date.Format "01-02 15:04" }}</span>
    </a>
  </div>
  
  {{ $rawContent := .Content }}
  {{ $images := findRE "<img[^>]*class=\"[^\"]*laodao-photo[^\"]*\"[^>]*>" $rawContent }}
  {{ $cleanContent := $rawContent 
      | replaceRE "<img[^>]*class=\"[^\"]*laodao-photo[^\"]*\"[^>]*>" "" 
      | replaceRE "<p>\\s*(?:<br\\s*/?>)?\\s*</p>" "" 
      | replaceRE "(^|[\\s>])#([^\\s<.,!?'\"，。！？]+)" "" 
      | replaceRE "([\\p{Han}，。！？、》）])\\s+<a" "${1}<a"
      | replaceRE "</a>\\s+([\\p{Han}，。！？、《（])" "</a>${1}"
      | replaceRE "(<a[^>]*>)\\s+" "${1}"
      | replaceRE "\\s+(</a>)" "${1}"
      | safeHTML 
  }}

  <div class="laodao-content datacont">
    {{ $cleanContent }}
    {{ if $images }}
      <div class="laodao-gallery">
        {{ range $images }}{{ . | safeHTML }}{{ end }}
      </div>
    {{ end }}
  </div>

  <div class="laodao-footer">
    <div class="laodao-tags">
      {{ range (.GetTerms "laodaotags") }}
        <a href="{{ .RelPermalink }}" class="laodao-tag">#{{ .LinkTitle }}</a>
      {{ end }}

    {{ if .Params.location }}
    {{ $latlng := split .Params.latlng "," }}
    {{ $lat := index $latlng 0 }}
    {{ $lon := index $latlng 1 }}
    <a href="https://www.openstreetmap.org/?mlat={{ $lat }}&mlon={{ $lon }}#map=16/{{ $lat }}/{{ $lon }}" target="_blank" class="laodao-location">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: -2px; margin-right: 2px;"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>{{ .Params.location }}</a>
      {{ end }}
    </div>

    
    <div class="laodao-comment">
      <span onclick="toggleArtalk('{{ .File.TranslationBaseName }}', '{{ .RelPermalink }}')">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0-8-4.873L3 21l4.873-1c1.236.639 2.64 1 4.127 1"></path><path stroke-width="3" d="M7.5 12h.01v.01H7.5zm4.5 0h.01v.01H12zm4.5 0h.01v.01H12zm4.5 0h.01v.01H12zm4.5 0h.01v.01H12z"></path></svg>
      </span>
    </div>
  </div>
  
  <div id="artalk-{{ .File.TranslationBaseName }}" class="laodao-artalk-container"></div>
</div>