{{ define "body_classes" }}page-blog-list{{ end }}
{{ define "main" }}
<div class="archives_tags">
  {{- range $name, $taxonomy := .Site.Taxonomies.tags -}}
  <a href="/tags/{{ $name | urlize }}"><span class="archives_tags_f">#</span> {{ $name }} <span class="archives_tags_f">({{ .Count }})</span></a>
  {{- end -}}
</div>
{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}
{{ $PageContext := . }}
{{ if .IsHome }}
  {{ $PageContext = .Site }}
{{ end }}
{{ $pages := (where $PageContext.RegularPages "Type" $contentTypeName) }}

{{ range first 1 $pages }}
<div class="posts-background img-hide">
  <div class="page-left">
    <div class="posts-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></div>
    <div class="archive-time" data-timestamp="{{ .Date.Unix }}"></div>
    
    <div class="posts-description">{{ .Params.description }}</div>
    <div class="list-more"><a href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "看全文 ..." }}</a></div>
  </div>
    <div class="posts-img img-hide">
      {{ if .Params.image }}
      <a href="{{ .RelPermalink }}"><img src="{{ .Params.image | relURL }}" /></a>
      {{ end }} 
  </div>
{{ end }}
</div>

<div class="archives_nrong" >
{{ range after 1 $pages }}
  <div class="archives_one img-hide">
    <div>
      <div class="archive-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      <div class="archive-time" data-timestamp="{{ .Date.Unix }}"></div>
      </div>
      <div class="archive-img img-hide">
      {{ if .Params.image }}
      <a href="{{ .RelPermalink }}"><img loading="lazy" decoding="async" src="{{ .Params.image | relURL }}" /></a>
      {{ end }}
      </div>
  </div>
{{ end }}
</div>
{{ end }}