{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    
    <div class="intro">
      <h1 class="article_title">{{ .Title }}{{ if .Site.Params.addDot }}{{ end }}</h1>
      {{ if .Params.image }}
      <img src="{{ .Params.image | relURL }}" class="top-img img-hide" />
      {{ end }}
    </div>
    <div class="content_zhengwen">
    <div class="content">
      {{ .Content }}
    </div>
 <div class="page-time" data-timestamp="{{ .Date.Unix }}"></div>
     {{ with .GetTerms "tags" }}
          {{ range . }}
     <div class="tag"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
          {{ end }}
   
      {{ end }}
    </div>
    <div class="archives_nrong" >
      {{ with .PrevInSection }}
        <div class="archives_one">
          <div>
            <div class="archive-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
            <div class="archive-time" data-timestamp="{{ .Date.Unix }}"></div>
            </div>
            <div class="archive-img">
            <a href="{{ .RelPermalink }}"><img loading="lazy" decoding="async" src="{{ .Params.image | relURL }}" /></a>          
            </div>
        </div>
      {{ end }}
      {{ with .NextInSection }}
      <div class="archives_one">
        <div>
          <div class="archive-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></div>
          <div class="archive-time" data-timestamp="{{ .Date.Unix }}"></div>
          </div>
          <div class="archive-img">
          <a href="{{ .RelPermalink }}"><img loading="lazy" decoding="async" src="{{ .Params.image | relURL }}" /></a>          
          </div>
      </div>
    {{ end }}
      </div>
<div class="article-comments">
  {{- partial "artalk" . -}}
</div>
{{ end }}