// apps页样式
.appdquanjudiv{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	grid-gap: 10px; /* 中间空10px间距 */
}
.appquanju,.app-index{
  border-radius:4px;
  align-items: center;
  background-color:var(--bankuai-color);
  transition: all .3s cubic-bezier(0,0,.5,1);
  display: grid;
  grid-template-columns: auto 1fr; /* 第一列宽度自动，第二列平分剩余空间 */
  grid-gap: 15px; /* 可选项，设置列之间的间隔 */
}
.appquanju{
  padding: 20px;
}
.appquanju:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.appquanju:hover .appimg img{
  transform: scale(1.04);
}
.appimg img{
  width:90px;
  transition: transform 0.3s ease;
}
.appwenben{
  overflow: hidden;
  padding-bottom: 8px;
}
.apptitle{
  font-size:18px;
  margin-bottom: 8px;
  font-family: var(--font-family-title);
}
.appnote,.appnote-index{
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  text-align: justify;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.appnote{
  margin-bottom: 10px;
  -webkit-line-clamp: 3;
}
.appnote-index{
  margin-bottom: 0;
  -webkit-line-clamp: 2;
}
.macos,.kaiyuan,.shoufei,.free{
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
  margin-right: 4px;
  font-family: var(--font-family-code);
}
.macos{
  color: #999;
  background-color: #F2F2F2;
}
.macos:empty,.kaiyuan:empty,.shoufei:empty,.free:empty {
  display:none;
}
.kaiyuan{
  color: #e59c13;
  background-color: transparent;
  box-shadow: inset 0 0 0 0.5px #e59c13;
}
.shoufei{
  color: #0774e0;
  background-color: transparent;
  box-shadow: inset 0 0 0 0.5px #0774e0;
}
.free{
  color: #11a173;
  background-color: transparent;
  box-shadow: inset 0 0 0 0.5px #11a173;
}
.appdquanjudiv a:hover{
	text-decoration: none;
}
.apptitle a:hover{
	text-decoration: underline;
}

.pagetitle{
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.appquanju{
  background-color:  var(--background-dark-color);
}
.macos{
  color: #666;
  background-color: #2E282A;
}
.appnote,.appnote-index{
  color: #999;
}
.app-index{
  background-color: #2f2b2c ; 
}
}


// 首页app调用
.app-index{
  margin-bottom: 10px;
  padding: 15px 20px 15px 12px;
}
.app-img img{
  width:90px;
  transition: transform 0.3s ease;
}
.app-index:hover .app-img img{
  transform: scale(1.04);
}
.app-index:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}