// apps页样式
.appdquanjudiv{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	grid-gap: 10px; /* 中间空10px间距 */
}
.appquanju,.app-index{
  border-radius:4px;
  align-items: center;
  background-color:var(--bankuai-color);
  padding: 20px 20px 20px 12px;
  transition: all .3s cubic-bezier(0,0,.5,1);
  display: grid;
  grid-template-columns: auto 1fr; /* 第一列宽度自动，第二列平分剩余空间 */
  grid-gap: 15px; /* 可选项，设置列之间的间隔 */
}
.appquanju:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.appquanju:hover .appimg img{
  transform: scale(1.04);
}
.appimg img{
  width:100px;
  transition: transform 0.3s ease;
}
.appwenben{
  overflow: hidden;
  padding-bottom: 8px;
}
.apptitle{
  font-size:18px;
  margin-bottom: 8px;
  font-family: var(--font-family-title);
}
.appnote,.appnote-index{
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  text-align: justify;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.appnote{
  margin-bottom: 10px;
  -webkit-line-clamp: 3;
}
.appnote-index{
  margin-bottom: 0;
  -webkit-line-clamp: 2;
}
.macos{
  padding: 6px 10px;
  text-align: center;
  font-size: 14px;
  border-radius:20px;
  margin-right: 4px;
  color: #999;
  font-family: var(--font-family-code);
  background-color: #F2F2F2;
}
.macos:empty {
  display:none;
}
.pagetitle{
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.appquanju{
  background-color:  var(--background-dark-color);
}
.macos{
  color: #666;
  background-color: #2E282A;
}
.appnote,.appnote-index{
  color: #999;
}
.app-index{
  background-color: #2f2b2c ; 
}
}
// 页面宽度小于700样式

@media (max-width:700px){
  .app-gundong {
    height: 420px !important;  /* 设置容器的高度 */
  }
  }
 // 页面宽度大于700小于900样式
 @media screen and (min-width:700px) and (max-width:900px){
  .app-gundong {
    height: 350px !important;  /* 设置容器的高度 */
  }
  }
// 页面宽度大于900样式
@media (min-width:900px){
.app-gundong {
  height: 420px !important;  /* 设置容器的高度 */
}
}


// 首页app调用
.app-index{
  margin-bottom: 10px;
  height: 85px;
}
.app-img img{
  width:75px;
  transition: transform 0.3s ease;
}
.app-gundong {
  overflow: hidden; /* 隐藏超出容器高度的内容 */
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}
.app-list {
  animation: scroll 10s linear infinite; /* 定义滚动动画 */
}
@keyframes scroll {
  0% {
    transform: translateY(0); /* 初始位置 */
  }
  100% {
    transform: translateY(-100%); /* 滚动到顶部 */
  }
}