// apps页样式
.appquanju{
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  transition: all .3s cubic-bezier(0,0,.5,1);
  border-radius:15px;
  align-items: center;
  background-color: #FFF;
  padding: 20px;
  margin-top: 15px;
}
.appquanju:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.16);
  transform: scale3d(1.01,1.01,1.01);
}
.appimg img{
  width:100px;
  margin-right:15px;
}
.apptitle{
  color:var(--text-highlight-color);
  font-size:20px;
  margin-bottom: 8px;
  font-family: var(--font-family-teshu);
  letter-spacing:0.5px;
}
.appnote{
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.macos{
  background-color:#F2F2F2;
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
  margin-right: 4px;
  color: #999;
  font-family: var(--font-family-code);
}

.pagetitle{
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.appquanju{
  background-color:  var(--background-dark-color);
}
.macos{
  background-color:#2E282A;
  color: #666;
}
}

// 页面宽度小于900样式

@media (max-width:700px){
.appquanju{
  display: flex;
  padding-bottom: 28px;
}

}
 // 页面宽度大于700小于900样式
 @media screen and (min-width:700px) and (max-width:900px){
  .appdquanjudiv{
    width: 105%;
    font-size:0;
  }
  .appquanju{
    display: inline-block;
    vertical-align: top;
    width: 41%;
    margin-right: 15px;
    height: 170px;
  
  }
  .appimg img{
    float: left;  
  }
  .appwenben{
    overflow: hidden;
    padding-bottom: 8px;
  }
  }
// 页面宽度大于900样式

@media (min-width:900px){

.appdquanjudiv{
  width: 104%;
  font-size:0;
}
.appquanju{
  display: inline-block;
  vertical-align: top;
  width: 43%;
  margin-right: 15px;
  height: 135px;

}
.appimg img{
  float: left;  
}
.appwenben{
  overflow: hidden;
  padding-bottom: 8px;
}
}