.artalk{
  margin-bottom: 10px;
  margin-top: 20px;
}
.atk-list-read-more{
  padding-bottom: 0px !important;
}
.atk-comment {
    padding: 20px !important;
    background: var(--bankuai-color);
    margin-bottom: 10px;
    border-radius:4px;
}
.atk-content p {
  font-size: 16px !important;
  color: var(--text-content-color) !important;
}
.atk-content{
  line-height: 1.5 !important;
}
.atk-avatar img {
  border-radius: 50% !important;
}
.atk-comment>.atk-avatar img{
  width: 32px !important;
  height: 32px !important;
  margin-top: 6px;
}
.atk-main{
  margin-left: 45px !important;
}
.atk-comment-children>.atk-comment-wrap>.atk-comment {
  padding: 0px !important; 
  margin: auto;
}
.atk-comment>.atk-main>.atk-header{
  margin-bottom: 0px !important;
}
.atk-textarea {
  min-height: 70px !important;
}
.artalk>.atk-list>.atk-list-footer{
  bottom: auto !important;
}

.atk-item.atk-nick{
  color: var(--text-content-color) !important;
  font-weight: bold;
}
.atk-item.atk-nick a{
  color: var(--text-highlight-color)!important;
}
.atk-ua {
  color: #999 !important;
  background: #E6E6E6!important;
}
.atk-ua-wrap{
  font-size: 11px;
}
.atk-text{
  color: #999!important;
}

.atk-badge {
  display: none !important;
}
.atk-list-no-comment,.atk-copyright,.atk-copyright a {
  color: #999!important;
}
.atk-send-btn {
  background: var(--text-highlight-color)!important;
  padding: 0 20px!important;
  width: auto !important;
}
.atk-send-btn:hover {
  opacity:0.8
}

.atk-list-header .atk-dropdown-wrap .atk-dropdown-item.active span, .atk-list-header .atk-dropdown-wrap .atk-dropdown-item span:hover {
  color: var(--text-highlight-color)!important;
}
.artalk {
  --at-color-main:#666!important;
  --at-color-pink:var(--text-highlight-color)!important;
  --at-color-light:var(--text-highlight-color)!important;
  --at-color-meta:#999!important;
  --at-color-border: #DDD !important;
}
.atk-content img{
  max-height: 18px!important;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: -4px !important;
}
.atk-comment > .atk-main > .atk-body > .atk-content img{
  width:  18px!important;
}
.atk-comment .atk-height-limit:after{
  margin-bottom: 20px;
}
.atk-editor-plug-emoticons > .atk-grp-wrap > .atk-grp[data-type="image"] > .atk-item {
  height: 32px!important;
  width: 32px!important;
}
.atk-notify.atk-fade-in{
  background: #666 !important;
  margin-bottom: 6px;
}
.atk-pinned-badge {
  background: #999 !important;
}
.atk-send-reply {
  background: none!important;
}
.atk-reply-to {
    border-left: 3px solid #FFF!important;
}
.atk-plug-panel-wrap {
  height: 110px !important;
}
img[atk-emoticon] {
  max-height: 20px!important;
}
.atk-bottom {
  padding: 5px 10px 10px 10px!important;
}
.atk-main-editor {
  border: 1px solid #EEE!important;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .atk-content p {
    color: var(--text-content-dark-color) !important;
  }
.pinglun{
  color:var(--text-content-dark-color);
}
.atk-comment {
  background: var(--background-dark-color);
}
.atk-main-editor {
  background:  var(--background-dark-color) !important;
  border: 1px solid var(--at-color-border)!important;
}
.atk-textarea {
  color: var(--text-content-dark-color)!important;
  font-size: 15px;
  background:  var(--background-dark-color) !important;
}
.atk-content, .atk-header {
  color: var(--text-content-dark-color) !important;
}
.atk-ua {
  color: #666 !important;
  background:  var(--background-dark-color)!important;
}
.artalk {
--at-color-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0), #242021)!important;
--at-color-bg: #1A1718 !important;
--at-color-border: #332D2F !important;
--at-color-meta:#666 !important;
--at-color-font:#BBB !important;
--at-color-bg-grey: var(--background-dark-color) !important;
--at-color-bg-grey:#332D2E!important;
}
.artalk.atk-dark-mode{
--at-color-grey:#747474 !important;
}
.atk-text, .atk-list-no-comment,.atk-copyright,.atk-copyright a{
  color: #666!important;
}
.atk-item.atk-nick{
  color: var(--text-content-dark-color)!important;
}
.atk-send-btn {
  color: var(--text-highlight-color)!important;
  background: #1A1718!important;
  font-weight: bold;
}
.atk-pinned-badge {
  color: var(--text-content-dark-color)!important;
  background: #666 !important;
}
.atk-reply-to {
    border-left: 3px solid #242021!important;
}
.atk-comment .atk-main .atk-footer .atk-actions span:hover {
  color: #999 !important;
}
}
//memos首页评论
.artalk.hidden {
  display: none;
}