a {
  color: var(--text-content-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3 {
  color: var(--heading-color);
  font-family: var(--font-family-title);
  font-weight:normal; 
  font-display: swap; 
}
p {
  color: var(--text-content-color);
  font-family: var(--font-family-paragraph);
  font-size: 18px;
  line-height: 24px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
  }
}
.content_zhengwen {
  border-radius:8px;
  background-color: var(--bankuai-color);
  padding: 20px;
  margin: 20px 0 20px 0;
}
.content_zhengwen img,.top-img {
  cursor: pointer;
}
.content {
  font-size: 18px;
  p {
    font-size: 18px;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    @include breakpoint('small') {
      line-height: 2;
    }
  }
  strong {
    color:  var(--text-highlight-color);
  }
  h1 {
    font-size: 40px;
    line-height: 1.6;
    font-weight:normal;
    margin-top: 30px;
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  h2 {
    font-size: 28px;
    line-height: 1.4;
    font-weight:normal;
    margin-top: 20px;
    margin-bottom: 10px;
    &:first-of-type {
      margin-top: 0;
    }
    @include breakpoint('small') {
      font-size: 30px;
      line-height: 1.4;
    }
  }
  h3 {
    font-size: 20px;
    line-height: 1.4;
    font-weight:normal;
    margin-top: 30px;
    margin-bottom: 6px;
    letter-spacing: 0.5px
  }
  ul {
    list-style: disc;
    li {
      list-style: disc;
    }
  }
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
  ul,
  ol {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    li {
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 10px;
      margin-left: 20px;
      @include breakpoint('small') {
        margin-left: 0;
      }
    }
    @include breakpoint('small') {
      margin-left: 20px;
    }
  }
  a {
    text-decoration: underline;
    word-wrap:break-word;
    word-break: break-all;
    text-decoration: none;
    color: var(--text-highlight-color);
    &:hover{
      text-decoration: underline;
    }
  }
  blockquote {
    border-left: 5px solid #666;
    margin: 30px 0;
    padding: 20px;
  }
  blockquote p {
    font-size: 20px;
    display: inline;
    color: var(--color-base-text);
  }
  img {
    margin: 10px 0 0 0;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  figure {
    margin: 2.6rem 0 1.18rem;
    img {
      margin: 0;
    }
    figcaption {
      margin-top: 10px;
      h4 {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
      }
      p {
        margin: 0;
      }
    }
  }
  code,
  pre {
      font-family: var(--font-family-code);
      line-height: 1.8em;
  }
  .highlight {
    pre {
      border-radius: 3px;
      font-size: 16px;
      line-height: 22px;
      padding: 30px;
      overflow: auto;
      font-family: var(--font-family-monospace);
      border-radius:12px;
    }
  }
}
.footnotes {
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .content_zhengwen{
    background-color: var(--background-dark-color);
  }
  }