.footer-background{
  background: #FFF;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  margin-top: 40px;
  height: 90px;
  /* 先隐藏元素 */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  @include breakpoint('small') {
    height: 64px;
    }
  }
.loaded .footer-background {
  visibility: visible;
  opacity: 1;
  }
.footer {
    margin: auto;
    padding: 15px 20px 0 20px;
    display: flex;
    justify-content: center;
  }
.footer-info, .footer-info a{
  font-size: 12px;
  line-height: 1.8em;
  color: #a7a7a7;
  }
#gotop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
}
.gotop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
	background: #ffffff; 
  position: relative; /* 设置相对定位 */
}
.gotop:hover {
	background: #ededed; 
}
.gotop img{
  width: 18px;
  height: 18px;
  position: absolute; /* 设置绝对定位 */
  top: 50%; /* 将图片的顶部对齐容器的中间位置 */
  left: 50%; /* 将图片的左侧对齐容器的中间位置 */
  transform: translate(-50%, -50%); 
}
.youpaiyun {
  margin: 0 4px 0 4px;
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.footer-info, .footer-info a{
  color: #666;
}
.gotop {
    background: #999;
  }
.footer-background{
  background: #1A1718;
  border-top:solid #3d3d3d 0.5px;
  box-sizing: border-box;
  }
}
// 页面宽度小于1200px样式
@media (max-width:1200px){
  .gotop_hide{
    display:none; 
  }
  }