.footer-background{
  background: #000;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  margin-top: 40px;
  height: 90px;
  /* 先隐藏元素 */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  @include breakpoint('small') {
    height: 64px;
    }
  }
.loaded .footer-background {
  visibility: visible;
  opacity: 1;
  }
.footer {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    padding: 12px 30px 0 30px;
    @include breakpoint('small') {
      padding: 20px 30px 0 30px;
      }
  }
  
.footer-info, .footer-info a{
  font-size: 12px;
  line-height: 1.8em;
  color: #dbdbdb;
  }

.footer-info img{
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-top: -2px;
}
#gotop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
}
.gotop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
	background: #ffffff; 
  position: relative; /* 设置相对定位 */
}
.gotop:hover {
	background: #ededed; 
}
.gotop img{
  width: 18px;
  height: 18px;
  position: absolute; /* 设置绝对定位 */
  top: 50%; /* 将图片的顶部对齐容器的中间位置 */
  left: 50%; /* 将图片的左侧对齐容器的中间位置 */
  transform: translate(-50%, -50%); 
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.footer-info, .footer-info a{
  color: #999;
}
.gotop {
    background: #999;
  }
.footer-background{
  background: #1A1718;
  border-top:solid #3d3d3d 0.5px;
  box-sizing: border-box;
  }
}
// 页面宽度小于1050px样式
@media (max-width:1100px){
  .gotop_hide{
    display:none; 
  }
  }