// hardware硬件页样式
.quanju{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 10px; /* 中间空10px间距 */	
}
.bankuai{
	background-color:var(--bankuai-color);
	border-radius:4px;
	padding: 20px;
	transition: all .3s cubic-bezier(0,0,.5,1);
}
.bankuai:hover{
	box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.duiqi{
  display: flex;
  justify-content: center;
  align-items: center;
}
.duiqi img{
	width:80%;
	margin: 0;
	transition: transform 0.3s ease;
}
.bankuai:hover .duiqi img{
	transform: scale(1.05);
}
.title{
	font-family: var(--font-family-title);
	font-size:18px;
	margin: 8px 0 8px 0;
}

.jiage{
	color:#999;
	font-size:16px;
	margin-top: 10px;
	font-family: var(--font-family-code);
}

.note{
	font-size: 16px;
	line-height: 1.6;
	color: #666;
} 
.tiyi{
	margin-top: 10px;
	padding: 8px;
	background-color: var(--text-highlight-color);
	text-align: center;
	width: 100px;
	font-size: 16px;
	border-radius:6px;
	color: #fff;
}
.bankuai a:hover{
	text-decoration: none;
}
.tiyi:empty {
	display:none;
  }

// 页面宽度小于700样式
@media (max-width:700px){
.hardware-index-nrong{
	height: 400px !important;
  }
  .hardware-img{
	padding-top: 20px !important;
  }
.hardware-img img{
	width:200px !important;
  }
}

// 页面宽度大于700小于900样式
@media screen and (min-width:700px) and (max-width:900px){
.tuij-index{
	display: grid;
	grid-template-columns: 1fr 1fr; /* 两列等宽 */
	grid-gap: 10px; /* 中间空10px间距 */
}
}
// 页面宽度大于900样式
@media (min-width:900px){
.tuij-index{
	display: grid;
	grid-template-columns: 1fr 1fr; /* 两列等宽 */
	grid-gap: 10px; /* 中间空10px间距 */
}
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.bankuai{
  background:  var(--background-dark-color);
}
.note{
	color: #999;
}
.hardware-index-button {
	border:0.5px solid #544d4e !important;
	color: #666;
  }
.hardware-index{
	background: #201d1e !important;
  }
  .hardware-info{
	color: #666 !important;
  }
  .hardware-1{
	background-color: #3c3739 !important; 
  }
  .hardware-2{
	background-color: #5f595b !important; 
  }
  .hardware-index-nrong{
	background-color: #2f2b2c !important; 
  }
  .hardware-note{
	color: #999 !important;
  }

}

// 首页好物调用
.hardware-index{
	background: radial-gradient(101.976% 84% at 50.7% 100%, #e2e2e2 0%, rgb(255, 255, 255) 100%);
	padding: 30px 20px 0 20px;
	margin-top: 20px;
	border-radius:4px;
  }
  .hardware-index-title{
	text-align: center;
	margin-bottom: 10px;
	font-size: 22px;
	font-family: var(--font-family-title);
  }
  .hardware-index-button {
	width: 100px;
	border:0.5px solid #d7d7d7;
	padding: 8px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius:20px;
	text-align: center;
	font-size: 14px;
	color: #666;
  }
  .hardware-index-button svg{
	fill: #666;
	width: 16px;
	vertical-align: middle;
	margin-top: -3px;
	margin-left: 10px;
  }
  .hardware-info{
	width: 87%;
	margin: auto;
	font-size: 16px;
	color: #999;
	line-height: 1.6;
  }
  .hardware-1,.hardware-2,.hardware-index-nrong{
	border-top-left-radius: 16px; 
	border-top-right-radius: 16px; 
	opacity: 1;
  }
  .hardware-1{
	background-color: #dadada; 
	height: 15px;
	width: 82%;
	margin: 0 auto;
  }
  .hardware-2{
	background-color: #ededed; 
	height: 15px;
	width: 92%;
	margin: 0 auto;
  }
  .hardware-index-nrong{
	background-color: #fff; 
	height: 515px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 32px 0px;
	padding: 0 20px 0 20px;
  }
  .hardware-index-nrong:hover .hardware-img img{
	transform: scale(1.05);
  }
  .hardware-img{
	margin: 0 auto;
	padding-top: 40px;
  }
  .hardware-img img{
	width:60%;
	display: block;
    margin: auto;
	transition: transform 0.3s ease;
  }
  .hardware-title,.hardware-jiage,.hardware-note,.hardware-info{
	text-align: center;
  }
  .hardware-note{
	font-size: 16px;
	color: #666;
	line-height: 1.6;
  }
  .hardware-title{
	font-size: 18px;
	font-family: var(--font-family-title);
	margin-top: 8px;
	margin-bottom: 8px;
  }
  .hardware-jiage{
	font-size: 16px;
	color: #999;
  }