// hardware硬件页样式
.quanju{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-gap: 15px; /* 中间空10px间距 */	
}
.bankuai{
	border: 0.5px solid #e6e6e6;
	border-radius:4px;
	padding: 20px;
	transition: all .3s cubic-bezier(0,0,.5,1);
}
.bankuai:hover{
	box-shadow: 2px 4px 1rem rgba(0,0,0,.05);
}
.duiqi{
  display: flex;
  justify-content: center;
  align-items: center;
}
.duiqi img{
	width:80%;
	margin: 0;
	transition: transform 0.3s ease;
}
.bankuai:hover .duiqi img{
	transform: scale(1.05);
}
.title{
	font-family: var(--font-family-title);
	font-size:1.1rem;
	margin: 8px 0 8px 0;
}
.note{
	font-size: 1rem;
	line-height: 1.6;
	color: #666;
} 
.hardware_link,.hardware_index_link{
	margin-bottom: 15px;
	margin-top: 10px;
	display: flex;
	grid-gap: 10px;
	flex-wrap: wrap;//宽度显示不下自动换行
}
.details,.tiyi,.jiage{
	padding: 0 10px;
	text-align: center;
	font-size: 0.85rem;
	border-radius:20px;
	font-family: var(--font-family-code);
	height: 30px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.tiyi{
	color: var(--text-highlight-color);
    background-color: transparent;
	border: 0.5px solid var(--text-highlight-color);
}
.liing_2_right{
	margin-top: 10px;
    max-width: 100px;
}
.details,.jiage{
	color: #666;
	background-color: transparent;
	border: 0.5px solid #dadada;
}
.bankuai a:hover{
	text-decoration: none;
}
.tiyi:empty,.details:empty {
	display:none;
  }

// 页面宽度小于700样式
@media (max-width:700px){
.hardware-index-nrong{
	height: 400px !important;
  }
  .hardware-img{
	padding-top: 20px !important;
  }
.hardware-img img{
	width:200px !important;
  }
}

// 页面宽度大于700小于900样式
@media screen and (min-width:700px) and (max-width:900px){
.tuij-index{
	display: grid;
	grid-template-columns: 1fr 1fr; /* 两列等宽 */
	grid-gap: 10px; /* 中间空10px间距 */
}
}
// 页面宽度大于900样式
@media (min-width:900px){
.tuij-index{
	display: grid;
	grid-template-columns: 1fr 1fr; /* 两列等宽 */
	grid-gap: 15px; /* 中间空10px间距 */
}
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.bankuai{
	border: 0.5px solid var(--frame-dark-color);
}
.note{
	color: #999;
}
.hardware-index-button {
	border:0.5px solid #544d4e !important;
	color: #666;
  }
.hardware-index{
	background: #201d1e !important;
  }
  .hardware-info{
	color: #666 !important;
  }
  .hardware-1{
	background-color: #3c3739 !important; 
  }
  .hardware-2{
	background-color: #5f595b !important; 
  }
  .hardware-index-nrong{
	background-color: #2f2b2c !important; 
  }
  .hardware-note{
	color: #999 !important;
  }
  .details,.jiage{
	border: 0.5px solid #454545;
	color: #999;
  }
  .hardware_index_link a{
	color: #999 !important;
  }

}