// hardware硬件页样式

.bankuai{
	background-color:var(--bankuai-color);
	border-radius:4px;
	margin-top: 10px;
	padding:3%;
	transition: all .3s cubic-bezier(0,0,.5,1);
}
.bankuai:hover{
	box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.duiqi{
  display: flex;
  justify-content: center;
  align-items: center;
}
.duiqi img{
	width:80%;
	margin: 0;
	transition: transform 0.3s ease;
}
.bankuai:hover .duiqi img{
	transform: scale(1.05);
}
.title{
	font-family: var(--font-family-title);
	letter-spacing:0.5px;
	font-size:18px;
	margin: 10px 0 10px 0;
}

.jiage{
	color:#999;
	font-size:14px;
	margin-top: 10px;
	font-family: var(--font-family-code);
}

.note{
	font-size: 14px;
	line-height: 1.5;
	color: #666;
} 

// 页面宽度小于700样式

@media (max-width:700px){

.bankuai{
	width: 95.5%;
	padding:0 2%  5% 2%;
}
.title{
	font-size:20px;
	margin: 10px;
}
.jiage{
	margin: 0 10px 0 10px;
}
.note{
	margin: 0 10px 0 10px;
}

}

// 页面宽度大于700小于900样式

@media screen and (min-width:700px) and (max-width:900px){

.quanju{
	font-size:0;	
	width: 106%;
}
.bankuai{
    display: inline-block;
    vertical-align: top;
	width:40.3%;
	margin-right:10px;
	height: 390px;
}
}
// 页面宽度大于900样式

@media (min-width:900px){

.quanju{
   font-size:0;
    width: 106%;
}
.bankuai{
    display: inline-block;
    vertical-align: top;
	width:24.7%;
	margin-right:10px;
	height: 350px;
}
.duiqi img{
	width:90%; 	
}
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.bankuai{
  background:  var(--background-dark-color);
}
.note{
	color: #999;
} 
}