.header {
  display: flex;
  padding: 25px 0 25px 0;
}
.biaot-beian{
  color: #999;
  font-size: 0.85rem;
}
.header-logo img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
  border: 1.5px solid #222;
}
.about-logo img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #222;
  transition: opacity .3s ease-in-out;
}
.about-logo img:hover {
  opacity: 0.6;
}
.header-title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text-content-color);
  font-family: var(--font-family-title);
 }

.menu-main {
  display: flex;
  grid-gap: 25px; /* 中间空10px间距 */
  margin-left: auto;
  align-items: center;
 }
 .header-menu a {
  color: #666;
  font-size: 1rem;
  font-family: var(--font-family-title);
 }

.heard-rss svg path,.menu-main svg{
  fill: #999;
}
.githuab svg{
  width: 20px;
  fill: #999;
}
.heard-rss svg path:hover,.githuab svg:hover,.menu-main svg:hover{
  fill: #666;
}

 // 页面宽度小于900样式
@media (max-width:900px){
  .menu-main,.new-heard-menu {
    display: none;
   }
}
@media (min-width:900px){
  .new-heard-menu{
    display: flex;
    grid-gap: 20px; /* 中间空10px间距 */
    align-items: center;
    padding: 10px 0 10px 0;
  }
  .header-logo,.header-title{
    display: none;
  }
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .header-title,.header-menu a{
    color: var(--text-content-dark-color);
  }
  .githuab svg,.heard-rss svg path,.menu-main svg{
    fill: #666;
  }
  .heard-rss svg path:hover,.githuab svg:hover,.menu-main svg:hover{
    fill: #999;
  }
}