.header-background{
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: calc(50% - 50vw);
  width: 100vw;
  z-index: 400;
  border-bottom:solid #dadada 0.5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.3s ease-in-out;
  transform: translateY(0); 
  }
.header-background.hidden {
  transform: translateY(-100%); 
  }
.header {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}
.header-logo img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 8px;
}
.header-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-content-color);
  font-family: var(--font-family-title);
 }

.menu-main {
  display: flex;
  grid-gap: 25px; /* 中间空10px间距 */
  margin-left: auto;
  align-items: center;
 }
 .header-menu a {
  color: #666;
  font-size: 16px;
  font-family: var(--font-family-title);
 }
.header-rss{
  margin-top: 2px;
}


 // 页面宽度小于900样式
@media (max-width:900px){
  .menu-main {
    display: none;
   }
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .header-title,.header-menu a{
    color: var(--text-content-dark-color);
  }
  .header-background{
    background-color: rgba(40, 35, 36, 0.9);
    border-bottom:solid #3d3d3d 0.5px;
  }
}