.header {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 25px 0 25px 0;
}
.header-logo img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
  border: 1.5px solid #222;
}
.header-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--text-content-color);
  font-family: var(--font-family-title);
 }

.menu-main {
  display: flex;
  grid-gap: 25px; /* 中间空10px间距 */
  margin-left: auto;
  align-items: center;
 }
 .header-menu a {
  color: #666;
  font-size: 16px;
  font-family: var(--font-family-title);
 }

.heard-rss svg path{
  fill: #999;
}
.menu-main svg{
  fill: #444;
}
.githuab svg{
  width: 20px;
  fill: #999;
}

 // 页面宽度小于900样式
@media (max-width:900px){
  .menu-main,.new-heard-menu {
    display: none;
   }
}
@media (min-width:900px){
  .new-heard-menu{
    display: flex;
    grid-gap: 20px; /* 中间空10px间距 */
    align-items: center;
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
  .header-logo,.header-title{
    display: none;
  }
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .header-title,.header-menu a{
    color: var(--text-content-dark-color);
  }
  .new-heard-menu{
    background: #2d292a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  .menu-main svg{
    fill: #BBB;
  }
  .githuab svg,.heard-rss svg path{
    fill: #999;
  }
}