.intro {
  margin-top: 30px;
  h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 50px;
    line-height: 56px;
    @include breakpoint('small') {
      width: 80%;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.8;
    @include breakpoint('small') {
      width: 100%;
      font-size: 18px;
      line-height: 32px;
    }
  }
  .article_title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 12px;
    font-weight:normal;
  }
  .read-more {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    @include breakpoint('small') {
      font-size: 18px;
      line-height: 32px;
    }
  }
  img {
    max-width: 100%;
    border-radius:8px;
  }
  // img {
  //   margin-right: -30px;
  //   width: 100vw;
  //   vertical-align: bottom;
  //   @include breakpoint('small') {
  //     margin-left: -100px;
  //     margin-right: -100px;
  //     margin-bottom: 50px;
  //     width: auto;
  //   }
  // }
}