//首页调用
.momos-sswrap {
  margin-top: 20px;
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	grid-gap: 10px; /* 中间空10px间距 */
}
.memos_diaoyong,.bb-list-li,.memos-random-background{
  border-radius:4px;
  background: var(--bankuai-color) !important;
  padding:20px; 
  transition: all .3s cubic-bezier(0,0,.5,1);
}
.memos_diaoyong:hover,.bb-list-li:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.memos-zuoz{
  display: flex;
  margin-bottom: 15px;
}
.memos_diaoyong_from{
  margin-bottom: 2px;
}
.memos_diaoyong_from a{
  color: #666;
  font-family: var(--font-family-code);
}
.memos-logo,.memos-logo2{
 padding-top: 7px;
}
.memos-logo img,.memos-logo2 img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
.talks_comments{
  margin-left: auto;
  padding-top: 10px;
}
.talks_comments svg {
  width: 16px;
  fill: #c0c0c0;
}
.memos_diaoyong:hover .talks_comments svg ,.bb-list-li:hover .talks_comments svg{
  fill: #666;
}

//唠叨页
#bber,.memos-header,.bb-load{
  max-width: 800px;
  margin: auto;
}
.talks_comments a{
  cursor:pointer;
}
.bb-timeline pre{
  color:#aaa;
}
.bb-timeline ul{
  margin-top: 15px;
  padding:0;
}
.bb-list-ul{
  display: grid;
	grid-gap: 15px; /* 中间空10px间距 */
}
.bb-load button{
  background:#FFFFFF;
  padding: 10px 30px 10px 30px;
  cursor:pointer;
  border: none;
  display:grid;
  margin-top: 20px;
  border-radius:5px;
  color: #BB2649;
  font-size: 16px;
}
.bb-load button:hover{
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}
.memos_diaoyong_info a{
  font-size: 16px !important;
  line-height:1.6 !important;
  color: var(--text-content-color) !important;
}
.memos_diaoyong_info{
  font-size: 16px;
  color: var(--text-content-color);
  line-height:1.6;
}
.bb-timeline ul li .datacont img[src*='emotion']{display:inline-block;width:auto;}
.bb-timeline ul li .datafrom{color:#aaa;font-size:0.75em !important;font-style:italic;}
.datacont p{
  margin:0;
  font-size:18px;
  line-height:1.8;
}
.bb-timeline ul li p a {
  color: var(--text-highlight-color);
}
.bb-timeline pre p{display:inline-block;}
.bb-timeline pre p:empty{display:none;}
.dark-theme .bb-timeline .bb-load button{color:#fafafa;}
.dark-theme .bb-timeline ul li .datafrom{color:#aaa;}
.datacont .tag-span{
  color: #999;
  background: #F4F4F4;
  padding: 7px;
  font-size: 14px;
  border-radius:4px;
}
.datasource a{color:#fafafa;background:#3b3d42;padding:2px 8px;margin:0 6px 0 0;border-radius:5px;font-size:.9rem;font-weight:400;}
.datacont .img{cursor:pointer;border-radius:4px;}
.datacont .img.square{height:180px;width:180px;object-fit:cover;}
.resimg.grid{display:grid;grid-template-columns:repeat(3,1fr);grid-template-rows:auto;gap:4px;width:calc(100%* 2 / 3);box-sizing:border-box;margin:4px 0 0;}
.resimg.grid figure.gallery-thumbnail{
  position:relative;
  width:100%;
  height:0;
  padding-top:100%;
  cursor:zoom-in;
}
.resimg figure{text-align:left;max-height:50%;margin:0 !important;}
.resimg.grid figure,figcaption{margin:0 !important;}
.resimg.grid figure.gallery-thumbnail > img.thumbnail-image{
  position:absolute;
  left:0;top:0;
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:50% 50%;
}
.bb-timeline ul li::before{content:none;}

.bb-timeline ul li p img {
  width: 200px;
}
.resimg figure img{width:200px;}
.memos_diaoyong_from,.memos_diaoyong_time,.memos_diaoyong_laiz a{
  color: #999;
  font-size: 14px;
  font-family: var(--font-family-code);
}

// 页面宽度小于900样式

@media (max-width:900px){
  .memos-logo img,.memos-logo2 img{
    display: none;
  }
  .memos-zuoz{
    margin-bottom: 10px;
  }

#bber{width:100%; margin: 0 auto;}
.resimg.grid-4{grid-template-columns:repeat(2,1fr);width:calc(130% * 2 / 3);}
.resimg.grid-2{grid-template-columns:repeat(2,1fr);width:100%;}
.resimg.grid{width:calc(130%* 2 / 3);}
}

// 页面宽度大于900样式

@media (min-width:900px){
#bber{width:100%; margin: 0 auto;}
.resimg.grid-4{grid-template-columns:repeat(2,1fr);width:calc(80% * 2 / 3);}
.resimg.grid-2{grid-template-columns:repeat(2,1fr);width:60%;}
}


// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.bb-timeline ul li {background: var(--background-dark-color) !important;}
.datacont .tag-span{
  background: #332E2F;
}
.bb-load button{
  background:var(--background-dark-color);
}
.memos_diaoyong,.bb-list-li,.memos-random-background{
  background: var(--background-dark-color) !important;
}
.memos_diaoyong_from a{
  color: #999;
}
.memos_diaoyong_time, .memos_diaoyong_laiz a{
  color: #666;
}
.memos_diaoyong_info, .memos_diaoyong_info a {
  color: var(--text-content-dark-color) !important;
}
.talks_comments svg {
  fill: #666;
}
.memos_diaoyong:hover .talks_comments svg,.bb-list-li:hover .talks_comments svg{
  fill: #c0c0c0;
}
//memos页发布唠叨
.load-memos-editor,.memos-open-api-input{
  color: var(--text-content-dark-color) !important;
}
.memos-editor-body{
  background: var(--background-dark-color) !important;
}
.editor-selector select {
  border: 0.5px solid #454545 !important;
  color: #999 !important;
}
.memos-editor-content .memos-editor-inputer{
  color: var(--text-content-dark-color);
}
.submit-memos-btn{
  border: solid #454545 0.5px !important;
}
.memos-open-api-submit{
  background: #1A1718 !important;
  color: var(--text-highlight-color) !important;
}
}
//memos页发布唠叨

*,
*::before,
*::after {
  box-sizing: inherit;
}
.load-memos-editor{
  color: var(--text-content-color);
  cursor: pointer;
  font-size: 40px;
  font-family: var(--font-family-title);
  margin-bottom: 10px;
  display: inline-block;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.d-none {
  display: none !important;
}
.memos-editor-body{
  border-radius:4px;
  background: var(--bankuai-color);
  transition: all .3s cubic-bezier(0,0,.5,1);
  padding: 20px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.memos-editor-content .memos-editor-inputer{
  border: transparent;
  border-radius:4px;
  line-height:1.6;
  min-height: 80px;
  overflow-x:hidden;
  overflow-y:clip;
  width:100%;
  outline:0.5px solid transparent;
  resize:none;
  background: transparent;
  font-family: var(--font-family-paragraph);
  font-size: 16px;
}
.memos-editor-tools{
  margin-top:4px;
  margin-bottom: 15px;
}
.memos-editor-tools .action-btn{
  margin-right: 20px;
  cursor: pointer;
}
.p-2{
  margin-left: 10px;
}
.memos-editor-tools .memos-tag-list{
  display:flex;
  margin-top: 15px;

}
.memos-editor-tools .memos-tag{
  cursor: pointer;
  margin-right: 20px;
}
.memos-editor-tools .memos-tag a{
  color: #999;
}
.editor-selector {
  position: relative;
  display: inline-block;
}
.editor-selector select {
  appearance: none; /* 隐藏原生控件样式 */
  border: 0.5px solid #dadada;
  border-radius: 4px;
  padding: 8px 20px 8px 6px;
  background: transparent;
  color: #666;
  font-family: var(--font-family-paragraph);
  font-size: 14px;
  outline:0.5px solid transparent;
}
.editor-selector::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px; /* 调整箭头的位置，这里示例将箭头靠右偏移8像素 */
  width: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px; /* 控制箭头的大小和形状 */
  border-color: #999 transparent transparent transparent; /* 控制箭头的颜色 */
  transform: translateY(-50%); /* 将箭头垂直居中对齐 */
}
.submit-memos-btn{
  background: transparent;
  border: 0.5px solid #dadada;
  cursor: pointer;
  color: var(--text-highlight-color);
  border-radius:4px;
  padding: 6px 15px 6px 15px;
}
.submit-memos-btn:hover,.memos-open-api-submit:hover{
  opacity: 0.8;
  transition: opacity .3s ease-in-out;
}
.memos-editor-footer{
  display:flex;
  align-items:center;
}
.justify-content-end {
  margin-left: auto;
}

//填写api样式
.memos-editor-option{
  display: flex; 
}
.memos-open-api-input{
  border: transparent;
  padding:6px 0 6px 0;
  width:100%;
  outline:0.5px solid transparent;
  margin-right: 10px;
  background: transparent;
  font-size: 16px;
  font-family: var(--font-family-code);
}
.memos-open-api-submit{
  background: var(--text-highlight-color);
  cursor: pointer;
  color: #fff;
  border-radius:4px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
//随机memos
.memos-random-background{
  margin-top: 15px;
}