//首页调用
.momos-sswrap {
  margin-bottom: 20px;
}
.memos_diaoyong,.bb-list-li{
  border-radius:4px;
  background: var(--bankuai-color) !important;
  padding:20px; 
  transition: all .3s cubic-bezier(0,0,.5,1);
}
.memos_diaoyong:hover,.bb-list-li:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.momos-sslist,.bb-list-ul{
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	grid-gap: 10px; /* 中间空10px间距 */
}
.memos-zuoz{
  display: flex;
  margin-bottom: 20px;
}
.memos_diaoyong_from{
  margin-bottom: 2px;
}
.memos_diaoyong_from a{
  color: #666;
  font-family: var(--font-family-code);
}
.memos-logo {
 padding-top: 6px;
 margin-right: 4px; 
}
.memos-logo img{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0.5px solid #000;
  margin-right: 6px;
}
.memos-tubiao{
  margin-left: auto;
  padding-top: 10px;
}
.memos-tubiao svg {
  width: 16px;
  fill: #c0c0c0;
}
.memos_diaoyong:hover .memos-tubiao svg ,.bb-list-li:hover .memos-tubiao svg{
  fill: #666;
}

//唠叨页
.bb-timeline pre{
  color:#aaa;
}
.bb-timeline ul{
  margin-top: 10px;
  padding:0;
}

.bb-load button{
  background:#FFFFFF;
  padding: 10px 30px 10px 30px;
  cursor:pointer;
  border: none;
  display:grid;
  margin-top: 20px;
  border-radius:5px;
  color: #BB2649;
  font-size: 16px;
}
.bb-load button:hover{
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}
.memos_diaoyong_info a{
  font-size: 16px !important;
  line-height:1.6 !important;
  color: var(--text-content-color) !important;
}
.memos_diaoyong_info{
  font-size: 16px;
  color: var(--text-content-color);
  line-height:1.6;
}
.bb-timeline ul li .datacont img[src*='emotion']{display:inline-block;width:auto;}
.bb-timeline ul li .datafrom{color:#aaa;font-size:0.75em !important;font-style:italic;}
.datacont p{
  margin:0;
  font-size:18px;
  line-height:1.8;
}
.bb-timeline ul li p a {
  color: var(--text-highlight-color);
}
.bb-timeline pre p{display:inline-block;}
.bb-timeline pre p:empty{display:none;}
.dark-theme .bb-timeline .bb-load button{color:#fafafa;}
.dark-theme .bb-timeline ul li .datafrom{color:#aaa;}
.datacont .tag-span{
  color: #999;
  background: #F4F4F4;
  padding: 7px;
  font-size: 14px;
  border-radius:4px;
}
.datasource a{color:#fafafa;background:#3b3d42;padding:2px 8px;margin:0 6px 0 0;border-radius:5px;font-size:.9rem;font-weight:400;}
.datacont .img{cursor:pointer;border-radius:4px;}
.datacont .img.square{height:180px;width:180px;object-fit:cover;}
.resimg.grid{display:grid;grid-template-columns:repeat(3,1fr);grid-template-rows:auto;gap:4px;width:calc(100%* 2 / 3);box-sizing:border-box;margin:4px 0 0;}
.resimg.grid figure.gallery-thumbnail{
  position:relative;
  width:100%;
  height:0;
  padding-top:100%;
  cursor:zoom-in;
}
.resimg figure{text-align:left;max-height:50%;margin:0 !important;}
.resimg.grid figure,figcaption{margin:0 !important;}
.resimg.grid figure.gallery-thumbnail > img.thumbnail-image{
  position:absolute;
  left:0;top:0;
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:50% 50%;
}
.bb-timeline ul li::before{content:none;}

.bb-timeline ul li p img {
  width: 200px;
}
.resimg figure img{width:200px;}
.memos_diaoyong_from,.memos_diaoyong_time,.memos_diaoyong_laiz a{
  color: #999;
  font-size: 14px;
}

// 页面宽度小于900样式

@media (max-width:900px){

#bber{width:100%; margin: 0 auto;}
.resimg.grid-4{grid-template-columns:repeat(2,1fr);width:calc(130% * 2 / 3);}
.resimg.grid-2{grid-template-columns:repeat(2,1fr);width:100%;}
.resimg.grid{width:calc(130%* 2 / 3);}
}

// 页面宽度大于900样式

@media (min-width:900px){
#bber{width:100%; margin: 0 auto;}
.resimg.grid-4{grid-template-columns:repeat(2,1fr);width:calc(80% * 2 / 3);}
.resimg.grid-2{grid-template-columns:repeat(2,1fr);width:60%;}
}


// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.bb-timeline ul li {background: var(--background-dark-color) !important;}
.datacont .tag-span{
  background: #332E2F;
}
.bb-load button{
  background:var(--background-dark-color);
}
.memos_diaoyong,.bb-list-li{
  background: var(--background-dark-color) !important;
}
.memos_diaoyong_from a{
  color: #999;
}
.memos_diaoyong_time, .memos_diaoyong_laiz a{
  color: #666;
}
.memos_diaoyong_info, .memos_diaoyong_info a {
  color: var(--text-content-dark-color) !important;
}
.memos-tubiao svg {
  fill: #666;
}
.memos_diaoyong:hover .memos-tubiao svg,.bb-list-li:hover .memos-tubiao svg{
  fill: #c0c0c0;
}
}