// 首页调用
.movie-quanju{
  display: grid;
	grid-template-columns: 1fr 1fr; /* 两列等宽 */
	grid-gap: 10px; /* 中间空10px间距 */
  margin-top: 20px;
}
.movie-index{
  background: var(--bankuai-color);
  padding: 20px;
  border-radius: 4px;
  transition: all .3s cubic-bezier(0,0,.5,1);
}
.movie-index:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.type-index {
  display: flex;
  justify-content: space-between;
}
.type-index-left{
  font-size: 16px;
  color: #999;
  margin-bottom: 30px;
  flex-grow: 1;
}
.type-index-right {
  flex-shrink:0;
  width: 16px;
}
.type-index-right a {
  color: #c0c0c0;
}
.movie-index:hover .type-index-right a {
  color: #666;
}

.movie-content{
  display: grid;
  grid-template-columns: auto 1fr; /* 第一列宽度自动，第二列平分剩余空间 */
  grid-gap: 20px; /* 可选项，设置列之间的间隔 */
  align-items: center;
}
.movie-content-left{
  grid-column: 1; /* 放置在第一列 */ 
}
.movie-content-left img{
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border-radius: 6px !important;
  object-fit:cover;
  width: 150px;
  height: 220px;
}
.movie-index:hover .movie-content-left img{
  transform: scale(1.05);
}

.movie-content-right{
  grid-column: 2;
}
.movie-content-right-1{
  font-size: 16px;
  margin-bottom: 10px;
  color: #999;
}
.rating{
  font-family:var(--font-family-title);
  font-size: 17px;
}
.movie-content-right-2{
  font-family:var(--font-family-title);
  font-size: 18px;
}
.movie-content-right-3{
  line-height:1.6;
  font-size: 16px;
  margin-top: 10px;
  color: #666;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}



// 影视页面
.fIuTG{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  display: grid;
  grid-gap: 2px; /* 中间空10px间距 */
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
.dfdORB{
  overflow: hidden;
}
.sc-hKFxyN img{
   width:100%;
   border-radius:4px;
   height: 370px;
   object-fit: cover;
}
.dfdORB a{text-decoration:none}
.kMthTr{
  margin-top:15px;
  margin-bottom: 8px;
  line-height:1.3;
  overflow:hidden;
  text-align:center;
  font-size:20px;
  font-family: var(--font-family-teshu);
  letter-spacing:0.5px;
}
.HPRth{
  transition: transform 0.3s ease;
}

.HPRth:hover{
  transform: scale(1.1);
}
.HPRth a{
  display: block;
  margin-bottom: -4px;
}
.kEoOHR{
  display:inline-block;
  margin-right:10px;
  text-decoration:none;
  color:var(--text-highlight-color);
}
.dvtjjf,.sort-by-item{
  display:inline-block;
  color:var(--text-content-color);
  text-decoration:none;
  padding: 0 20px 10px 0;
}
.dvtjjf.active{
  color: var(--text-highlight-color);

}
.sc-hint{
  color: #999;
  margin-right: 20px;
}
.hide{display:none}
.sort-by{
  margin-bottom:10px;
}
.sort-by-item.active{
color: var(--text-highlight-color);
}
.sort-by-item svg{margin-right:5px}

// 页面宽度小于700样式
@media (max-width:700px){
.fIuTG{
  width: 100%;
  margin-left:0;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
.sc-hKFxyN img{
   height: 180px;
}
.movie-content-left img{
  width: 120px;
  height: 180px;
}
.movie-index{
  margin-bottom: 10px;
}
.movie-quanju{
  display: block; 
}
.movies-nrong{
  display: none;
}
}
// 页面宽度大于700小于900样式
@media screen and (min-width:700px) and (max-width:900px){
.fIuTG{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .sc-hKFxyN img{
     height: 200px;
  }
.movie-content-left img{
  width: 120px;
  height: 180px;
}
.movies-nrong{
  display: none;
}
}
// 页面宽度大于900样式   
@media (min-width:900px){
  .movies-nrong{
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 60px 30px 20px 30px;
    color: #fff;
    font-size: 13px;
    display:none;
    position:absolute;
  } 
  .HPRth:hover .movies-nrong{
    display:block;
  }
  .movie-time{
   color: #c7c7c7;
  }
  .movie-title{
    font-family:var(--font-family-title);
    font-size: 16px;
    margin: 6px 0 6px 0;
  }
  .movie-pfeng{
    margin-bottom: 10px;
    color: #c7c7c7;
  }
  .movie-pfeng-shuzi{
    font-family:var(--font-family-title);
    font-size: 15px;
    color: #FFF;
  }
  .movie-info{
    line-height:1.6;
    color: #FFF;
    text-align: justify;
  }
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.dvtjjf,.sort-by-item{
  color:var(--text-content-dark-color) !important;
}
.sc-hint{
  color: #555;
}
.dvtjjf.active, .sort-by-item.active{
  color: var(--text-highlight-color) !important;
}
.movie-index{
  background: var(--background-dark-color);
}
.type-index-left,.type-index-right a{
  color: #666;
}
.movie-index:hover .type-index-right a {
  color: #c0c0c0;
}
.movie-content-right-1{
  color: #666;
}
.movie-content-right-3{
  color: #999;
}
}