.pagination {
  display: flex;
  font-size: 15px;
  margin: 30px 0 -10px 20px;
  font-family: var(--font-family-heading);
  @include breakpoint('small') {
    margin: 30px 0 -10px 25px;
  }
}
.pagination a{
  background-color: #999;
  margin-right: 8px;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 2.2;
  color: #fff;
}
.pagination a:hover,.pagination li:hover{
    background-color: var(--text-highlight-color);
    color: white;
    text-decoration:none;
}
.pagination li {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  &.pagination-item-current {
    background-color: var(--text-highlight-color);
    margin-right: 8px;
    color: white;
  }
}