.photo-home{
    font-size:0;
    width: 102.8%;
    margin-bottom: 15px;
}
.photo-home-top{
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
    position: relative;
    margin-bottom: 2px;
    overflow: hidden;
}
.photo-home-top img {
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    transition: transform 0.3s ease;
}
.photo-home-top img:hover {
    transform: scale(1.1);
}
.photo-home-title{
    background: rgba(0, 0, 0, 0.4);
    font-size:14px;
    color: #FFF;
    position:absolute;
    bottom: 0;
    padding: 8px 0 8px 0;
    text-align: center;
}
  
// 页面宽度小于700样式
@media (max-width:700px){
    .photo-home-top{
        width: 32.2%;
    }
    .photo-home-top img {
        height: 120px;
    } 
    .photo-home-title{
        display:block;
        padding: 5px 0 5px 0;
        font-size:12px;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
    }
    }
 // 页面宽度大于700小于900样式
@media screen and (min-width:700px) and (max-width:900px){
    .photo-home-top{
            width: 32.2%;
        }
    .photo-home-top img {
            height: 180px;
        }
    .photo-home-title{
            display:block;
            margin-left: 5px;
            margin-bottom: 5px;
            padding: 6px;
            border-radius:2px;
            font-size: 12px;
        }
    }
// 页面宽度大于900样式   
 @media (min-width:900px){
    .photo-home-top{
            width: 16.04%;
        }
    .photo-home-top img {
            height: 150px;
        }
    .photo-home-title{
            display:none;
            width: 100%;
        }
    .photo-home-top:hover span.photo-home-title {
            display:block;
        }
    }
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
    .photo-home-top img:hover{
        filter: brightness(0.7);
      }
    }