//首页相册
.photo-about,.photo-home{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 6px; 
}
.photo-home-top{
    position: relative;
    overflow: hidden;
}
.photo-home-top img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease;
    height: 140px; 
    display: block; 
}
.photo-home-top img:hover{
    transform: scale(1.1);
}
.photo-home-title{
    background: rgba(0, 0, 0, 0.6);
    font-size:14px;
    color: #FFF;
    position:absolute;
    bottom: 0;
    padding: 8px 0 8px 0;
    text-align: center;
    display:none;
    width: 100%;
} 
// 页面宽度小于700样式
@media (max-width:700px){
    .photo-home-top img {
        height: 120px;
    }
    .photo-about,.photo-home{
        grid-template-columns: repeat(3, 1fr);
    }
    }
// 页面宽度大于900样式   
 @media (min-width:950px){
    .photo-home-top:hover span.photo-home-title{
        display:block;
    }
    }
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
    .photo-home-top img:hover{
        filter: brightness(0.7);
      }
    }