.photo-home{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 4px;
}
.photo-home-top-1 img ,.photo-home-top img{
    display: block;   
}
.photo-home-top-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 4px;  
}
.photo-home-top,.photo-home-top-1{
    position: relative;
    overflow: hidden;
}
.photo-home-top-1 img,.photo-home-top img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s ease;
}
.photo-home-top img {
    height: 200px; 
}
.photo-home-top-1 img{
    height: 200px;
}
.photo-home-top img:hover ,.photo-home-top-1 img:hover{
    transform: scale(1.1);
}
.photo-home-title,.photo-home-title-1{
    background: rgba(0, 0, 0, 0.6);
    font-size:14px;
    color: #FFF;
    position:absolute;
    bottom: 0;
    padding: 8px 0 8px 0;
    text-align: center;
}
.photo-home-title-1{
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius:6px;
    padding: 10px;
   }
.photo-home-title{
    padding: 8px 0 8px 0;
    display:none;
    width: 100%;
}

// about页面
.photo-about{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4px; 
}
  
// 页面宽度小于700样式
@media (max-width:700px){
    .photo-home-top img {
        height: 120px;
    }
    .photo-home-title,.photo-home-top-1{
        display:none;
    }
    .photo-home{
        display: block;
        margin-top: 20px !important; 
    }
    .photo-about{
        grid-template-columns: repeat(3, 1fr);
    }
    }
    
 // 页面宽度大于700小于900样式
@media screen and (min-width:700px) and (max-width:900px){
    .photo-home-title{
        display:none;
    }
    .photo-home-top img {
        height: 150px; 
    }
    .photo-home-top-1 img{
        height: 150px;
    }
    .photo-home{
        margin-top: 20px !important; 
    }
    .photo-about{
        grid-template-columns: repeat(4, 1fr);
    }
    }
// 页面宽度大于900样式   
 @media (min-width:900px){
    .photo-home-top:hover span.photo-home-title,.photo-home-top-1:hover span.photo-home-title{
        display:block;
    }
    }
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
    .photo-home-top img:hover{
        filter: brightness(0.7);
      }
    }