.content-index{
  margin-bottom: 30px;
}
.summary{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 15px;
  margin-top: 20px;
}
.summary-nrong{
  border: 0.5px solid #e6e6e6;
  padding: 20px;
  border-radius: 6px;
  transition: all .3s cubic-bezier(0,0,.5,1);
}
.summary-nrong:hover{
  box-shadow: 2px 4px 1rem rgba(0,0,0,.05);
}
.summary-date {
  font-size: 0.85rem;
  color: #999;
  font-family: var(--font-family-code);
  margin-top: 6px;
}
.summary-title{
  font-family:var(--font-family-title);
  font-size: 1.25rem;
  margin-top: 6px;
  line-height: 1.6;
}
.summary-description{
  font-size: 1rem;
  line-height:1.8;
  color: #666;
  margin-top: 10px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

  // 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .summary-nrong{
    border: 0.5px solid var(--frame-dark-color);
  }
  .summary-description{
    color: #999;
  }
  .summary-date{
    color: #666 !important;
  }
  }