.summary {
  margin-bottom: 30px;
  font-size: 18px;
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  transition: all .3s cubic-bezier(0,0,.5,1);
  border-radius:15px;
  background-color: var(--bankuai-color);
  padding: 20px;
  @include breakpoint('small') {
    padding: 25px;
  }
  .summary-date {
    font-family: var(--font-family-teshu);
  }
  .summary-title {
    margin: 0 0 -10px 0;
    font-size: 24px;
    line-height: 34px;
    font-weight:normal;
  }
  .summary-description {
    width: 100%;
    line-height: 1.8;
    text-align: justify;
  }
}
.summary-title a {
  color: var(--text-highlight-color);
}
.read-more{
  color: var(--text-content-color);
  font-family: var(--font-family-heading);
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .read-more{
    color: var(--text-content-dark-color);
  }
  .summary {
    background-color: var(--background-dark-color);
  }
  .summary-time{
    background: #393234;
  }
  .intro_image img{
      border-left: 0 solid  var(--background-dark-color) !important;
      opacity: 0.8;
    }

}


// 页面宽度小于900样式
@media (max-width:900px){
  .intro_image img{
    max-width:calc(100% + 40px);
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 20px;
    @include breakpoint('small') {
      max-width:calc(100% + 50px);
      margin-left: -25px;
      margin-top: -25px;
    }
  }
  }
  // 页面宽度大于900样式
  @media (min-width:900px){
    .summary {
      flex-direction: row-reverse;
      align-items: center;
      display: flex;
    }
    .intro_image img{
      max-width:300px;
      height: 330px;
      object-fit:cover;
      border-radius:0 15px 15px 0;
      border-left: 0.5px solid #c9c9c9;
      margin: -25px -25px -29.5px 25px;
    }
  }