.content-index{
  margin-bottom: 20px;
  margin-top: 30px;
}
.summary-nrong{
  background: var(--bankuai-color);
  padding: 20px;
  border-radius: 4px;
  transition: all .3s cubic-bezier(0,0,.5,1);
}
.summary-nrong:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.summary-1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.summary-tag-left{
  margin-right: 10px;
}
.summary-tag-right{
  flex-shrink:0;
  width: 16px;
  grid-column: 2;
}
.summary-tag-right a{
  color: #c0c0c0;
}
.summary-nrong:hover .summary-tag-right a{
  color: #666;
}
.summary-tag a{
  font-size: 16px;
  color: #999;
}
.summary-date {
  font-size: 14px;
  color: #999;
  font-family: var(--font-family-code);
}
.summary-title{
  font-family:var(--font-family-title);
  font-size: 20px;
  margin-top: 10px;
}
.summary-description{
  font-size: 16px;
  line-height:1.6;
  color: #666;
  margin-top: 10px;
  text-align: justify;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.read-more{
  margin-top: 20px;
}
.list-more{
  margin-top: 12px;
}
.read-more a,.list-more a{
  font-size: 16px;
  color: #666;
  font-family: var(--font-family-paragraph);
}
// 页面宽度小于700样式
@media (max-width:700px){
 .summary-nrong{
    margin-bottom: 10px;
  }
  }
  
  // 页面宽度大于700小于900样式
  @media screen and (min-width:700px) and (max-width:900px){
    .summary{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }
  // 页面宽度大于900样式   
 @media (min-width:900px){
  .summary{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 1000px;
  }
  }

  // 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .summary-nrong{
    background: var(--background-dark-color);
  }
  .summary-tag-right a,.summary-tag a{
    color: #666;
  }
  .summary-nrong:hover .summary-tag-right a{
    color: #c0c0c0;
  }
  .summary-description{
    color: #999;
  }
  .read-more a,.list-more a{
    color: var(--text-content-dark-color);
  }
  .summary-date{
    color: #666 !important;
  }
  }