/*归档页标签*/
.archives_tags {
  margin-top: 30px;
  }
.archives_tags a {
  display: inline-block;
  vertical-align: top;
  border-radius:4px;
  align-items: center;
  padding: 10px;
  background-color: #FFF;
  margin-right: 10px;
  margin-bottom: 10px;
}
.archives_tags_f{
  color: #999;
  font-size: 14px;
}

/*文章页标签*/
.tag, .page-time{
    font-size: 14px; 
    margin: 0 8px 10px 0;
    border-radius:4px;
    background: var(--background-color);
    color:var(--text-content-color);
}
.tag {
    padding: 10px;
    font-weight:bold; 
    display: inline-block;
    vertical-align: top;
  }
.tag a{
  color: var(--text-content-color);
}
.page-time{  
    padding: 8.5px;
    display: inline-block;
    vertical-align: top;
    font-family: var(--font-family-code);
  }

// 夜间模式文章页标签
@media (prefers-color-scheme: dark) {
.tag,.page-time{
    background: #41393b !important;
    color:var(--text-content-dark-color) !important;  
  }
.tag a{
  color: var(--text-content-dark-color) !important;
}
.archives_tags a{
  background-color:  var(--background-dark-color);
}
.archives_tags_f{
  color: #666;
}
}