/*归档页标签*/
.archives_tags {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;//宽度显示不下自动换行
  grid-gap: 10px;
  margin-bottom: 20px;
  }
.list-tags {
  border-radius:4px;
  padding: 10px;
  background-color: #FFF;
}
.archives_tags_f{
  color: #999;
  font-size: 14px;
}

/*文章页标签*/
.single-biaoq{
  margin-top: 30px;
}
.single-biaoq,.single-tag{
  display: flex;
  flex-wrap: wrap;//宽度显示不下自动换行
  gap: 10px;
  align-items: center;
}
.page-time,.single-tag-c{
  font-size: 16px; 
  border-radius:4px;
  background: #F2F2F2;
  color:var(--text-content-color);
  padding: 10px;
  display: inline-block;
}
.single-tag-c a{
  color: var(--text-content-color);
}
.single-like{
  margin-left: auto;
}

// 夜间模式文章页标签
@media (prefers-color-scheme: dark) {

.page-time,.single-tag-c {
  background: #2f2b2c;
  color:var(--text-content-dark-color);
}
.single-tag-c a{
  color:var(--text-content-dark-color);
}
.list-tags{
  background-color:  var(--background-dark-color);
}
.archives_tags_f{
  color: #666;
}
}