.archive-time{
    margin-right: 20px;
    padding-top: 5px;
    font-size: 14px;
    float:left;
    color: #999;
  }
  .archive-title{
    font-size: 18px;
    line-height: 1.6;
    overflow: hidden;
  }
  .archives_nrong{
    box-shadow: 2px 4px 12px rgba(0,0,0,.04);
    border-radius:4px;
    background-color: var(--bankuai-color);
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
    @include breakpoint('small') {
        padding: 10px 25px 10px 25px;
      }
  }
  .archives_one{
    margin: 15px 0 15px 0;
  }

  // 夜间模式页面样式
@media (prefers-color-scheme: dark) {
    .archives_nrong{
        background-color: var(--background-dark-color);
      }
      .archive-time{
        color: #666;
      }
  }