.archives_nrong{
  display: grid;
  grid-gap: 10px; /* 中间空10px间距 */
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
.archives_one{
  display: flex;
  border-radius:4px;
  background-color: var(--bankuai-color);
  padding: 20px;
  transition: all .3s cubic-bezier(0,0,.5,1);
  align-items: center;
}
.archives_one:hover{
	box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.archive-title{
  font-family: var(--font-family-title);
  font-size: 18px;
  line-height: 1.6;
  margin-right: 12px;
}
.archive-time{
    font-size: 14px;
    color: #999;
    margin-top: 4px;
    font-family: var(--font-family-code);
  }
.archive-img {
    margin-left: auto;
  }
.archive-img img{
    width: 140px;
    height: 90px;
    object-fit: cover;
    border-radius:6px;
    transition: transform 0.3s ease; 
  }
.archives_one:hover .archive-img img{
	  transform: scale(1.05);
  }


//博客列表页
.posts-background {
  background-color: var(--bankuai-color);
  border-radius:4px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  transition: all .3s cubic-bezier(0,0,.5,1);
  overflow: hidden;
  padding: 20px;
}
.posts-background:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.05);
}
.posts-title a{
  font-family: var(--font-family-title);
  font-size: 24px;
  line-height: 1.3;
}
.posts-img {
  display: block;
  margin-bottom: -4px;
  margin-left: 20px;
}
.posts-img img{
  width: 400px;
  height: 280px;
  border-radius:6px;
  transition: transform 0.3s ease;
}
.posts-background:hover .posts-img img{
  transform: scale(1.03);
}
.posts-description {
  line-height: 1.8;
  font-size: 16px;
  margin-top: 10px;
}

// 页面宽度小于700样式
@media (max-width:700px){
  .posts-img,.archives_tags{
    display: none;
  }
  .archive-img img{
    width: 100px;
    height: 80px;
  }
  .posts-background {
    margin-top: 30px;
  }
   } 
// 页面宽度大于700小于900样式
@media screen and (min-width:700px) and (max-width:900px){
    .posts-img img{
      width: 240px;
      height: 240px;
    }
    .posts-description{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
   }

  // 夜间模式页面样式
  @media (prefers-color-scheme: dark) {
    .archives_one,.posts-background {
          background-color: var(--background-dark-color) !important;
        }
        .archive-time{
          color: #666;
        }
    }