:root {
  --font-family-paragraph: 'HarmonyOS_Regular', Helvetica, sans-serif;
  --font-family-title: 'HarmonyOS_Medium', Helvetica, sans-serif;
  --font-family-code: 'JetBrainsMono','HarmonyOS_Regular', Helvetica, sans-serif;
  --font-family-monospace: 'HarmonyOS_Regular',monospace;
  --font-family-teshu: 'SmileySans',Helvetica,sans-serif;
  --base-color: {{ .Site.Params.baseColor | default "#ffffff" }};
  --base-offset-color: {{ .Site.Params.baseOffsetColor | default "#eaeaea" }};
  --heading-color: {{ .Site.Params.headingColor | default "#1c1b1d" }};
  --dot-color: {{ .Site.Params.dotColor | default "#7b16ff" }};
  --bankuai-color: #FFF;
  --background-color: #FAFAFA;
  --background-dark-color: #201d1e;
  --text-content-color:#222;
  --text-content-dark-color:#BBB;
  --text-highlight-color:#BB2649;
}
$breakpoints: (
  'small': 700px,
  'medium': 900px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'pagination';
@import 'main-menu-mobile';
@import 'pygments/github';
@import 'comment';
@import 'app';
@import 'hardware';
@import 'tags';
@import 'movies';
@import 'memos';
@import 'photo';
@import 'archive';
@import 'about';
@import url('//s1.hdslb.com/bfs/static/jinkela/long/font/regular.css');
@import url('https://s1.hdslb.com/bfs/static/jinkela/long/font/medium.css');

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  src: url('https://img.koobai.com/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  unicode-range: U+61-7a,U+41-5a,U+30-39;
}

html, body {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-content-color);
  margin: 0;
  padding: 0 20px 0 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 0 30px 0 30px;
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 130px);
  @include breakpoint('small') {
    min-height: calc(100vh - 104px);
    }
}

//日间模式新增属性

.highlight {
pre {background: var(--background-color);}
}
.highlight{background-color: var(--bankuai-color);}


// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
body {
    background: #1A1718;
    color: var(--text-content-dark-color);
}
p {
  color: var(--text-content-dark-color);
}
h1,
h2{
  color: #CCCCCC;
}
h3 {
  color: #FFF;
}
a {
  color: var(--text-content-dark-color);
}
.author{
  color: #CCCCCC;
}
.summary-date{color: #AAAAAA;}
.highlight {
pre {
  background: #2c2829;
  color: var(--text-content-dark-color);}
}
.highlight{background-color: var(--background-dark-color);}
img {filter: brightness(0.8) contrast(1.2); }
}

// 页面上滑加载动画
@media (min-width: 900px) {
  .slide-up {
    opacity: 0;
    transform: translateY(10%);
    will-change: opacity, transform;
    animation: slide-up 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .img-hide {
    opacity: 0;
  }
}