// apps页样式

.appquanju{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.appimg img{
  width:100px;
  margin-right:25px;
  margin-top: 10px;
}
.appwenben{
  width:90%;
}
.apptitle{
  color:#bb2649;
  font-size:20px;
  margin-bottom: 8px;
  font-family: var(--font-family-teshu);
  letter-spacing:0.5px;}
.appnote{
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 1.6;
}
.macos{
  background-color:#FFCF47;
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
}
.ios{
  background-color:#A6D2FF;
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
}
.tvos{
  background-color:#FFB6C2;
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
}
.web{
  background-color:#CEC6FF;
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
}


// 页面宽度小于700样式

@media (max-width:700px){

.appnote{
  font-size: 16px;
}

}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.macos,.ios,.tvos,.web{
  color: #111111
}  
.macos{
  background:#9A7C27;
}
.ios{
  background:#3C6A98;
}
.tvos{
  background:#9B656E;
}
.web{background:#685FA0;
}
}