// apps页样式
.appquanju{
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  transition: all .3s cubic-bezier(0,0,.5,1);
  border-radius:15px;
  align-items: center;
  background-color: #FFF;
  padding: 20px;
  margin-top: 15px;
}
.appquanju:hover{
  box-shadow: 2px 4px 16px rgba(0,0,0,.16);
  transform: scale3d(1.01,1.01,1.01);
}
.appimg img{
  width:100px;
  margin-right:15px;
}
.apptitle{
  color:#bb2649;
  font-size:20px;
  margin-bottom: 8px;
  font-family: var(--font-family-teshu);
  letter-spacing:0.5px;
}
.appnote{
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.6;
}
.macos{
  background-color:#FFCF47;
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
  margin-right: 4px;
}
.ios{
  background-color:#A6D2FF;
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
  margin-right: 4px;
}
.tvos{
  background-color:#FFB6C2;
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
  margin-right: 4px;
}
.web{
  background-color:#CEC6FF;
  padding: 6px 10px;
  text-align: center;
  font-size: 12px;
  border-radius:20px;
}

.pagetitle{
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.appquanju{
  background-color: #242021;
}
.macos,.ios,.tvos,.web{
  color: #111111
}  
.macos{
  background:#9A7C27;
}
.ios{
  background:#3C6A98;
}
.tvos{
  background:#9B656E;
}
.web{background:#685FA0;
}
}

// 页面宽度小于900样式

@media (max-width:900px){
.appquanju{
  display: flex;
}
}

// 页面宽度大于900样式

@media (min-width:900px){

.appdquanjudiv{
  width: 104%;
  font-size:0;
}
.appquanju{
  display: inline-block;
  vertical-align: top;
  width: 43%;
  margin-right: 15px;
  height: 140px;

}
.appimg img{
  float: left;  
}
.appwenben{
  overflow: hidden;
  padding-bottom: 8px;
}
}