.pinglun{
  font-size: 20px;
  font-family: 'SmileySans';
  margin-top:40px;
  color:var(--heading-color);
  margin-bottom: 30px;
}
.tk-content{
  max-height: 100px !important;
  border-bottom: 1px dashed #D9D9D9 !important;
  padding-bottom: 5px !important;
  margin: 0 0 10px 0 !important;
}
.tk-content p{
  font-size: 16px !important;
  margin: 0 0 5px 0!important;
}
.tk-content span{
  float: left;
  color: #999;
  margin-bottom: 5px;
}

.tk-nick-link,.tk-action-link{
  color: var(--highlight-color)!important;
}
.el-button--primary {
  background-color: var(--highlight-color)!important;
  border-color: var(--highlight-color)!important;
}
.tk-action-icon, .tk-time, .tk-content span a{
  color: #999!important;
}
.tk-icon.__comments{
  color: #c9c9c9 !important;
}
.tk-avatar {
  margin-right: 0.8rem!important;
  border-radius: 20px !important;
}
.tk-comments-no,.tk-footer,.tk-tag-green,.OwO .OwO-body .OwO-bar .OwO-packages{
  display: none !important;
}
.tk-comments-container{
  min-height: 1rem !important;
}
.el-button:not(.el-button--primary):not(.el-button--text):hover {
  color: var(--highlight-color)!important;
  border-color: var(--highlight-color)!important;
}
.el-textarea {
  font-size: 16px!important;
}
.el-textarea__inner:hover, .twikoo .el-input__inner:focus, .twikoo .el-textarea__inner:focus{
  border-color: #CACBCC!important;
}
.tk-comments-title {
  font-size: 1.25rem;
  font-weight: normal!important;
  font-family: 'SmileySans'!important;
}
.tk-admin{
  background-color: #000 !important;
}

.tk-tag-red {
  background-color: #D9D9D9 !important;
  border: 0 !important;
  border-radius:0;
  color: #999!important;
}
.tk-replies .tk-content span:first-child {
  visibility: hidden;
}
.tk-replies .tk-content span:first-child a {
  visibility: visible !important;
  margin-left: -2.4em;
}
.tk-row{
  margin-bottom: 3px;
}
.tk-expand{
  width: 100px !important;
  margin: auto;
  border-radius: 10px;
  background-color: #FFF !important;
}
.tk-expand:hover {
  color: var(--highlight-color)!important;
}
.tk-avatar .tk-avatar-img{
  color: #CCCCCC !important;
}
.tk-comments-container{
  margin-bottom: 30px;
}

.tk-replies .tk-avatar .tk-avatar-img {
  height: 2rem !important;
}
.tk-replies .tk-avatar {
  height: 2rem !important;
  width: 2rem!important;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.tk-content{
  border-bottom: 1px dashed #332D2F !important;
}
.tk-action-icon, .tk-icon.__comments,.tk-time,.tk-content span,.tk-content span a, .tk-avatar .tk-avatar-img{
  color: #666!important;
}
.pinglun{
  color:#BBB;
}
.tk-tag-red, .tk-expand ,.OwO .OwO-body {
  background-color: #242021 !important;
}
.el-textarea__inner:hover, .twikoo .el-input__inner:focus, .twikoo .el-textarea__inner:focus{
  border-color: #4B4A4D!important;
}
}