.pinglun{
  font-size: 20px;
  font-family: 'SmileySans';
  margin-top:40px;
  color:var(--heading-color);
  margin-bottom: 30px;
}
.tk-content{
  max-height: 100px !important;
  border-bottom: 1px dashed #E2E2E2 !important;
  padding-bottom: 5px !important;
  margin: 0 0 10px 0 !important;
}
.tk-content p{
  font-size: 16px !important;
  margin: 0 0 5px 0!important;
}
.tk-content span{
  float: left;
  color: #999;
  margin-bottom: 5px;
}

.tk-nick-link,.tk-action-link{
  color: var(--highlight-color)!important;
}
.el-button--primary {
  background-color: var(--highlight-color)!important;
  border-color: var(--highlight-color)!important;
}
.tk-action-icon, .tk-time, .tk-content span a{
  color: #999!important;
}
.tk-icon.__comments{
  color: #c9c9c9 !important;
}
.tk-avatar {
  margin-right: 0.8rem!important;
  border-radius: 20px !important;
}
.tk-tag-green,.OwO .OwO-body .OwO-bar .OwO-packages{
  display: none !important;
}

.el-button:not(.el-button--primary):not(.el-button--text):hover {
  color: var(--highlight-color)!important;
  border-color: var(--highlight-color)!important;
}
.el-textarea {
  font-size: 16px!important;
}
.el-textarea__inner:hover, .twikoo .el-input__inner:focus, .twikoo .el-textarea__inner:focus{
  border-color: #CACBCC!important;
}
.tk-comments-title {
  font-size: 18px !important;
  font-weight: normal!important;
  font-family: 'SmileySans'!important;
}
.tk-admin{
  background-color: #000 !important;
}

.tk-tag-red {
  background-color: #D9D9D9 !important;
  border: 0 !important;
  border-radius:0;
  color: #999!important;
}
.tk-replies .tk-content span:first-child {
  visibility: hidden;
}
.tk-replies .tk-content span:first-child a {
  visibility: visible !important;
  margin-left: -2.4em;
}
.tk-row{
  margin-bottom: 3px;
}
.tk-expand{
  width: 100px !important;
  margin: auto;
  border-radius: 10px;
  background-color: #FFF !important;
}
.tk-expand:hover {
  color: var(--highlight-color)!important;
}
.tk-avatar .tk-avatar-img{
  color: #CCCCCC !important;
}
.tk-comments-container{
  margin-bottom: 30px;
}

.tk-replies .tk-avatar .tk-avatar-img {
  height: 2rem !important;
}
.tk-replies .tk-avatar {
  height: 2rem !important;
  width: 2rem!important;
}

.tk-submit {
  background: #fff;
  padding: 20px;
  border-radius: 15px!important;
  margin-bottom: 30px;
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  transition: all .3s cubic-bezier(0,0,.5,1);
}

.tk-submit:hover {
  box-shadow: 2px 4px 16px rgba(0,0,0,.16);
  transform: scale3d(1.01,1.01,1.01);
}

.tk-row.actions {
  margin-bottom: 0 !important;
  margin-left: 10px !important;
}

.tk-col {
  margin-left: -42px;
}

.el-textarea__inner {
  border: 0 !important;
  padding: 0!important;
}
.tk-avatar .tk-avatar-img svg{
  display: none !important; 
}
.tk-row .tk-avatar.tk-has-avatar{
  visibility: hidden !important;
}
.tk-meta-input{
  background:no-repeat !important;
}
.el-input__inner {
  border: 0!important;
  padding: 0 10px!important;
}

.twikoo .el-input-group__prepend {
  border: 0!important;
  padding:0 !important;
  color: #999!important;
  background: no-repeat !important;
}

.twikoo .OwO-item img{
  width: 24px !important;
}

.OwO .OwO-body .OwO-items-image .OwO-item {
  width: auto !important;
}
.OwO .OwO-body .OwO-items-show{
  height: 150px !important;
}
.tk-owo-emotion{
  width: 18px!important;
  margin-top: -2px;
  margin-left: 1px;
  margin-right: 1px;
}
.tk-comments-no,.tk-footer,.tk-footer a,.el-input__count{
  color: #999 !important;
}

.tk-preview-container {
  margin: 15px 0 15px 0 !important;
  border: 0!important;
  background: #F2F2F2;
}
.tk-preview-container p{
  font-size: 16px;
}
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):active, .twikoo .el-button:not(.el-button--primary):not(.el-button--text):focus, .twikoo .el-button:not(.el-button--primary):not(.el-button--text):hover{
  color: var(--highlight-color)!important;
  background-color: no-repeat !important;
  border-color: var(--highlight-color)!important;
}
.OwO .OwO-body .OwO-items .OwO-item:hover {
  background-color: #FEF2E5 !important;
  box-shadow: none !important;
  border-radius: 20px!important;
  height: 34px;
}


// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.tk-submit{
  background: #242021 !important;
}
.tk-content{
  border-bottom: 1px dashed #332D2F !important;
}
.tk-action-icon, .tk-icon.__comments,.tk-time,.tk-content span,.tk-content span a, .tk-avatar .tk-avatar-img,.tk-comments-no,.tk-footer,.tk-footer a{
  color: #666!important;
}
.pinglun{
  color:#BBB;
}
.tk-tag-red, .tk-expand ,.OwO .OwO-body {
  background-color: #242021 !important;
}
.el-textarea__inner:hover, .twikoo .el-input__inner:focus, .twikoo .el-textarea__inner:focus{
  border-color: #4B4A4D!important;
}
.tk-preview-container {
  background: #332D2F;
}
.OwO .OwO-body .OwO-items .OwO-item:hover {
  background-color: #4D4346 !important;
}
}