:root {
  /*评论样式*/
  --waline-bgcolor: #F4F4F4 !important;
  --waline-theme-color: #BB2649 !important;
  --waline-active-color:#E62F5A !important;
  --waline-bgcolor-light: #F4F4F4 !important;
  --waline-info-bgcolor:#E6E6E6 !important;
  --waline-badge-color:#BB2649 !important;
  --waline-code-bgcolor:#FFECE6 !important;
}

.wl-header input, .wl-header label,.wl-editor{
  font-size:1em !important;
}
.wl-header{
  border-bottom: 1px dashed var(--waline-border-color) !important;
}
.wl-content pre code{
  color:#444 !important;
  font-size: 14px;
}
.pinglun{
  font-size: 20px;
  font-family: 'SmileySans';
  margin-top:40px;
  color:var(--heading-color);
  margin-bottom: 10px;
}

.wl-reaction-votes{
  padding: 3px !important;
  font-size: 11px !important;
  top: -6px !important;
  inset-inline-end: -3px !important;
}
.verified-icon{
  color: #fff !important;
  background: #fff !important;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
body {
/*评论样式*/
  --waline-bgcolor: #1A1718 !important;
  --waline-bgcolor-light: #1A1718 !important;
  --waline-code-bgcolor:linear-gradient(to bottom right, #332E2F, #110720) !important;
  --waline-border: 1px solid var(--waline-border-color) !important;
}
.pinglun{
  color:#BBBBBB
}
.wl-content pre code {
  color:#888 !important;
}
.wl-content p a {
  color: #666  !important;
}
.wl-content p a:hover {
  color: #999 !important;
}

}

.wl-reaction-title{
  visibility:hidden !important;
  margin-bottom: -30px!important;
}

.verified-icon, .wl-empty {
  visibility:hidden !important;
}

.wl-card .wl-badge {
  display: none !important;
}

.wl-content p {
  font-size: 16px;
}
.wl-content p a {
  color: #999;
}
.wl-content p a:hover {
  color: #666;
}

.wl-like, .wl-meta-head {
  display: none !important;
}

.wl-quote {
  border-inline-start: none !important;
}

.wl-panel{
  margin:0 !important;
}
.wl-card-item {
  padding:10px 0 0 0 !important;
}
.wl-editor {
  min-height: 4em !important;
}
@media (max-width: 580px){
.wl-header-item:not(:last-child) {
  border-bottom: 1px dashed var(--waline-border-color) !important;
}
.wl-reaction-votes{
  inset-inline-end: -7px !important;
  padding: 2px !important;
  top: -4px !important;
}
}

.wl-reaction img{
  width: 60% !important;
  height: 60% !important;
}

.wl-reaction {
  margin-bottom: 0em !important;
}