.footer {
    margin-top: 50px;
    padding-top:16px;
    border-top:solid #d2d2d2 1px;
  }
  
  .social-icon {
    margin-right: 8px;
    font-size: 12px;
    opacity: 0.6;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        img {
          opacity: 0.8;
        }
      }
    }
  }
.footer-info{
  font-size: 12px;
  margin-bottom: 8px;
  line-height: 1.8em;
  color: #666;
  }

.footer-info img{
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-top: -2px;
}
.footer-info a{
  color: #666;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.footer-info a{
  color: #999;
}
.footer-info{
  color: #999;
  }
.footer {
  border-top:solid #3d3d3d 1px;
  }
.social-icon {
    opacity: 1;
  }
}