.footer {
    margin-top: 10px;
    @include breakpoint('small') {
      padding-top: 10px;
    }
  }
  
  .social-icon {
    margin-right: 16px;
    font-size: 12px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        img {
          opacity: 0.7;
        }
      }
    }
  }

.footer-info{
  font-size: 12px;
  margin-top: 8px;
  line-height: 1.8em;
  }

.footer-info img{
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-top: -1px;
}