.footer {
    margin-top: 40px;
  }
  
  .social-icon {
    margin-right: 16px;
    font-size: 12px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
        img {
          opacity: 0.7;
        }
      }
    }
  }
.footer-info{
  font-size: 12px;
  margin-top: 8px;
  line-height: 1.8em;
  color: #999;
  }

.footer-info img{
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-top: -2px;
}
.footer-info a{
  color: #444;
}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.footer-info a{
  color: #BBB;
}
.footer-info{
  color: #666;
  }
}