// hardware硬件页样式

// 页面宽度小于900样式

@media (max-width:900px){

.bankuai{
	background-color:#FFECE6;
	width: 96%;
	border-radius:4px;
	padding:0 2%  5% 2%;
	margin-bottom: 15px
}
.img{
	width:80%; 
	margin:0 auto;
}
.title{
	color:#bb2649;
	font-size:22px;
	font-weight:bold;
	margin: 0 10px 6px 10px;
	font-family: var(--font-family-teshu);
	letter-spacing:0.5px;
}
.jiage{
	color:#999;
	font-size:14px;
	margin: 0 10px 6px 10px;
}
.note{
	margin: 0 10px 0 10px;
    font-size: 16px;
}

}

// 页面宽度大于900样式

@media (min-width:900px){

.quanju{
	display: flex;
}
.bankuai{
	background-color:#FFECE6;
	width:30%;
	border-radius:4px;
	margin-right:10px;
	margin-bottom: 10px;
	padding:1% 3%  3% 3%;
}
.img{
	width:90%; 
	margin:0 auto;
}
.title{
	color:#bb2649;
	font-size:20px;
	font-weight:bold;
	margin: 0 0 6px 0;
	font-family: var(--font-family-teshu);
	letter-spacing:0.5px;
}
.jiage{
	color:#999;
	font-size:14px;
	margin: 0 0 6px 0;
}
.note{
	font-size: 14px;
	line-height: 1.6;
} 

}