// hardware硬件页样式

// 页面宽度小于700样式

@media (max-width:700px){

.bankuai{
	background-color:#FFECE6;
	width: 96%;
	border-radius:4px;
	padding:0 2%  5% 2%;
	margin-bottom: 15px
}
.himg{
	width:80%;
	margin: auto;
    display: block;
}
.title{
	color:#bb2649;
	font-size:22px;
	margin: 30px 10px 6px 10px;
	font-family: var(--font-family-teshu);
	letter-spacing:0.5px;
}
.jiage{
	color:#999;
	font-size:14px;
	margin: 0 10px 6px 10px;
}
.note{
	margin: 0 10px 0 10px;
    font-size: 16px;
}

}

// 页面宽度大于700小于900样式

@media screen and (min-width:700px) and (max-width:900px){

.quanju{
	display: flow-root;	
	width: 106%;
}
.bankuai{
	float: left;
	background-color:#FFECE6;
	width:40%;
	border-radius:4px;
	margin-right:10px;
	margin-bottom: 10px;
	padding:3%;
	height: 400px;
}
.himg{
	width:80%; 
	margin: auto;
    display: block;
	
}
.title{
	color:#bb2649;
	font-size:20px;
	margin: 30px 0 6px 0;
	font-family: var(--font-family-teshu);
	letter-spacing:0.5px;
}
.jiage{
	color:#999;
	font-size:14px;
	margin: 0 0 6px 0;
}
.note{
	font-size: 14px;
	line-height: 1.6;
} 

}
// 页面宽度大于900样式

@media (min-width:900px){

.quanju{
	display: flow-root;	
}
.bankuai{
	float: left;
	background-color:#FFECE6;
	width:26%;
	border-radius:4px;
	margin-right:10px;
	margin-bottom: 10px;
	padding:3%;
	height: 380px;
}
.himg{
	width:100%; 
	margin: auto;
    display: block;
	
}
.title{
	color:#bb2649;
	font-size:20px;
	margin: 30px 0 6px 0;
	font-family: var(--font-family-teshu);
	letter-spacing:0.5px;
}
.jiage{
	color:#999;
	font-size:14px;
	margin: 0 0 6px 0;
}
.note{
	font-size: 14px;
	line-height: 1.6;
} 

}