.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
  @include breakpoint('small') {
    padding-bottom: 5px;
    margin-bottom: 40px;
  }
  a.header-logo {
    font-family: var(--font-family-teshu);
    padding-top: 4px;
  }
}
.header a {
  color: #000;
}
.header-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.5px solid #1A1718;
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -4px;
}
// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
  .header a {
    color: var(--text-content-dark-color);
  }
  }