// 影视样式

.moviebankuai{
  background-color:#FFECE6;
  border-radius:15px;
  margin:0 10px 10px 0;

}
.moviebankuai img{
  border-radius:15px 15px 0 0;
  margin-top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25), 0 0 2px rgba(0, 0, 0, .25);
  width: 100%;
}
.movietitle{
  color:#bb2649;
  font-size:20px;
  margin: 15px 15px 6px 15px;
  font-family: var(--font-family-teshu);
  letter-spacing:0.5px;
  line-height: 1.4;
}

.movietag{
  font-size: 14px;
  line-height: 1.6;
  margin: 0 15px 15px 15px;
} 

.movienote{
  font-size: 14px;
  line-height: 1.6;
  margin: 0 15px 15px 15px;
} 

.rating10,.rating9,.rating8,.rating7,.rating6,.rating5,.rating4,.rating3,.rating2,.rating1,.rating0{
  width: 110px;
  height: 16px;
  background-image: url(/images/movie/rating.svg);
  margin: 0 15px 6px 15px;
  position:relative;
}

.rating10{
  background-position: 0px 0px;
}

.rating9{
  background-position: 0px -16px;
}

.rating8{
  background-position: 0px -32px;
}

.rating7{
  background-position: 0px -48px;
}

.rating6{
  background-position: 0px -64px;
}

.rating5{
  background-position: 0px -80px;
}

.rating4{
  background-position: 0px -96px;
}

.rating3{
  background-position: 0px -112px;
}

.rating2{
  background-position: 0px -128px;
}

.rating1{
  background-position: 0px -144px;
}

.rating0{
  background-position: 0px -160px;
}

// 页面宽度小于700样式

@media (max-width:700px){

.movienote{
  padding-bottom: 15px;
} 
.movietitle{
  font-size:24px;
}
.movienote{
  font-size: 16px;
} 

}

@media screen and (min-width:700px) and (max-width:900px){

.moviequanju{
  display: flow-root; 
}
.moviebankuai{
  width:48%;
  float: left;
  height: 760px;
}

}

// 页面宽度大于700样式

@media (min-width:900px){
.moviequanju{
  display: flow-root; 
}
.moviebankuai{
  width:32%;
  float: left;
  height: 690px;

}

}

// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
.moviebankuai{
  background: linear-gradient(to bottom right, #332E2F, #110720);
}

}