.summary {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
  @include breakpoint('small') {
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 26px;
  }
  .summary-date {
    font-weight: bold;
    font-family: 'SmileySans';
    color: var(--heading-color);
  }
  .summary-title {
    margin: 16px 0 16px 0;
    width: 60%;
    font-size: 34px;
    line-height: 42px;
    @include breakpoint('small') {
      width: 60%;
      font-size: 52px;
      line-height: 64px;
    }
  }
  .summary-description {
    width: 100%;
    line-height: 1.8;
  }
}
