/*标签云*/
.terms-tags li {
    margin: 6px;
    display: inline-block;
    vertical-align: top;
    border-radius:8px;
    align-items: center;
    padding: 10px;
    background-color: #FFF;
}

/*文章页标签*/
.page-tag {
    display: flex;
  }

.tag, .page-time{
    font-size: 14px; 
    margin: 0 10px 0 0; 
    border-radius:4px;
    background: var(--bankuai-color);
    color:#444;
}

.tag {
    display: flex;
    padding: 10px;
    font-weight:bold; 
  }

.tag a{
  color: #444
}

.page-time{  
    padding: 9px;
    float: left;
    font-family: var(--font-family-code);
  }

// 夜间模式文章页标签
@media (prefers-color-scheme: dark) {
.tag,.page-time{
    background: #242021 !important;
    color:#BBBBBB !important;  
  }
.tag a{
  color: #BBBBBB !important;
}
.terms-tags li {
  background-color: #242021;
}
}