/*标签云*/

// 页面宽度大于900样式

@media (min-width:700px){
.terms-tags {
    display: flex;
    justify-content: center; 
    align-items: center;

}

.terms-tags li {
    margin: 20px;
}
}

// 页面宽度小于900样式

@media (max-width:700px){

.terms-tags {
text-align: center;
}

.terms-tags li {
    margin: 20px;
}

}


/*文章页标签*/
.page-tag {
    display: flex;
  }

.tag, .page-time{
    font-size: 14px; 
    margin: 0 10px 0 0; 
    border-radius:4px;
    background: #FFECE6;
    color:#444;
}

.tag {
    display: flex;
    padding: 10px;
    font-weight:bold; 
  }

.tag a{
  color: #444
}

.page-time{  
    padding: 12px;
    float: left;
  }

// 夜间模式文章页标签
@media (prefers-color-scheme: dark) {
.tag,.page-time{
    background: #332E2F !important;
    color:#BBBBBB !important;  
  }
.tag a{
  color: #BBBBBB !important;
}
}