:root {
  --font-family-heading: 'SmileySans',Helvetica,sans-serif; 
  --font-family-paragraph: 'HarmonyOS_Regular', Helvetica, sans-serif;
  --font-family-code: 'JetBrainsMono','HarmonyOS_Regular', Helvetica, sans-serif;
  --font-family-monospace: 'HarmonyOS_Regular',monospace;
  --font-family-teshu: 'SmileySans',Helvetica,sans-serif;
  --base-color: {{ .Site.Params.baseColor | default "#ffffff" }};
  --base-offset-color: {{ .Site.Params.baseOffsetColor | default "#eaeaea" }};
  --highlight-color: {{ .Site.Params.highlightColor | default "#7b16ff" }};
  --heading-color: {{ .Site.Params.headingColor | default "#1c1b1d" }};
  --text-color: {{ .Site.Params.textColor | default "#4e5157" }};
  --dot-color: {{ .Site.Params.dotColor | default "#7b16ff" }};
  --bankuai-color: #FFF;
  --background-color: #F4F4F4;
}
$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'pygments/github';
@import 'comment';
@import 'app';
@import 'hardware';
@import 'tags';
@import 'movies';
@import 'memos';
@import 'gallery';
@import url('//s1.hdslb.com/bfs/static/jinkela/long/font/regular.css');

@font-face {
  font-family: SmileySans;
  font-display: swap;
  src: url('https://img.koobai.com/fonts/SmileySans-Oblique.ttf.woff2') format('woff2');
}

@font-face {
  font-family: JetBrainsMono;
  font-display: swap;
  src: url('https://img.koobai.com/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
  &.frame {
    min-height: 100vh;
    border: 18px solid var(--highlight-color);
  }
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

//日间模式新增属性

.highlight {
pre {background: var(--bankuai-color);}
}
.highlight{background-color: var(--background-color);}


// 夜间模式页面样式
@media (prefers-color-scheme: dark) {
body {
    background: #1A1718;
    color: #BBBBBB;
}
p {
  color: #BBBBBB;
}
h1,
h2,
h3 {
  color: #CCCCCC;
}
.author{
  color: #CCCCCC;
}
.summary-date{color: #AAAAAA;}
.highlight {
pre {
  background: #242021;
  color: #BBBBBB;}
}
.highlight{background-color: #1A1718;}
img {filter: brightness(0.8) contrast(1.2); }

}