{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <div class="content-index">{{ .Content }}</div>
  <div class="summary">
  {{ if .Site.Params.showPostsOnHomepage }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}
  </div>
    <!--{{ partial "paginator" . }}-->
  {{ end }}
  <div class="tuij-index">
  <div class="hardware-index img-hide">
    <div class="hardware-index-title">好物分享</div>
    <div class="hardware-info">一件称心的产品，从收到包裹那一刻开始心潮澎湃，到成为靠谱伙伴，让你的工作生活充满期待。</div>
    <div class="hardware-index-button" ><a href="/hardware">看更多<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false" color="rgb(191, 117, 255)"><path d="M128,24A104,104,0,1,0,232,128,104.12041,104.12041,0,0,0,128,24Zm47.38477,107.05469a7.99866,7.99866,0,0,1-1.73829,2.61133l-33.92773,33.92773a7.99915,7.99915,0,0,1-11.3125-11.3125L148.6875,136H88a8,8,0,0,1,0-16h60.6875L128.40625,99.71875a7.99915,7.99915,0,0,1,11.3125-11.3125L173.64648,122.334a8.02367,8.02367,0,0,1,1.73829,8.72071Z"></path></svg></a>
    </div>
    <div class="hardware-1 img-hide"></div>
    <div class="hardware-2 img-hide"></div>
    <div class="hardware-index-nrong img-hide">
      <div class="hardware-img" id="hardware-img"></div>
      <div class="hardware-jiage" id="hardware-jiage"></div>
      <div class="hardware-title" id="hardware-title"></div>
      <div class="hardware-note" id="hardware-note"></div>
    </div>
  </div>

  <div class="hardware-index img-hide">
    <div class="hardware-index-title">软件分享</div>
    <div class="hardware-info">一款合适的软件，在工作中能成为很好的生产力工具；在生活中能成为很好的消遣工具。</div>
    <div class="hardware-index-button" ><a href="/apps">看更多<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false" color="rgb(191, 117, 255)"><path d="M128,24A104,104,0,1,0,232,128,104.12041,104.12041,0,0,0,128,24Zm47.38477,107.05469a7.99866,7.99866,0,0,1-1.73829,2.61133l-33.92773,33.92773a7.99915,7.99915,0,0,1-11.3125-11.3125L148.6875,136H88a8,8,0,0,1,0-16h60.6875L128.40625,99.71875a7.99915,7.99915,0,0,1,11.3125-11.3125L173.64648,122.334a8.02367,8.02367,0,0,1,1.73829,8.72071Z"></path></svg></a>
    </div>
      <div id="app-index"></div>
  </div>
  <script src="/js/index-mokuai.js"></script>
  </div> 
{{ end }}
{{ define "footer_js" }}
{{ end }}