
{{- define "main" }}
 <!-- <div class="intro">
  <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
</div>-->

<div class="archives_tags">
  {{- range $name, $taxonomy := .Site.Taxonomies.tags -}}
  <a href="/tags/{{ $name | urlize }}"><span class="archives_tags_f">#</span> {{ $name }} <span class="archives_tags_f">({{ .Count }})</span></a>
  {{- end -}}
</div>

  {{ range (.Site.RegularPages.GroupByDate "2006") }}
  <!--<h2>
    {{ .Key }}年<sup>&nbsp;&nbsp;{{ len .Pages }}</sup>
  </h2>-->

  <div class="archives_nrong" >
    <!--<div class="archive-month">
     {{- .Key }} 月
      <sup>{{ len .Pages }}</sup>
    </div>-->  
      {{- range .Pages }}
      {{- if eq .Kind "page" }}
      <div class="archives_one">
        <div>
        <div class="archive-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
        <div class="archive-time">{{ .Date.Format "2006-01-02" }}</div>
        </div>
        <div class="archive-img">
        {{ if .Params.image }}
        <a href="{{ .RelPermalink }}"><img loading="lazy" decoding="async" src="{{ .Params.image | relURL }}" /></a>
        {{ end }}
        </div>
      </div>
      {{- end }}
      {{- end }} 
    </div>
  {{ end }}
{{- end }}