{{- define "main" }}
<div class="memos-header">
<div class="intro">
  <!--<h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>-->
</div>
<div class="pagetitle">Eillen 说，你老了之后绝对是一个唠叨的老头。平常自我感觉良好，除非是酒后...。不管怎么样，那就从现在开始，随手记录些有的没得～～<span class="bb-load"></span></div>
<div id="memos" class="img-hide"></div>
</div>

<div id="bber"></div>
<script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript">
  var bbMemos = {
    memos : 'https://memos.koobai.com/',//修改为自己部署 Memos 的网址，末尾有 / 斜杠
    limit : '',//默认每次显示 10条 
    creatorId:'1' ,//默认为 101用户 https://demo.usememos.com/u/101
    domId: '',//默认为 <div id="bber"></div>
  }
</script>
<script src="/js/memos.js"></script>
<!--发布 memos 内容-->
<script src="/js/memos-editor.js"></script>
<script src="/js/coco-message.min.js"></script>
<!--评论加载-->
<link href="https://npm.elemecdn.com/artalk@2.5.5/dist/ArtalkLite.css" rel="stylesheet">
<script src="https://npm.elemecdn.com/artalk@2.5.5/dist/ArtalkLite.js"></script>
{{- end }}