{{- define "main" }}
<div class="memos-header">
<div class="memos-title"></div>
<div id="memos" class="img-hide"></div>

</div>
<div id="bber"></div>
<script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript">
  var bbMemos = {
    memos : 'https://memos.koobai.com/',//修改为自己部署 Memos 的网址，末尾有 / 斜杠
    limit : '',//默认每次显示 10条 
    creatorId:'1' ,//用户id
    domId: '',//默认为 <div id="bber"></div>
  }
</script>
<script src="/js/memos.js"></script>
<!--发布 memos 内容-->
<script src="/js/memos-editor.js"></script>
<script src="/js/coco-message.min.js"></script>
<!--评论加载-->
<link href="https://img.koobai.com/Artalk.css" rel="stylesheet">
<script src="https://img.koobai.com/Artalk.js"></script>
{{- end }}