{{ define "main" }}
<div class="intro">
  <h1>{{ .Title }}{{ if .Site.Params.addDot }}{{ end }}</h1>
</div>
<div style="font-size: 18px;line-height: 1.6;margin-bottom: 20px">自己很喜欢观影，在能力范围内会把显示、音响、播放等设备添置得最好，然后静静的欣赏一部电影一集电视一个故事一段人生～～，沉浸其中体验不同的酸甜苦辣。以下海报墙为已观看或正在追的过程中 ( 数据来源豆瓣 )～～</div>
<div class="content" id="content"></div>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  var jsonFile = '/movie.json';
  getData(jsonFile);
  // 使用$.ajax()方法获取本地JSON文件
  function getData(file) {
    $.ajax({
      url: file,
      dataType: 'json',
      success: function(data) {
        var filteredData;
        // 用于存放筛选条件的字典
        var conditions = {};
        // 抓取存放电影内容的元素
        var content = $('#content');
        // 判断是否有筛选条件
        if ($('.search.active').length != 0) {
          for (let i = 0; i < $('.search.active').length; i++) {
            var active_type = $('.search.active')[i].dataset['search'];
            var active_value = $('.search.active')[i].dataset['value'];
            conditions[active_type] = active_value;
          }
          // 判断筛选条件是否选择
          const year = conditions['year'];
          const star = conditions['star'];
          const genres = conditions['genres'];

          filteredData = data.filter(
            item =>
              (typeof(year) === 'undefined' || item.subject.year == year) &&
              (typeof(star) === 'undefined' || Math.round(item.subject.rating.star_count) == star) &&
              (typeof(genres) === 'undefined' || item.subject.genres.indexOf(genres) > -1)
          );
        } else {
          filteredData = $.parseJSON(JSON.stringify(data));
        }
        content.html('');
        updatePage(content, filteredData);
      },
      error: function(xhr, status, error) {
        // 处理错误情况
        console.log('获取JSON数据失败：' + error);
      }
    });
  }

  /**
   * 填充页面数据
   * @param content 页面顶部div
   * @param Data 数据
   *
   */
  function updatePage(content, Data) {
    var html = '';
    for (var i = 0; i < Data.length; i++) {
      var subject = Data[i]['subject'];
      var rating = Data[i]['rating'];
      var comment = Data[i]['comment'];
      var genres = subject['genres'].join(' / ');

      var title = subject['title'];
      var cover_url = subject['cover_url'];
      cover_url = '/images/douban/' + cover_url.substring(cover_url.lastIndexOf('/') + 1);
      var ratings = subject['rating'];
      var color_scheme = subject['color_scheme'];
      var url = subject['url'];
      var ratings_value = ratings['value'];
      var primary_color_dark;
      var secondary_color;
      if (color_scheme === null) {
        primary_color_dark = '85d824';
        secondary_color = 'eef7e4';
      } else {
        primary_color_dark = color_scheme['primary_color_dark'];
        secondary_color = color_scheme['secondary_color'];
      }
      var ratings_star_count = ratings['star_count'];

      html += `
      <div class="dfdORB img-hide">
        <div class="sc-hKFxyN HPRth">
            <img src="${cover_url}" alt="${title}" onclick="window.open('${url}', '_blank');"/>
          <a href="${url}" target="_blank" alt="${title}">
          <div class="movies-nrong">
          <div class="movie-time">${genres}</div>
          <div class="movie-title">${title}</div>
          <div class="movie-pfeng">评分：${rating ? '<img src="/star.svg" alt="star" /> '.repeat(rating['star_count']) : '未评分'}</div>
          <div class="movie-info">观感 : ${comment}</div>      
          </div>
          </a>
        </div>
        </div>
      `;
    }

     // 添加父容器 div
  html = `<div class="fIuTG">${html}</div>`;

    content.html(html);
    
    animateSummaries(); // 在DOM加载完毕后执行滑动加载动画
  }
</script>

<div class="article-comments">
  {{- partial "artalk" . -}}
</div>

{{ end }}