<div class="summary" data-module="fade-in-up">
  <div class="intro_image">
  {{ if .Params.image }}
  <img loading='lazy' decoding="async" src="{{ .Params.image | relURL }}" />
  {{ end }}
</div>
<div class="summary-nrong">
<!-- <div class="summary-date">{{ .Date.Format "2006-01-02" }}</div>-->
  <h2 class="summary-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <p class="summary-description">{{ .Params.description }}</p>
  {{ if not .Params.hideReadMore }}
  <div><a class="read-more" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "看全文 ..." }}</a></div>
  {{ end }}
</div>
</div>