{{ $goods := getJSON "data/app.json" }}
<div class="appdquanjudiv">
    {{ range $index, $good := $goods.good }}
        {{ if lt $index 4 }}
        <div class="appquanju img-hide">
            <div class="appimg"><img loading="lazy" decoding="async" src="{{ $good.image }}"></div>
            <div class="appwenben">
                <div class="apptitle">{{ $good.title }}</div>
                <div class="appnote">{{ $good.info }}</div>
                <span class="macos">{{ $good.macos }}</span>
                <span class="ios">{{ $good.ios }}</span>
                <span class="tvos">{{ $good.tvos }}</span>
                <span class="web">{{ $good.web }}</span>
            </div>
        </div>
        {{ end }}
    {{ end }}
</div>