{{ $goods := getJSON "data/hardware.json" }}
<div class="quanju">
    {{ range $index, $good := $goods.good }}
        {{ if lt $index 9 }}
        <div class="bankuai img-hide">
            <div class="duiqi">
                <img loading="lazy" decoding="async" src="{{ $good.image }}">
            </div>
            <div class="jiage">购入价格: RMB {{ $good.jiage }}</div>
            <div class="title"><a href="{{ $good.link }}">{{ $good.title }}</a></div>
            <div class="note">{{ $good.note }}</div>
        </div>
        {{ end }}
    {{ end }}
</div>