<div id="momos-ss"></div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
  var bbUrl = "https://memos.koobai.com/api/v1/memo?creatorId=1&rowStatus=NORMAL&limit=4";
  fetch(bbUrl)
    .then(res => res.json())
    .then(resdata => {
      var result = '';
      var resultAll = '';
      var data = resdata;
      const TAG_REG = /#([^#\s!.,;:?"'()]+)(?= )/g
  , IMG_REG = /\!\[(.*?)\]\((.*?)\)/g //content 内 md 格式图片
  , LINK_REG = /\[(.*?)\]\((.*?)\)/g
    marked.setOptions({
    breaks: false,
    smartypants: false,
    langPrefix: 'language-',
    headerIds: false,
    mangle: false
  });

  for(var i=0;i < data.length;i++){
      var bbContREG = data[i].content
      .replace(TAG_REG, "")
      .replace(IMG_REG, '')
      .replace(LINK_REG, '<a class="primary" href="$2" target="_blank">$1</a> <img src="https://img.koobai.com/memos/memos_index_link.svg" /> ')
      bbContREG = marked.parse(bbContREG)

    //解析 content 内 md 格式图片
    var IMG_ARR = data[i].content.match(IMG_REG) || '',IMG_ARR_Grid='';
      if(IMG_ARR){
        var IMG_ARR_Length = IMG_ARR.length,IMG_ARR_Url = '';
        if(IMG_ARR_Length !== 1){var IMG_ARR_Grid = " grid grid-"+IMG_ARR_Length}
        IMG_ARR.forEach(item => {
            let imgSrc = item.replace(/!\[.*?\]\((.*?)\)/g,'$1')
            IMG_ARR_Url += '<figure class="gallery-thumbnail"><img loading="lazy" decoding="async" class="img thumbnail-image" loading="lazy" decoding="async" src="'+imgSrc+'"/></figure>'
        });
        bbContREG += '<div class="resimg'+IMG_ARR_Grid+'">'+IMG_ARR_Url+'</div>';
      }
      //TAG 解析
      var tagArr = data[i].content.match(TAG_REG);
      var memosTag = '';
      
      if (tagArr) {
        memosTag = tagArr.map(function(tag) {
          var tagText = String(tag).replace(/[#]/g, '');
          return '<div class="memos-tag-dg"># ' + tagText + '</div>';
        }).join('');
      } else {
        memosTag = '<div class="memos-tag-dg"># 日常</div>';
      }
    
      //解析内置资源文件
      if(data[i].resourceList && data[i].resourceList.length > 0){
        var resourceList = data[i].resourceList;
        var imgUrl='',resUrl='',resImgLength = 0;
        for(var j=0;j < resourceList.length;j++){
          var restype = resourceList[j].type.slice(0,5)
          var resexlink = resourceList[j].externalLink
          var resLink = '',fileId=''
          if(resexlink){
            resLink = resexlink
          }else{
            fileId = resourceList[j].publicId || resourceList[j].filename
            resLink = 'https://memos.koobai.com' + '/o/r/' + resourceList[j].id + '/' + fileId; //解析本地上传图片
          }
          if(restype == 'image'){
            imgUrl += '<figure class="gallery-thumbnail"><img loading="lazy" decoding="async" class="img thumbnail-image" src="'+resLink+'"/></figure>'
            resImgLength = resImgLength + 1 
          }
          if(restype !== 'image'){
            resUrl += '<a target="_blank" rel="noreferrer" href="'+resLink+'">'+resourceList[j].filename+'</a>'
          }
        }
        if(imgUrl){
          var resImgGrid = ""
          if(resImgLength !== 1){var resImgGrid = "grid grid-"+resImgLength}
          bbContREG += '<div class="resimg '+resImgGrid+'">'+imgUrl+'</div></div>'
        }
        if(resUrl){
          bbContREG += '<p class="datasource">'+resUrl+'</p>'
        }
      }
        result += `
  <li class="memos_diaoyong img-hide">
      <div class="memos-diaoyong-tag">${memosTag}</div>
      <div class="memos_diaoyong_info" view-image>${bbContREG}</div>
      <div class="memos_diaoyong_top">
        <div class="memos_diaoyong_time">${moment(data[i].createdTs * 1000).twitterLong()}</div>
              <div class="memos_diaoyong_laiz">
                  <a href="/memos">来自唠叨</a>
              </div>   
          </div>
  </li>`;
        }
        var bbDom = document.querySelector('#momos-ss');
        var bbBefore = "<ul class='momos-sswrap'>";
        var bbAfter = "</ul>"; 
        resultAll = bbBefore + result + bbAfter;
        bbDom.innerHTML = resultAll;

        animateSummaries(); // 在DOM加载完毕后执行滑动加载动画
      });
  });
</script>
<!-- 加载 Markdown 语法-->
<script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>