<link href="https://img.koobai.com/Artalk.css" rel="stylesheet">
<script src="https://img.koobai.com/Artalk.js" defer></script>

{{ if eq .Type "posts" }}
<div id="Comments"></div>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    Artalk.init({
      el:        '#Comments',
      pageKey:   '{{ .Permalink }}',
      pageTitle: '{{ .Title }}',
      server:    '{{ $.Site.Params.artalk.server }}',
      site:      '{{ $.Site.Params.artalk.site }}',
      // ...你的其他配置
    });
  });
</script>
{{ end }}