<div id="heatmap"></div>
<!-- 数据 -->
<div id="tooltip" class="tooltip" style="display: none;"></div>
<script type="text/javascript">
  // 获取最近一年的文章数据
  {{ $pages := where .Site.RegularPages "Date" ">" (now.AddDate -1 0 0) }}
  {{ $pages := $pages.Reverse }}

  const data = {
      "pages": [
          {{ range $index, $element := $pages }}
          {
              "title": "{{ .Title }}",
              "date": "{{ .Date.Format "2006-01-02" }}",
              "url": "{{ .RelPermalink }}",
              "word_count": "{{ .WordCount }}"
          }{{ if ne (add $index 1) (len $pages) }},{{ end }}
          {{ end }}
      ]
  };

  document.addEventListener("DOMContentLoaded", function () {
    const heatmap = document.getElementById("heatmap");
    const fragment = document.createDocumentFragment();
    
    // 创建并添加月份行
    const startDate = getStartDate(), endDate = getEndDate();
    const monthRow = createMonthRow(startDate, endDate);
    fragment.appendChild(monthRow);

    // 创建一个包含所有week的retu_week
    const retu_week = createElementWithClass("div", "retu_week");

    let weekColumn = null, currentWeekNumber = -1;
    
    for (let date = new Date(startDate); date <= endDate; date.setDate(date.getDate() + 1)) {
      const dayOfWeek = date.getDay(), weekNumber = getWeekNumber(date);
      if (dayOfWeek === 0 || weekColumn === null) {
        if (weekNumber !== currentWeekNumber) {
          currentWeekNumber = weekNumber;
          weekColumn = createElementWithClass("div", "week"); // 确认createElementWithClass已经正确定义
          retu_week.appendChild(weekColumn); // 更改这里，将weekColumn添加到retu_week中
        }
      }
      weekColumn.appendChild(createDayElement(date, data.pages));
    }

    fragment.appendChild(retu_week); // 将包含所有week的retu_week添加到fragment
    heatmap.appendChild(fragment);
});

   // 获取月份区间内的所有月份并创建月份元素
   function createMonthRow(start, end) {
    let current = new Date(start);
    current.setDate(1);
    
    const totalDaysInHeatmap = Math.round((end - start) / (1000*60*60*24)) + 1;
    const heatmapWidthPercent = 100;
    const monthRow = createElementWithClass('div', 'month-row');
    
    while (current <= end) {
      const monthElement = document.createElement('div');
      monthElement.className = 'month';
      monthElement.textContent = ('0' + (current.getMonth() + 1)).slice(-2);
      
      const daysInMonth = new Date(current.getFullYear(), current.getMonth() + 1, 0).getDate();
      const monthWidthPercent = (daysInMonth / totalDaysInHeatmap) * heatmapWidthPercent;
      monthElement.style.width = `${monthWidthPercent}%`;
      monthElement.style.position = 'absolute';
      // 根据总宽度和已经过去的天数计算left百分比
      const pastDaysPercent = (((current - start) / (1000*60*60*24)) / totalDaysInHeatmap) * heatmapWidthPercent;
      monthElement.style.left = `${pastDaysPercent}%`;
      
      monthRow.appendChild(monthElement);
      current.setMonth(current.getMonth() + 1);
    }
    
    monthRow.style.position = 'relative';
    return monthRow;
  }

  // 获取开始日期，即9个月前的第一天
  function getStartDate() {
    const today = new Date();
    return new Date(today.getFullYear(), today.getMonth() - 9, 1);
  }

  // 获取结束日期，即当前月的最后一天
  function getEndDate() {
    const today = new Date();
    return new Date(today.getFullYear(), today.getMonth() + 1, 0);
  }

  // 返回给定日期所在年份的第几周
  function getWeekNumber(date) {
    const firstDayOfYear = new Date(date.getFullYear(), 0, 1);
    return Math.ceil(((date - firstDayOfYear) / 86400000 + firstDayOfYear.getDay() + 1) / 7);
  }
  // 确定文章字数级别
  function determineLevel(wordCount) {
    if (wordCount < 100) return "1";
    if (wordCount < 1000) return "2";
    if (wordCount < 1500) return "3";
    return "4";
  }

// 创建每一天的元素
function createDayElement(date, pages) {
  const dayElement = createElementWithClass("div", "day");
  const dateString = formatDate(date);
  const pageData = pages.find(page => page.date === dateString);

  if (pageData) {
    const wordCount = parseInt(pageData.word_count);
    dayElement.classList.add("level-" + determineLevel(wordCount));
  } else {
    dayElement.classList.add("no-data");
  }

  // 给所有格子（无论是否有数据）都绑定鼠标事件监听器来显示日期
  addTooltipEventListeners(dayElement, dateString, pageData);

  return dayElement;
}

// 修改添加事件监听，以便无数据时也显示日期
function addTooltipEventListeners(dayElement, dateString, pageData) {
  dayElement.addEventListener("mouseenter", function(event) {
    if (pageData) {
      showTooltip(event, `${dateString}<br><a href='${pageData.url}'>${pageData.title}</a>`);
    } else {
      // 如果没有页面数据，只显示日期
      showTooltip(event, `${dateString} 稿子丢了`);
    }
  });
  dayElement.addEventListener("mouseleave", function() {
    hideTooltip();
  });
}

  // 格式化日期为"YYYY-MM-DD"格式的函数
  function formatDate(date) {
    return `${date.getUTCFullYear()}-${('0' + (date.getUTCMonth() + 1)).slice(-2)}-${('0' + date.getUTCDate()).slice(-2)}`;
  }

  // 显示提示框的函数，确保tooltip只被创建一次
  function showTooltip(event, content) {
    let tooltip = document.getElementById('tooltip');
    if (!tooltip) {
      tooltip = document.createElement('div');
      tooltip.id = 'tooltip';
      document.body.appendChild(tooltip);
    }
    tooltip.innerHTML = content;
    tooltip.style.display = 'block';
    tooltip.style.left = `${event.pageX + 1}px`;
    tooltip.style.top = `${event.pageY - 40}px`;
    tooltip.style.position = 'absolute';

    // 确保浮层显示时鼠标能移入
    tooltip.onmouseenter = tooltip.onmouseleave = function(e) {
      tooltip.style.display = (e.type === 'mouseenter') ? 'block' : 'none';
    };
  }

  // 隐藏提示框的函数，现在不需要参数
  function hideTooltip() {
    let tooltip = document.getElementById('tooltip');
    if (tooltip && !tooltip.matches(':hover')) tooltip.style.display = 'none';
  }

  // 创建具有特定类的新元素
  function createElementWithClass(elementType, className, id) {
    let element = document.createElement(elementType);
    if(className) element.classList.add(className);
    if(id) element.id = id;
    return element;
  }
</script>