<div class="month"></div>
<div id="heatmap"></div>

<script type="text/javascript">
  // 获取最近一年的文章数据
  {{ $pages := where .Site.RegularPages "Date" ">" (now.AddDate -1 0 0) }}
  {{ $pages := $pages.Reverse }}
  var blogInfo = {
      "pages": [
          {{ range $index, $element := $pages }}
              {
                  "title": "{{ .Title }}",
                  "date": "{{ .Date.Format "2006-01-02" }}",
                  "url": "{{ .RelPermalink }}",
                  "word_count": "{{ .WordCount }}"
              }{{ if ne (add $index 1) (len $pages) }},{{ end }}
              {{ end }}
      ]
  };

  let currentDate = new Date();
  currentDate.setFullYear(currentDate.getFullYear() - 1);

  let startDate;

    let monthDiv = document.querySelector('.month');
    let monthNames = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];

    // 计算39周前的日期
    let weeksAgo39 = new Date();
    weeksAgo39.setDate(weeksAgo39.getDate() - 39 * 7); // 往前推39周

    let currentMonth = new Date().getMonth(); // 当前月份
    let startMonth = weeksAgo39.getMonth(); // 39周前的月份

    // 计算需要展示的月份数量
    // 这里我们假定展示从39周前的月份到当前月份的所有月份
    let numMonths;
    if (startMonth <= currentMonth) {
        numMonths = currentMonth - startMonth + 1;
    } else {
        numMonths = 12 - startMonth + currentMonth + 1;
    }

    // 显示月份
    for (let i = 0; i < numMonths; i++) {
        let monthIndex = (startMonth + i) % 12;
        let monthSpan = document.createElement('span');
        monthSpan.textContent = monthNames[monthIndex];
        monthDiv.appendChild(monthSpan);
    }

  var weekDays = ['周日', '周一', '周二', '周三', '周四', '周五', '周六'];

  function getStartDate() {
    const numWeeksToShow = 39; // 显示的周数
    const today = new Date();
    today.setHours(0, 0, 0, 0); // 将时间设置为午夜（00:00:00）来避免时间差异

    // 获取当天是星期几（星期日为0，星期六为6），调整到星期一开始
    const dayOfWeek = today.getDay();
    // 如果今天是星期日，我们将它看做是上一周的最后一天
    const daysSinceMonday = (dayOfWeek === 0 ? 6 : dayOfWeek - 1);

    // 计算今天到上个星期一的天数
    const daysToLastMonday = daysSinceMonday + ((numWeeksToShow - 1) * 7);

    let startDate = new Date(today.setDate(today.getDate() - daysToLastMonday));

    return startDate;
}

  function getWeekDay(date) {
      const day = date.getDay();
      return day === 0 ? 6 : day - 1;
  }

  function createDay(date, title, count, post) {
      const day = document.createElement("div");

      day.className = "heatmap_day";

      day.setAttribute("data-title", title);
      day.setAttribute("data-count", count);
      day.setAttribute("data-post", post);
      day.setAttribute("data-date", date);

      day.addEventListener("mouseenter", function () {
          const tooltip = document.createElement("div");
          tooltip.className = "heatmap_tooltip";

          let tooltipContent = "";
          const dayDate = new Date(date); // 将传入的日期字符串转换为Date对象
          const weekDay = weekDays[dayDate.getDay()]; // 获取星期信息
          if (date && count && parseInt(count, 10) !== 0) {
            // 添加星期信息
            tooltipContent += '<div>' + date + ' ' + weekDay + '</div>';
        } else if (date) {
            tooltipContent += '<div>' + date + ' ' + weekDay + ' 稿子丢了' + '</div>';
        }

          if (title && parseInt(title, 10) !== 0) {
            const articleData = blogInfo.pages.find(page => page.title === title);
            if (articleData) {
                tooltipContent += '<div class="heatmap_tooltip_title"><a href="' + articleData.url + '">' + title + '</a></div>';
            }
        }

          tooltip.innerHTML = tooltipContent;
          day.appendChild(tooltip);
      });

      day.addEventListener("mouseleave", function () {
          const tooltip = day.querySelector(".heatmap_tooltip");
          if (tooltip) {
              day.removeChild(tooltip);
          }
      });

        if (count == 0) {
            day.classList.add("heatmap_day_level_0");
        } else if (count > 0 && count < 100) {
            day.classList.add("heatmap_day_level_1", "retu-hide");
        } else if (count >= 100 && count < 1000) {
            day.classList.add("heatmap_day_level_2", "retu-hide");
        } else if (count >= 1000 && count < 1500) {
            day.classList.add("heatmap_day_level_3", "retu-hide");
        } else {
            day.classList.add("heatmap_day_level_4", "retu-hide");
        }

      return day;
  }

  function createWeek() {
      const week = document.createElement('div');
      week.className = 'heatmap_week';
      return week;
  }

  function createHeatmap() {
    const container = document.getElementById('heatmap');
    const startDate = getStartDate();
    const endDate = new Date();
    // 将结束日期设置为今天的最后一分钟来确保包括今天所有的文章
    endDate.setHours(23, 59, 59, 999);

    // 创建一个临时日期用来遍历和生成热图的天数
    let currentDate = new Date(startDate.getTime());

    // 准备生成热图的所有“周”容器
    let currentWeek = document.createElement('div');
    currentWeek.className = 'heatmap_week';
    container.appendChild(currentWeek);

    let daysCount = 0;

    // 遍历日期直到结束日期
    while (currentDate <= endDate) {
        // 每七天创建一个新的“周”容器
        if (daysCount % 7 === 0 && daysCount !== 0) {
            currentWeek = document.createElement('div');
            currentWeek.className = 'heatmap_week';
            container.appendChild(currentWeek);
        }

        // 格式化当前日期为YYYY-MM-DD格式
        const dateString = `${currentDate.getFullYear()}-${("0" + (currentDate.getMonth()+1)).slice(-2)}-${("0" + (currentDate.getDate())).slice(-2)}`;
        // 检索对应日期的文章数据
        const articleDataList = blogInfo.pages.filter(page => page.date === dateString);

        // 根据文章数据创建热图的“天”
        if (articleDataList.length > 0) {
            const titles = articleDataList.map(data => data.title);
            const titlesString = titles.map(title => `${title}`).join('<br />');

            const count = articleDataList.reduce((acc, data) => acc + parseInt(data.word_count, 10), 0);

            const dayElem = createDay(dateString, titlesString, count);
            currentWeek.appendChild(dayElem);
        } else {
            const dayElem = createDay(dateString, '', 0);
            currentWeek.appendChild(dayElem);
        }

        // 将currentDate增加一天
        currentDate.setDate(currentDate.getDate() + 1);

        // 增加天数计数器
        daysCount++;
    }
}

createHeatmap();
</script>