{{ $goods := getJSON "static/suju/photo.json" }}
<div class="photo-quanju photo-index">
  {{ $shuffledGoods := shuffle $goods.good | first 3 }}
  {{ range $index, $photo := $shuffledGoods }}
    <div class="photo-moment img-hide">   
      {{ if $photo.video }}
        <div class="photo_video">
          <video
            class="video-source"
            id="TopGif"
            width="100%"
            height="100%"
            style="object-fit: cover"
            webkit-playsinline="true"
            x-webkit-airplay="true"
            playsinline="true"
            x5-video-player-type="h5"
            x5-video-orientation="h5"
            x5-video-player-fullscreen="true"
            preload="auto"
            autoplay="true"
            loop=""
            muted=""
          >
            <source src="{{ $photo.video }}" type="video/mp4" />
          </video>
        </div>
      {{ else }}
        <a href="{{ .img }}">
          <img src="{{ .imgSmall }}" alt="{{ .title }}">
        </a> 
      {{ end }}
      <div class="photo-moment-title">{{ .title }}</div>
    </div>
  {{ end }}
</div>