.site-footer-wrapper {
  margin-top: 40px;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .site-footer-wrapper {
    margin-bottom: 160px;
  }
}

.site-footer-inner {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  text-align: center;
  padding: 15px 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) .site-footer-inner {
    border-top-color: rgba(255, 255, 255, 0.05);
  }
}

html[data-theme="dark"] .site-footer-inner {
  border-top-color: rgba(255, 255, 255, 0.05);
}

.site-footer-inner .footer-info {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--text-info-color);
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) .site-footer-inner .footer-info {
    color: var(--text-info-dark-color);
  }
}

html[data-theme="dark"] .site-footer-inner .footer-info {
  color: var(--text-info-dark-color);
}

.site-footer-inner .footer-info a {
  color: inherit;
}
