*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--background-body-color);
  font-family: var(--font-stack-system);
  color: var(--text-content-color);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 840px;
  margin: 10px auto 0;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .wrapper {
    margin-top: 60px;
    padding: 0 20px;
  }
}

::selection {
  background: var(--theme-selection-background);
}

a {
  text-decoration: none;
  color: var(--text-content-color);
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

img {
  filter: var(--theme-image-filter);
}
