@import "tokens.css";
@import "normalize.css";
@import "header.css";
@import "footer.css";
@import "single.css";
@import "intro.css";
@import "mobile.css";
{{ if partial "jingzhe/feature-enabled.html" "movies" }}
@import "movies.css";
{{ end }}
@import "about.css";
@import "list.css";
@import "zouguo.css";
{{ if partial "jingzhe/feature-enabled.html" "exercise" }}
@import "exercise.css";
{{ end }}
@import "laodao.css";
{{ if partial "jingzhe/feature-enabled.html" "publisher" }}
@import "newlaodao.css";
@import "newsuibi.css";
{{ end }}
@import "syntax.css";
{{ if partial "jingzhe/feature-enabled.html" "social" }}
@import "comments.css";
{{ end }}
@import "global.css";

{{ with site.Params.assets.fontRegularUrl }}@font-face {
  font-family: "GeistMono";
  font-display: swap;
  font-weight: 400;
  src:
    local("Geist Mono"),
    local("GeistMono"),
    url("{{ . }}") format("woff2");
  unicode-range: U+0021-00FF;
}{{ end }}

{{ with site.Params.assets.fontBoldUrl }}@font-face {
  font-family: "GeistMono";
  font-display: swap;
  font-weight: 700;
  src:
    local("Geist Mono Bold"),
    local("GeistMono-Bold"),
    url("{{ . }}") format("woff2");
  unicode-range: U+0021-00FF;
}{{ end }}
