{{- define "main" }}

<div class="intro">
  <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
</div>

<div class="pagetitle">一款合适的软件，在工作中能成为很好的生产力工具，让工作事半功倍；在生活中能成为很好的消遣工具，让生活充满多姿多彩。以下为日常工作生活中所常用：(2023-02-22 更新)</div>

<div class="appdquanjudiv">

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/transmit.png> </div>
<div class="appwenben">
<div class="apptitle">Transmit</div>
<div class="appnote">FTP上传软件，最近买了轻量服务器，尝试了下了。使用主要原因就是界面跟图标很漂亮。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/sketch.png> </div>
<div class="appwenben">
<div class="apptitle">Sketch</div>
<div class="appnote">2022年做项目才开始学会使用，画稿利器。虽然现在大家都用Figma，但还是得看环境使用，适合自己才是最好的。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/pixelmator.png> </div>
<div class="appwenben">
<div class="apptitle">Pixelmator Pro</div>
<div class="appnote">一直使用Photoshop，在想有没有平替，于是发现了这款轻量级软件，整体操作及快捷键跟ps差不多，还在摸索中～～</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/ai.png> </div>
<div class="appwenben">
<div class="apptitle">Illustrator 2022</div>
<div class="appnote">Adobe的矢量软件，平常主要用于素材的修改调整，只会基本的功能。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/eagle.png> </div>
<div class="appwenben">
<div class="apptitle">Eagle</div>
<div class="appnote">素材管理软件，支持各类格式。很多年前就已购买，设计师应该人手备一个。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/mindnode.png> </div>
<div class="appwenben">
<div class="apptitle">Mindnode</div>
<div class="appnote">思维导图软件，单纯因为它的颜值才入手的，使用起来也方便简单。</div>
<span class="macos">macOS</span>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/typora.png> </div>
<div class="appwenben">
<div class="apptitle">Typora</div>
<div class="appnote">搭建了Nas之后，想着数据都存本地，这才发现它，界面自定义之后，用着非常舒服。同类型的软件还有“妙言”。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/1writer.png> </div>
<div class="appwenben">
<div class="apptitle">1Writer</div>
<div class="appnote">同样也是Markdown软件，主要通过它的WebDav功能，连接Nas查看Typota所写的记录。</div>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/surge.png> </div>
<div class="appwenben">
<div class="apptitle">Surge</div>
<div class="appnote">上网必备软件，已使用多年。虽然现在同质化的软件很多，但已使用习惯，主要还支持iCloud同步。</div>
<span class="macos">macOS</span>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/bob.png> </div>
<div class="appwenben">
<div class="apptitle">Bob</div>
<div class="appnote">翻译必备软件，支持各种翻译形式。如果自己申请各大平台翻译密钥，配置好之后，日常翻译非常方便。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/maccy.png> </div>
<div class="appwenben">
<div class="apptitle">Maccy</div>
<div class="appnote">剪贴板管理软件，能记录多次的复制内容，方便随时调取使用。免费开源。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/maczip.png> </div>
<div class="appwenben">
<div class="apptitle">MacZip</div>
<div class="appnote">压缩软件，已使用多年，免费，是不是开源，忘了。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/monitorcontrol.png> </div>
<div class="appwenben">
<div class="apptitle">MonitorControl</div>
<div class="appnote">调整显示器亮度软件，适合外接显示器使用。鼠标在哪个显示屏，调整就是哪个显示屏的亮度。免费开源。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/hidden.png> </div>
<div class="appwenben">
<div class="apptitle">Hidden Bar</div>
<div class="appnote">隐藏菜单栏图标软件，菜单栏图标过多的时候，使用它非常不错。免费开源。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/rectangle.png> </div>
<div class="appwenben">
<div class="apptitle">Rectangle</div>
<div class="appnote">调整窗口大小软件，用快捷键方式让窗口根据需要分屏。免费开源。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/bitwarden.png> </div>
<div class="appwenben">
<div class="apptitle">Bitwarden</div>
<div class="appnote">密码管理工具，服务器使用Docker版的vaultwarden，数据存储本地，再也不用记该死的密码了。免费开源。</div>
<span class="macos">macOS</span>
<span class="ios">iOS</span>
<span class="web">Web</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/appcleaner.png> </div>
<div class="appwenben">
<div class="apptitle">AppCleaner</div>
<div class="appnote">卸载app工具，使用了多年，能把软件相关文件都能查找出来，比直接删除干净很多。免费开源。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/sublime.png> </div>
<div class="appwenben">
<div class="apptitle">Sublime Text</div>
<div class="appnote">文本编辑软件，搞博客就靠它了，只会用它的分颜色显示，对我来说就是最大用处，不然密密麻麻的字母真看不清。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/firefox.png> </div>
<div class="appwenben">
<div class="apptitle">Firefox</div>
<div class="appnote">一直在使用Google Chrome，最近用了下Firefox，发现打开网站速度似乎比chrome快，那就再继续尝试下～～</div>
<span class="macos">macOS</span>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/iina.png> </div>
<div class="appwenben">
<div class="apptitle">IINA</div>
<div class="appnote">视频播放软件，并且支持IPTV播放。免费开源。</div>
<span class="macos">macOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/youtube.png> </div>
<div class="appwenben">
<div class="apptitle">Youtube</div>
<div class="appnote">没什么说的，关注你喜欢的视频频道。</div>
<span class="ios">iOS</span>
<span class="tvos">tvOS</span>
<span class="web">Web</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/infuse.png> </div>
<div class="appwenben">
<div class="apptitle">Infuse</div>
<div class="appnote">如果你有apple tv，那它就是必备软件。可以让你的视频流以海报的形式展示，并且支持各类格式。</div>
<span class="macos">macOS</span>
<span class="ios">iOS</span>
<span class="tvos">tvOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/netflix.png> </div>
<div class="appwenben">
<div class="apptitle">Netflix</div>
<div class="appnote">流媒体视频软件，缺点就是每个月的订阅费确实蛮贵。独自订阅几个月后，在合租平台租了个合租号。</div>
<span class="ios">iOS</span>
<span class="tvos">tvOS</span>
<span class="web">Web</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/xiaoyuz.png> </div>
<div class="appwenben">
<div class="apptitle">小宇宙</div>
<div class="appnote">播客应用，其实很少听博客，但在开车的时候，放着声音很不错。</div>
<span class="ios">iOS</span>
<span class="web">Web</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/home.png> </div>
<div class="appwenben">
<div class="apptitle">家庭</div>
<div class="appnote">家里接入了不少的智能设备，买的是小米系，日常除了使用米家之外，可通过Home assistant接入HomeKit。</div>
<span class="macos">macOS</span>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/tinycal.png> </div>
<div class="appwenben">
<div class="apptitle">小历</div>
<div class="appnote">一款日历的组件，使用了很多年，主要用来查看农历跟日常的节假日。</div>
<span class="macos">macOS</span>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/telegram.png> </div>
<div class="appwenben">
<div class="apptitle">Telegram</div>
<div class="appnote">关注你想关注的，你能想到的资源都有。</div>
<span class="macos">macOS</span>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/tianqi.png> </div>
<div class="appwenben">
<div class="apptitle">彩云天气</div>
<div class="appnote">一段时间内，特别喜欢收集天气类app，只要看着好看就下载，最终留下了这款，可能因为它数据相对准确。</div>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/sms.png> </div>
<div class="appwenben">
<div class="apptitle">熊猫吃短信</div>
<div class="appnote">过滤垃圾信息必备，iOS相关的过滤真是太垃圾了，羡慕隔壁的Android。</div>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/vvebo.png> </div>
<div class="appwenben">
<div class="apptitle" style="text-decoration:line-through">VVebo</div>
<div class="appnote">第三方微博工具，同类型的还有墨客。不可抗力的都已下架。但用了很多年，比官方的好用不少，可惜了～～</div>
<span class="ios">iOS</span>
</div>
</div>

<div class="appquanju">
<div class="appimg"><img src=https://img.koobai.com/app/more.png> </div>
<div class="appwenben">
<div class="apptitle">更多。。</div>
<div class="appnote">更多日常常用的，如微信、支付宝、高德地图、豆瓣、各类购物相关、各类政务办事相关等等，就不在这里分享。</div>
<span class="macos">macOS</span>
<span class="ios">iOS</span>
</div>
</div>

</div>

<div class="pinglun">已经浏览到这里了，不留下点什么？</div>
<div class="article-comments">
  {{- partial "artalk" . -}}
</div>
  
{{- end }}{{/* end main */}}