
{{- define "main" }}
  <div class="intro">
  <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
</div>
  {{ range (.Site.RegularPages.GroupByDate "2006") }}
  <h2>
    {{ .Key }}年<sup>&nbsp;&nbsp;{{ len .Pages }}</sup>
  </h2>

  {{- range .Pages.GroupByDate "1" }}
    <h3>
     {{- .Key }}月
      <sup>&nbsp;{{ len .Pages }}</sup>
    </h3>
      {{- range .Pages }}
      {{- if eq .Kind "page" }}
       <div class="archive-time">{{ .Date.Format "2006-01-02" }}</div>
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      {{- end }}
      {{- end }} 
  {{- end }} 
  {{ end }}
{{- end }}{{/* end main */}}