<div class="summary">
  {{ if .Site.Params.showAuthorOnPosts }}
    {{ partial "author.html" . }}
  {{ else }}
    <div class="summary-date">{{ .Date.Format "2006-01-02" }}</div>
  {{ end }}
  <h2 class="summary-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <p class="summary-description">{{ .Params.description }}</p>
  {{ if not .Params.hideReadMore }}
  <div><a class="read-more" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "浏览全文..." }}</a></div>
  {{ end }}
</div>