{{- $runtimeServices := dict -}}
{{- if partial "jingzhe/feature-enabled.html" "social" -}}
  {{- $runtimeServices = merge $runtimeServices (dict "social" site.Params.services.social) -}}
{{- end -}}
{{- if partial "jingzhe/feature-enabled.html" "publisher" -}}
  {{- $runtimeServices = merge $runtimeServices (dict "publisher" site.Params.services.publisher) -}}
{{- end -}}
{{- if partial "jingzhe/feature-enabled.html" "exercise" -}}
  {{- $runtimeServices = merge $runtimeServices (dict "exercise" site.Params.services.exercise) -}}
{{- end -}}
{{- $runtimeConfig := dict "features" (site.Params.features | default dict) "services" $runtimeServices -}}
<script>window.JINGZHE_CONFIG = {{ $runtimeConfig | jsonify | safeJS }};</script>
