{{ define "body_classes" }}page-hardware{{ end }}
{{ define "main" }}
{{ $goods := getJSON "static/suju/hardware.json" }}
<div class="pagetitle">一件称心的产品，从收到包裹那一刻就开始心潮澎湃，到日积月累逐步成为靠谱的伙伴，时刻让你的工作生活充满期待。以下为正在使用中的产品：<br />( 2023-11-12 更新 )</div>
<div class="quanju">
  {{ range $goods.good}}
  <div class="bankuai img-hide">
    <div class="note">{{ .note }}</div>
    <div class="duiqi img-hide"><img loading="lazy" decoding="async" src="{{ .image }}"></div>
    <!--<a href="{{ .link }}" target="_blank"><div class="details">{{ .details }}</div></a>-->
    <div class="hardware-text">
    <div class="hardware-title"><a href="/tiaozhuan?target={{ .link | base64Encode }}" target="_blank">{{ .title }}</a></div>
    <div class="hardware-jiage">{{ .jiage }}</div>
    </div>
    <div class="liing_2_right"><a href="{{ .link_2 }}" target="_blank"><div class="tiyi">{{ .tiyi }}</div></a></div> 
    </div>
  {{ end }}
  </div>
{{ end }}