name: douban
on: 
  workflow_dispatch:
 # schedule:
 #   - cron: '0 18 * * *'

jobs:
  douban:
    name: Douban mark data sync
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: movie
      uses: lizheming/doumark-action@master
      with:
        id: jnnsu
        type: movie
        format: csv
        dir: ./assets

    - name: Commit
      id: commit_step
      uses: EndBug/add-and-commit@v9
      with:
        message: 'chore: update douban data'
        add: './assets'
        
   # - name: Trigger Blog
   #   if: steps.commit_step.outputs.committed == 'true'
   #   uses: actions/github-script@v6
   #   with:
   #     github-token: ${{ secrets.GITHUB_TOKEN }}
   #     script: |
   #       github.rest.actions.createWorkflowDispatch({
   #         owner: context.repo.owner,
   #         repo: context.repo.repo,
   #         workflow_id: 'githubblog.yml',
   #         ref: 'main'
   #       })