<div class="header-background">
<div class='header'>
  <a href="{{ .Site.Home.RelPermalink }}" class="header-logo"><img src="https://img.koobai.com/photo/koobai.webp" alt="koobai" /></a>
  <a href="{{ .Site.Home.RelPermalink }}" class="header-title">{{ .Site.Title }}</a>
  <div class="menu-main"> 
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
    {{ $active = or $active (eq (.URL | relLangURL) ($currentPage.RelPermalink | relLangURL)) }}
    <div class="header-menu">
      <a href="{{.URL}}">{{ .Name }}</a>
    </div>
    {{end}}
    <a href="/index.xml" target="_blank" data-umami-event="Rss"><img class="header-rss" src="https://img.koobai.com/rss.svg" alt="RSS" /></a><a href="mailto:mekoobai@gmail.com"><img class="header-rss" src="https://img.koobai.com/email.svg" alt="E-mail" /></a>
</div>
  <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
  </div>
</div>
</div>
<!--相对时间-->
<script src="/js/moment.min.js?v=2.29.4"></script>
<script src="/js/moment.twitter.min.js"></script>
<script>
  function formatDate(param) {
  var timestamp;
  if(typeof param === 'number') { 
    timestamp = param * 1000;
  } else if(typeof param === 'string') {
    timestamp = new Date(param).getTime(); 
  }
  var format = moment(timestamp).twitterLong();
  format = format.replace(/ \d{2}:\d{2}/, ''); //注释掉小时分钟
  return format;
  }
</script>